<!-- Bootstrap -->
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="lib/html5shiv/html5shiv.min.js"></script>
		<script src="lib/respondjs/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<div class="preloader">
  <div class="la-ball-pulse la-2x">
   <div></div>
   <div></div>
   <div></div>
  </div>
 </div>
	<header>
		<div id="headerMain">
			<div id="header">
				<div class="nawbarMain  headerWrapper clearfix">
					<div class="nawbarMainLeft ">
					<div class="mainLogo">				
		                </div><!--mainLogo-->	
						<div class="nawbarMainButtonWrapper">
							<button id="menuIcon" class="hamburger">
								<span></span>
							</button>
						</div>
						<div class="headerLogo">
							<a href="index.html">Superial Admin</a>
						</div>
						<!--headerLogo-->
					</div>
					<!--nawbarMainLeft-->
					<div class="nawbarMainRight">
						<ul class="nawbarMainMenu">
							<li><a id="toggle-link" class="reminderIcon  hvr-rectangle-out"><i class="fa fa-bell"></i></a></li>
							<li><a id="toggle-link1" class="mailboxIcon  hvr-rectangle-out"><i class="fa fa-envelope"></i><span class="badge myColor">4</span></a></li>
							<li><a id="toggle-link2" class="latestActivityIcon  hvr-rectangle-out"><i class="fa fa-calendar"></i></a></li>
						</ul>
						<div class="dropdown nawbarMainMenuSmallLeft">
							<span class="dropdown-toggle dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="button">
                                <i class="fa fa-ellipsis-v"></i>
                                </span>
							<ul class="dropdown-menu">
								<li><a href="#" id="toggle-link3" class="reminderIcon"><span class="headerMenuIconIndigo"><i class="fa fa-bell"></i></span>Reminder</a></li>
								<li><a href="#" id="toggle-link4" class="mailboxIcon"><span class="headerMenuIconIndigo"><i class="fa fa-envelope"></i></span>Mailbox <span class="badge">4</span></a></li>
								<li><a href="#" id="toggle-link5" class="latestActivityIcon"><span class="headerMenuIconIndigo"><i class="fa fa-calendar"></i></span>Activity</a></li>
							</ul>
						</div>
					</div>
					<!--nawbarMainRight-->
					<div id="sb-search" class="sb-search">
						<form>
							<input class="sb-search-input" placeholder="Enter search" type="search" value="" name="search" id="search">
							<input class="sb-search-submit" type="submit" value="">
							<span class="sb-icon-search"></span>
						</form>
					</div>
					<div class="latestActivity">
						<div class="latestActivityHeader colorCyan clearfix">
							<div class="antBoxHeaderText">
								<span class="mainIcon"><i class="fa fa-calendar"></i></span><span class="mainContent">latest activity</span>
							</div>
							<!--mantBoxHeaderTexText-->
							<div class="antBoxHeaderIcon">
								<a class="closelatestActivity pull-right" href="#"><i class="fa fa-times"></i></a>
							</div>
							<!--antBoxHeaderIcon-->
						</div>
						<!--latestActivityHeader-->
						<div id="latestActivityContent">
							<div class="latestActivityAntWrapper">
								<div class="latestActivityAntContent">
									<div class="latestActivityAntContentHeader">
										<span class="point"></span> Today, 15:30
									</div>
									<div class="latestActivityAntContentText">
										<span class="latestActivityAntContentTextHeader"> New invoice submited </span>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et</p>
									</div>
									<!--latestActivityAntContentText-->
								</div>
								<!--latestActivityAntContent-->
							</div>
							<!--latestActivityAntWrapper-->
							<div class="latestActivityAntWrapper">
								<div class="latestActivityAntContent">
									<div class="latestActivityAntContentHeader">
										<span class="point"></span> Today, 14:45
									</div>
									<div class="latestActivityAntContentText">
										<span class="latestActivityAntContentTextHeader"> Order placed</span>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus etLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et</p>
									</div>
									<!--latestActivityAntContentText-->
								</div>
								<!--latestActivityAntContent-->
							</div>
							<!--latestActivityAntWrapper-->
							<div class="latestActivityAntWrapper">
								<div class="latestActivityAntContent">
									<div class="latestActivityAntContentHeader">
										<span class="point"></span> Yesterday, 17:46
									</div>
									<div class="latestActivityAntContentText">
										<span class="latestActivityAntContentTextHeader"> Price Change </span>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
									</div>
									<!--latestActivityAntContentText-->
								</div>
								<!--latestActivityAntContent-->
							</div>
							<!--latestActivityAntWrapper-->
						</div>
						<!--latestActivityContent-->
						<button type="button" class="latestActivityButton btn btn-success btn-df float-button-light">Load more</button>
					</div>
					<!--latestActivity-->
					<div class="mailboxShow">
						<div class="mailboxHeader clearfix colorPurpule">
							<div class="antBoxHeaderText">
								<span class="mainIcon"><i class="fa fa-envelope"></i></span><span class="mainContent"> Email income</span>
							</div>
							<!--mantBoxHeaderTexText-->
							<div class="antBoxHeaderIcon">
								<a class="closeMailbox pull-right" href="#"><i class="fa fa-times"></i></a>
							</div>
							<!--antBoxHeaderIcon-->
						</div>
						<!--commentsHeader-->
						<div id="mailboxContent">
							<div class="mailBoxContentAnt">
								<div class="mailBoxContentAntIcon">
									<div class="mailIconHolder ">
										<img src="img/user2.jpg" alt="user1" class="img-circle">
									</div>
									<!--mailIconHolder-->
								</div>
								<!--mailBoxContentAntIcon-->
								<div class="mailBoxContentAntContent">
									<span>Andy Opaits</span>&nbsp;/&nbsp; <span class="mailTime mainMailColor">Today 14:50 <a href=""><i class="fa fa-thumb-tack"></i></a></span>
									<a href="mail_detail.html" class="mailboxWatch "> 
                                <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget consequat.</p> 
                                  </a>
								</div>
								<!--mailBoxContentAntContent-->
							</div>
							<!--mailBoxContentAnt-->
							<div class="mailBoxContentAnt">
								<div class="mailBoxContentAntIcon">
									<div class="mailIconHolder ">
										<img src="img/user3.jpg" alt="user1" class="img-circle">
									</div>
									<!--mailIconHolder-->
								</div>
								<!--mailBoxContentAntIcon-->
								<div class="mailBoxContentAntContent">
									<span>Amily Opaits</span>&nbsp;/&nbsp; <span class="mailTime mainMailColor">Today 13:40 <a href=""><i class="fa fa-thumb-tack"></i></a></span>
									<a href="mail_detail.html" class="mailboxWatch "> 
                                <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget consequat.</p> 
                                </a>
								</div>
								<!--mailBoxContentAntContent-->
							</div>
							<!--mailBoxContentAnt-->
							<div class="mailBoxContentAnt">
								<div class="mailBoxContentAntIcon">
									<div class="mailIconHolder twitterColor">
										<i class="fa fa-twitter"></i>
									</div>
									<!--mailIconHolder-->
								</div>
								<!--mailBoxContentAntIcon-->
								<div class="mailBoxContentAntContent">
									<span>Twitter</span>&nbsp;/&nbsp; <span class="mailTime mainMailColor">Today 12:30 <a href=""><i class="fa fa-thumb-tack"></i></a></span>
									<a href="mail_detail.html" class="mailboxWatch "> 
                                <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget consequat.</p> 
                                </a>
								</div>
								<!--mailBoxContentAntContent-->
							</div>
							<!--mailBoxContentAnt-->
							<div class="mailBoxContentAnt">
								<div class="mailBoxContentAntIcon">
									<div class="mailIconHolder googleColor">
										<i class="fa fa-google-plus"></i>
									</div>
									<!--mailIconHolder-->
								</div>
								<!--mailBoxContentAntIcon-->
								<div class="mailBoxContentAntContent">
									<span>Google +</span>&nbsp;/&nbsp; <span class="mailTime mainMailColor">Today 11:35 <a href=""><i class="fa fa-thumb-tack"></i></a></span>
									
									<a href="mail_detail.html" class="mailboxWatch "> 
                                <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget consequat.</p> 
                                </a>
								</div>
								<!--mailBoxContentAntContent-->
							</div>
							<!--mailBoxContentAnt-->
						</div>
						<!--mailboxContent-->
						<button type="button" class="btn btn-info btn-df float-button-light  latestActivityButton">LOAD MORE</button>
						
					</div>
					<div class="reminderShow colorPink">
						<div class="reminderHeader clearfix ">
							<a class="closeReminde pull-right" href="#"><i class="fa fa-times"></i></a>
						</div>
						<!--commentsHeader-->
						<div class="carouselWrapper">
							<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox">
									<div class="item active">
										<div class="carouselContent">
											<h5>12/09/2015</h5>
											<h6>5:30 PM</h6>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
										</div>
										<!--carouselContent-->
										<div class="carousel-caption">
										</div>
									</div>
									<div class="item ">
										<div class="carouselContent">
											<h5>14/09/2015</h5>
											<h6>10:40 AM</h6>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
										</div>
										<!--carouselContent-->
										<div class="carousel-caption">
										</div>
									</div>
									<div class="item">
										<div class="carouselContent">
											<h5>15/09/2015</h5>
											<h6>7:25 PM</h6>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
										</div>
										<!--carouselContent-->
										<div class="carousel-caption">
										</div>
									</div>
								</div>
								<!-- Controls -->
								<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
									<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								</a>
								<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
									<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>
							</div>
						</div>
						<!--carouselWrapper-->
					</div>
					<!--reminderShow-->
				</div>
				<!--nawbarMain-->
			</div>
			<!--header-->
		</div>
		<!--headerMain -->
	</header>
	
	<div class="mainWrapper">
		<div id="sideBarWrapper">
			<div id="sideBarContent">
				<div id="bar" class="sideBar sideBarDark">
					<!-- start sitebar-->
					<div class="sideBarUser">
						<div class="sideBarUserConteiner">
							<div class="sideBarUserConteinerImg">
								<img src="img/userProfilLarge.jpg" alt="UserInfo" class="userimg">
							</div>
							<!--sideBarUserConteinerImg-->
							<div class="sideBarUserConteinerText">
								<span class="userInfo"><a href="user.html">Olga Lutskova </a><br><i class="fa fa-map-marker"></i> NY, Manhattan </span>
							</div>
							<!--sideBarUserConteinerText-->
						</div>
						<!--sideBarUserConteiner-->
					</div>
					<div id="menuContent">
						<div id="menuSize">
							<aside class="sidebar">
								<nav class="sidebar-nav">
									<ul class="metismenu" id="menu">
										<li>
											<a href="#" aria-expanded="true">
												<span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
												<span class="sidebar-nav-item">Dashboards</span>
												<span class="fa arrow"></span>
											</a>
											<ul aria-expanded="true" class="collapse">
												<li>
													<a href="index.html">Dashboard 1</a>
												</li>
												<li>
													<a href="dashboard2.html">Dashboard 2</a>
												</li>
												<li>
													<a href="dashboard3.html">
                                                    Dashboard 3
                                                    </a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#" aria-expanded="true">
												<span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
												<span class="sidebar-nav-item">Charts</span>
												<span class="fa arrow"></span>
											</a>
											<ul aria-expanded="false" class="collapse">
												<li>
													<a href="chartjs.html">
                                                      Chart.js
                                                    </a>
												</li>
												<li>
													<a href="flotchart.html">
                                                    Flotchart
                                                    </a>
												</li>
												<li>
													<a href="morrischart.html">
                                                    Morrischart <span class="badge colorCyan pull-right">3</span>
                                                    </a>
												</li>
												<li>
													<a href="sparklineschart.html">
                                                    Sparklineschart 
                                                    </a>
												</li>
											</ul>
										</li>
										<li>
											<a href="gallery.html"><span class="glyphicon glyphicon-camera"></span>
                                             Gallery
                                            </a>
										</li>
										<li>
											<a href="buttons.html"><span class="glyphicon glyphicon-hand-right"></span>
                                             Buttons
                                            </a>
										</li>
										<li>

										
											<a href="widgets.html"><span class="glyphicon glyphicon-film"></span>Widgets<span class="badge colorPink pull-right">5 new</span></a>
										</li>
										<li>
											<a href="#" aria-expanded="true">
												<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
												<span class="sidebar-nav-item">UI Kits</span>
												<span class="fa arrow"></span>
											</a>
											<ul aria-expanded="false" class="collapse">
												<li>
													<a href="typography.html">
                                                        Typography
                                                    </a>
												</li>
												<li>
													<a href="tables.html">
                                                        Tables
                                                    </a>
												</li>
												<li>
													<a href="datatables.html">
                                                        DataTables
                                                    </a>
												</li>
												<li>
													<a href="tabs.html">
                                                        Tabs 
                                                    </a>
												</li>
												<li>
													<a href="modal.html">
                                                        Modal
                                                    </a>
												</li>
												<li>
													<a href="formelements.html">
                                                        Formelements
                                                    </a>
												</li>
												<li>
													<a href="grid.html">
                                                        Grid
                                                    </a>
												</li>
												<li>
													<a href="bars.html">
                                                        Bars
                                                    </a>
												</li>
												<li>
													<a href="alerts.html">
                                                        Alerts
                                                    </a>
												</li>
												<li>
													<a href="colors.html">
                                                        Colors
                                                    </a>
												</li>
											</ul>
											<li>

											<a href="calendar.html"><span class="glyphicon glyphicon-calendar"></span>
                                                Calendar
                                            </a>
										</li>
										<li>
											<a href="#" aria-expanded="true">
												<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
												<span class="sidebar-nav-item">E-commerce</span>
												<span class="fa arrow"></span>
											</a>
											<ul aria-expanded="false" class="collapse">
                                                <li>
                                                   
                                                    <a href="sale_rates.html">
                                                        Sale Rates
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="orders.html">
                                            Orders
                                            </a>
                                                </li>
                                                <li>
                                                    <a href="orderview.html">
                                            Order detail
                                            </a>
                                                </li>
                                            </ul>
										</li>
										<li>
											<a href="#" aria-expanded="true">
												<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
												<span class="sidebar-nav-item">Mail</span>
												<span class="fa arrow"></span>
											</a>
											<ul aria-expanded="false" class="collapse">
											
												<li>
													<a href="mailbox.html">
                                                        Mailbox
                                                    </a>
												</li>
												
												<li>
												
													<a href="mail_detail.html">
                                                        Email view
                                                    </a>
												</li>
											</ul>
										</li>
										<li>
										<a href="tasks.html"><span class="glyphicon glyphicon-list-alt"></span>
                                                Tasks
                                            </a>
										</li>
										<li>
											<a href="user.html"><span class="glyphicon glyphicon-user"></span>
                                                User information
                                            </a>
										</li>
										<li>
											<a href="registration.html"><span class="glyphicon glyphicon-check"></span>
                                                Registration
                                            </a>
										</li>
									</ul>
								</nav>
							</aside>
						</div>
						<!--menuSize-->
					</div>
					<!--	menuContent-->

				
					<div class="timeWrapper colorTheme">
						<div class="menuTime2">
							<span class="current-time2"></span>
						</div>
						<div class="menuTime">
							<span class="current-time"></span>
						</div>
					</div>
				</div>
				<!--menuSize-->
			</div>
			<!--sideBar-->
		</div>
		<!--sideBarContent-->
	</div>
	<!--sideBarWrapper-->