</div><!--container-fluid-->
		</div><!--mainConteinerConten-->
		<div class="fotterWrapper">
			© 2015 Copyright.
		</div>
		<!--fotterWrapper-->
	</div>
<!--mainConteinerConten-->
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="lib/sparklineChart/sparkline.min.js"></script>
<script type="text/javascript" src="lib/sparklineChart/sparklineant.js"></script>
<script type="text/javascript" src="lib/expandingSearchBar/uisearch.js"></script>
<script type="text/javascript" src="lib/expandingSearchBar/classie.js"></script>
<script type="text/javascript" src="lib/slimscroll/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="lib/customScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="lib/metisMenu/metisMenu.min.js"></script>
<script type="text/javascript" src="lib/momentjs/moment.min.js"></script>
<script type="text/javascript" src="lib/waves/waves.min.js"></script>