  @@include('./_header.html', {
    "title": "Alerts"
  })
     <link href="lib/sweetalert/sweetalert.css" rel="stylesheet">
  @@include('./_startConteiner.html') 	
		<div id="mainWrapper" class="mainConteiner column">
			<!--start nainconteiner-->
			<div class="mainConteinerConten">
				<div class="container-fluid footerfix">
					<div class="row firstRow">
						<!--row firstRow-->
						<div class="col-lg-9  col-md-8  col-sm-7">
							<div class="firstRowHeader">
								<h5>ALERTS</h5>
							</div>
							<ol class="breadcrumb">
								<li><a href="index.html">Home</a></li>
								<li><a>UI Kits</a></li>
								<li class="active">Alerts</li>
							</ol>
						</div>
						<!--firstRowHeader-->
						<div class="col-lg-3   col-md-4  col-sm-5">
							<div class="miniDiagramsConteiner">
								<div class="miniDiagramsContent">
									<div class="miniDiagramsContentHeader">
										1290 items
									</div>
									<!--miniDiagramsContentHeader-->
									<div class="miniDiagramsContentContent">
										<span class="inlinebar">4,3,4,5,3,5,4,3,4,5,3,5,4,5,3,5</span>
									</div>
									<!--miniDiagramsContentContent-->
								</div>
								<!--miniDiagramsContent-->
								<div class="miniDiagramsContent">
									<div class="miniDiagramsContentHeader">
										$30,00 revenue
									</div>
									<!--miniDiagramsContentHeader-->
									<div class="miniDiagramsContentContent">
										<span class="inlinebar">4,3,4,5,3,5,4,3,4,5,3,5,4,5,3,5</span>
									</div>
									<!--miniDiagramsContentContent-->
								</div>
								<!--miniDiagramsContent-->
							</div>
							<!--miniDiagramsConteiner-->
						</div>
					</div>
					<!--	MEIN CONTENT  -->
					<div class="row">
						<div class="col-lg-12 ">
							<div class="panel panel-default">
								<div class="panel-heading clearfix">
									<div class="panel-heading-title pull-left">
										<h6>SweetAlert</h6>
									</div>
									<!--panel-heading-title-->
									<div class="panel-heading-buttons pull-right">
										<div class="bs-example">
											<ul class="clearfix">
												<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
												<li class="btn btn-defult  fullScreen"> <i class="fa fa-expand"></i> </li>
												<li class=" btn btn-defult dropdown">
													<a id="drop" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
														<i class="fa fa-cog"></i>
													</a>
													<ul class="dropdown-menu" aria-labelledby="drop">
														<li><a href="#">Action</a></li>
														<li><a href="#">Another action</a></li>
														<li><a href="#">Something else here</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
									<!--panel-heading-buttons-->
								</div>
								<!--panel-->
								<div class="panel-body">
									<div class="row">
										<div class="col-lg-3 alertWrapper clerfix">

											<button id="basic" class="btn btn-primary btn-df float-button-light md-trigger waves-effect waves-button waves-float waves-light" data-modal="modal-1">A basic message</button>
										</div>
										<div class="col-lg-3 alertWrapper">

											<button id="titleWithText" class="btn btn-primary btn-df float-button-light md-trigger waves-effect waves-button waves-float waves-light" data-modal="modal-1">A title with a text under</button>
										</div>
										<div class="col-lg-3 alertWrapper">

											<button id="successMessage" class="btn btn-primary btn-df float-button-light md-trigger waves-effect waves-button waves-float waves-light" data-modal="modal-1">A success message!</button>
										</div>
										<div class="col-lg-3 alertWrapper">

											<button id="warningAttached" class="btn btn-primary btn-df float-button-light md-trigger waves-effect waves-button waves-float waves-light" data-modal="modal-1">A warning message</button>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-3 alertWrapper clerfix">

											<button id="warningParameters" class="btn btn-primary btn-df float-button-light md-trigger waves-effect waves-button waves-float waves-light" data-modal="modal-1">A warning with parameters</button>
										</div>
										<div class="col-lg-3 alertWrapper">

											<button id="messageIcon" class="btn btn-primary btn-df float-button-light md-trigger waves-effect waves-button waves-float waves-light" data-modal="modal-1">Message with a custom icon</button>
										</div>
										<div class="col-lg-3 alertWrapper">

											<button id="autoClose" class="btn btn-primary btn-df float-button-light md-trigger waves-effect waves-button waves-float waves-light" data-modal="modal-1">Auto close timer</button>
										</div>
										<div class="col-lg-3 alertWrapper">

											<button id="inputOption" class="btn btn-primary btn-df float-button-light md-trigger waves-effect waves-button waves-float waves-light" data-modal="modal-1">Input option</button>
										</div>
									</div>
								</div>
							</div>
							<!--panel-body-->
						</div>
					</div>
					<!--row-->
					<div class="row">
						<div class="col-lg-12 ">
							<div class="panel panel-default">
								<div class="panel-heading clearfix">
									<div class="panel-heading-title pull-left">
										<h6>CUSTOM ALERTS</h6>
									</div>
									<!--panel-heading-title-->
									<div class="panel-heading-buttons pull-right">
										<div class="bs-example">
											<ul class="clearfix">
												<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
												<li class="btn btn-defult  fullScreen"> <i class="fa fa-expand"></i> </li>
												<li class=" btn btn-defult dropdown">
													<a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
														<i class="fa fa-cog"></i>
													</a>
													<ul class="dropdown-menu" aria-labelledby="drop1">
														<li><a href="#">Action</a></li>
														<li><a href="#">Another action</a></li>
														<li><a href="#">Something else here</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
									<!--panel-heading-buttons-->
								</div>
								<!--panel-->
								<div class="panel-body">
									<div class="alert alert-default" role="alert">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<strong>Warning!</strong> Better check yourself, you're not looking too good.
									</div>
									<div class="alert alert-primary" role="alert">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<strong>Warning!</strong> Better check yourself, you're not looking too good.
									</div>
									<div class="alert alert-success" role="alert">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<strong>Warning!</strong> Better check yourself, you're not looking too good.
									</div>
									<div class="alert alert-info" role="alert">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<strong>Warning!</strong> Better check yourself, you're not looking too good.
									</div>
									<div class="alert alert-warning" role="alert">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<strong>Warning!</strong> Better check yourself, you're not looking too good.
									</div>
									<div class="alert alert-danger" role="alert">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<strong>Warning!</strong> Better check yourself, you're not looking too good.
									</div>
								</div>
							</div>
							<!--panel-body-->
						</div>
					</div>
					<!--row-->
					<div class="row">
						<div class="col-lg-12 ">
							<div class="panel panel-default">
								<div class="panel-heading clearfix">
									<div class="panel-heading-title pull-left">
										<h6>CUSTOM ALERTS</h6>
									</div>
									<!--panel-heading-title-->
									<div class="panel-heading-buttons pull-right">
										<div class="bs-example">
											<ul class="clearfix">
												<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
												<li class="btn btn-defult  fullScreen"> <i class="fa fa-expand"></i> </li>
												<li class=" btn btn-defult dropdown">
													<a id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
														<i class="fa fa-cog"></i>
													</a>
													<ul class="dropdown-menu" aria-labelledby="drop2">
														<li><a href="#">Action</a></li>
														<li><a href="#">Another action</a></li>
														<li><a href="#">Something else here</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
									<!--panel-heading-buttons-->
								</div>
								<!--panel-->
								<div class="panel-body">
									<div class="alert alert-default" role="alert">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<strong><i class="fa fa-exclamation-triangle"></i>Warning!</strong> Better check yourself, you're not looking too good.
									</div>
									<div class="alert alert-primary" role="alert">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<strong><i class="fa fa-exclamation-triangle"></i>Warning!</strong> Better check yourself, you're not looking too good.
									</div>
									<div class="alert alert-success" role="alert">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<strong><i class="fa fa-exclamation-triangle"></i>Warning!</strong> Better check yourself, you're not looking too good.
									</div>
									<div class="alert alert-info" role="alert">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<strong><i class="fa fa-exclamation-triangle"></i>Warning!</strong> Better check yourself, you're not looking too good.
									</div>
									<div class="alert alert-warning" role="alert">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<strong><i class="fa fa-exclamation-triangle"></i>Warning!</strong> Better check yourself, you're not looking too good.
									</div>
									<div class="alert alert-danger" role="alert">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<strong><i class="fa fa-exclamation-triangle"></i>Warning!</strong> Better check yourself, you're not looking too good.
									</div>
								</div>
							</div>
							<!--panel-body-->
						</div>
					</div>
					<!--row-->
					<!--MEIN CONTENT-->
@@include('./_stopConteiner.html') 		
<script type="text/javascript" src="lib/sweetalert/sweetalert.min.js"></script>
<script type="text/javascript" src="js/alertsFunctions.js"></script>
@@include('./_footer.html') 