  @@include('./_header.html', {
    "title": "Buttons"
  })
<link href="lib/niseSelect/nice-select.css" rel="stylesheet">
@@include('./_startConteiner.html') 	
		<div id="mainWrapper" class="mainConteiner column">
			<!--start nainconteiner-->
			<div class="mainConteinerConten">
				<div class="container-fluid footerfix">
					<div class="row firstRow">
						<!--row firstRow-->
						<div class="col-lg-9  col-md-8  col-sm-7">
							<div class="firstRowHeader">
								<h5>BUTTONS</h5>
							</div>
							<ol class="breadcrumb">
								<li><a href="index.html">Home</a></li>
								<li class="active">Buttons</li>
							</ol>
						</div>
						<!--firstRowHeader-->
						<div class="col-lg-3   col-md-4  col-sm-5">
							<div class="miniDiagramsConteiner">
								<div class="miniDiagramsContent">
									<div class="miniDiagramsContentHeader">
										1290 items
									</div>
									<!--miniDiagramsContentHeader-->
									<div class="miniDiagramsContentContent">
										<span class="inlinebar">4,3,4,5,3,5,4,3,4,5,3,5,4,5,3,5</span>
									</div>
									<!--miniDiagramsContentContent-->
								</div>
								<!--miniDiagramsContent-->
								<div class="miniDiagramsContent">
									<div class="miniDiagramsContentHeader">
										$30,00 revenue
									</div>
									<!--miniDiagramsContentHeader-->
									<div class="miniDiagramsContentContent">
										<span class="inlinebar">4,3,4,5,3,5,4,3,4,5,3,5,4,5,3,5</span>
									</div>
									<!--miniDiagramsContentContent-->
								</div>
								<!--miniDiagramsContent-->
							</div>
							<!--miniDiagramsConteiner-->
						</div>
					</div>
					<!--MEIN CONTENT  -->
					<div class="row">
						<div class="col-md-12 ">
							<div class="panel panel-default ">
								<div class="panel-heading clearfix">
									<div class="panel-heading-title pull-left">
										<h6>CUSTOM FLAT BUTTONS</h6>
									</div>
									<!--panel-heading-title-->
									<div class="panel-heading-buttons pull-right">
										<div class="bs-example">
											<ul class="clearfix">
												<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
												<li class="btn btn-defult  fullScreen"> <i class="fa fa-expand"></i> </li>
												<li class=" btn btn-defult dropdown">
													<a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
														<i class="fa fa-cog"></i>
													</a>
													<ul class="dropdown-menu" aria-labelledby="drop1">
														<li><a href="#">Action</a></li>
														<li><a href="#">Another action</a></li>
														<li><a href="#">Something else here</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
									<!--panel-heading-buttons-->
									<!--panel-heading-buttons-->
								</div>
								<!--panel-->
								<div class="panel-body">
									<div class="buttonWrapper">
										<button type="button" class="btn btn-default btn-df float-button-dark">Default</button>
									</div>
									<div class="buttonWrapper">
										<button type="button" class="btn btn-primary btn-df float-button-light">Primary</button>
									</div>
									<div class="buttonWrapper">
										<button type="button" class="btn btn-success btn-df float-button-light">Success</button>
									</div>
									<div class="buttonWrapper">
										<button type="button" class="btn btn-info btn-df float-button-light">Info</button>
									</div>
									<div class="buttonWrapper">
										<button type="button" class="btn btn-warning btn-df float-button-light">Warning</button>
									</div>
									<div class="buttonWrapper">
										<button type="button" class="btn btn-danger btn-df float-button-light">Danger</button>
									</div>
								</div>
								<!--panel-body-->
							</div>
							<!--panel-->
						</div>
						<!--col-md-12-->
					</div>
					<!--row-->
					<div class="row">
						<div class="col-md-12 ">
							<div class="panel panel-default ">
								<div class="panel-heading clearfix">
									<div class="panel-heading-title pull-left">
										<h6>CUSTOM FLAT BUTTONS WITH ICONS</h6>
									</div>
									<!--panel-heading-title-->
									<div class="panel-heading-buttons pull-right">
										<div class="bs-example">
											<ul class="clearfix">
												<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
												<li class="btn btn-defult  fullScreen"> <i class="fa fa-expand"></i> </li>
												<li class=" btn btn-defult dropdown">
													<a id="drop9" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
														<i class="fa fa-cog"></i>
													</a>
													<ul class="dropdown-menu" aria-labelledby="drop9">
														<li><a href="#">Action</a></li>
														<li><a href="#">Another action</a></li>
														<li><a href="#">Something else here</a></li>

													</ul>
												</li>
											</ul>
										</div>
									</div>
									<!--panel-heading-buttons-->
								</div>
								<!--panel-->
								<div class="panel-body">
									<div class="buttonWrapper">
										<button type="button" class="btn btn-default btn-df float-button-dark"><i class="fa fa-clock-o"></i>Default</button>
									</div>
									<div class="buttonWrapper">
										<button type="button" class="btn btn-primary btn-df float-button-light"><i class="fa fa-phone"></i>Primary</button>
									</div>
									<div class="buttonWrapper">
										<button type="button" class="btn btn-success btn-df float-button-light"><i class="fa fa-picture-o"></i>Success</button>
									</div>
									<div class="buttonWrapper">
										<button type="button" class="btn btn-info btn-df float-button-light"><i class="fa fa-quote-right"></i>Info</button>
									</div>
									<div class="buttonWrapper">
										<button type="button" class="btn btn-warning btn-df float-button-light"><i class="fa fa-exclamation-triangle"></i>Warning</button>
									</div>
									<div class="buttonWrapper">
										<button type="button" class="btn btn-danger btn-df float-button-light"><i class="fa fa-bolt"></i>Danger</button>
									</div>
								</div>
								<!--panel-body-->
							</div>
							<!--panel-->
						</div>
						<!--col-md-12-->
					</div>
					<!--row-->
					<div class="row">
						<div class="col-md-12 ">
							<div class="panel panel-default ">
								<div class="panel-heading clearfix">
									<div class="panel-heading-title pull-left">
										<h6>CUSTOM RECTANGULAR BUTTONS</h6>
									</div>
									<!--panel-heading-title-->
									<div class="panel-heading-buttons pull-right">
										<div class="bs-example">
											<ul class="clearfix">
												<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
												<li class="btn btn-defult  fullScreen"> <i class="fa fa-expand"></i> </li>
												<li class=" btn btn-defult dropdown">
													<a id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
														<i class="fa fa-cog"></i>
													</a>
													<ul class="dropdown-menu" aria-labelledby="drop2">
														<li><a href="#">Action</a></li>
														<li><a href="#">Another action</a></li>
														<li><a href="#">Something else here</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
									<!--panel-heading-buttons-->
								</div>
								<!--panel-->
								<div class="panel-body">
									<div class="buttonWrapper">
										<button type="button" class="btn btn-default buttonsRectangular  float-button-dark buttonsRectangular"><i class="fa fa-clock-o"></i></button>
									</div>
									<div class="buttonWrapper">
										<button type="button" class="btn btn-primary buttonsRectangular  float-button-light"><i class="fa fa-phone"></i></button>
									</div>
									<div class="buttonWrapper">
										<button type="button" class="btn btn-success  buttonsRectangular float-button-light"><i class="fa fa-picture-o"></i></button>
									</div>
									<div class="buttonWrapper">
										<button type="button" class="btn btn-info  buttonsRectangular float-button-light"><i class="fa fa-quote-right"></i></button>
									</div>
									<div class="buttonWrapper">
										<button type="button" class="btn btn-warning  buttonsRectangular float-button-light"><i class="fa fa-exclamation-triangle"></i></button>
									</div>
									<div class="buttonWrapper">
										<button type="button" class="btn btn-danger buttonsRectangular float-button-light"><i class="fa fa-bolt"></i></button>
									</div>
								</div>
								<!--panel-body-->
							</div>
							<!--panel-->
						</div>
						<!--col-md-12-->
					</div>
					<!--row-->
					<div class="row">
						<div class="col-md-12 ">
							<div class="panel panel-default ">
								<div class="panel-heading clearfix">
									<div class="panel-heading-title pull-left">
										<h6>CUSTOM ROUNDED BUTTONS</h6>
									</div>
									<!--panel-heading-title-->
									<div class="panel-heading-buttons pull-right">
										<div class="bs-example">
											<ul class="clearfix">
												<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
												<li class="btn btn-defult  fullScreen"> <i class="fa fa-expand"></i> </li>
												<li class=" btn btn-defult dropdown">
													<a id="drop3" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
														<i class="fa fa-cog"></i>
													</a>
													<ul class="dropdown-menu" aria-labelledby="drop3">
														<li><a href="#">Action</a></li>
														<li><a href="#">Another action</a></li>
														<li><a href="#">Something else here</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
									<!--panel-heading-buttons-->
									<!--panel-heading-buttons-->
								</div>
								<!--panel-->
								<div class="panel-body">
									<div class="buttonWrapper">
										<button type="button" class="btn btn-default buttonsRounded  float-button-dark buttonsRectangular"><i class="fa fa-clock-o"></i></button>
									</div>
									<div class="buttonWrapper">
										<button type="button" class="btn btn-primary buttonsRounded  float-button-light"><i class="fa fa-phone"></i></button>
									</div>
									<div class="buttonWrapper">
										<button type="button" class="btn btn-success  buttonsRounded float-button-light"><i class="fa fa-picture-o"></i></button>
									</div>
									<div class="buttonWrapper">
										<button type="button" class="btn btn-info  buttonsRounded float-button-light"><i class="fa fa-quote-right"></i></button>
									</div>
									<div class="buttonWrapper">
										<button type="button" class="btn btn-warning  buttonsRounded float-button-light"><i class="fa fa-exclamation-triangle"></i></button>
									</div>
									<div class="buttonWrapper">
										<button type="button" class="btn btn-danger buttonsRounded float-button-light"><i class="fa fa-bolt"></i></button>
									</div>
								</div>
								<!--panel-body-->
							</div>
							<!--panel-->
						</div>
						<!--col-md-12-->
					</div>
					<!--row-->
					<div class="row">
						<div class="col-md-12 ">
							<div class="panel panel-default ">
								<div class="panel-heading clearfix">
									<div class="panel-heading-title pull-left">
										<h6>LARGE ROUNDED BUTTONS</h6>
									</div>
									<!--panel-heading-title-->
									<div class="panel-heading-buttons pull-right">
										<div class="bs-example">
											<ul class="clearfix">
												<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
												<li class="btn btn-defult  fullScreen"> <i class="fa fa-expand"></i> </li>
												<li class=" btn btn-defult dropdown">
													<a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
														<i class="fa fa-cog"></i>
													</a>
													<ul class="dropdown-menu" aria-labelledby="drop4">
														<li><a href="#">Action</a></li>
														<li><a href="#">Another action</a></li>
														<li><a href="#">Something else here</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
									<!--panel-heading-buttons-->
								</div>
								<!--panel-->
								<div class="panel-body">
									<div class="buttonWrapper">
										<button type="button" class="btn btn-default buttonsRoundedLarge  float-button-dark buttonsRectangular"><i class="fa fa-clock-o"></i></button>
									</div>
									<div class="buttonWrapper">
										<button type="button" class="btn btn-primary buttonsRoundedLarge  float-button-light"><i class="fa fa-phone"></i></button>
									</div>
									<div class="buttonWrapper">
										<button type="button" class="btn btn-success  buttonsRoundedLarge float-button-light"><i class="fa fa-picture-o"></i></button>
									</div>
									<div class="buttonWrapper">
										<button type="button" class="btn btn-info  buttonsRoundedLarge float-button-light"><i class="fa fa-quote-right"></i></button>
									</div>
									<div class="buttonWrapper">
										<button type="button" class="btn btn-warning  buttonsRoundedLarge float-button-light"><i class="fa fa-exclamation-triangle"></i></button>
									</div>
									<div class="buttonWrapper">
										<button type="button" class="btn btn-danger buttonsRoundedLarge float-button-light"><i class="fa fa-bolt"></i></button>
									</div>
								</div>
								<!--panel-body-->
							</div>
							<!--panel-->
						</div>
						<!--col-md-12-->
					</div>
					<!--row-->
					<div class="row">
						<div class="col-md-12 ">
							<div class="panel panel-default ">
								<div class="panel-heading clearfix">
									<div class="panel-heading-title pull-left">
										<h6>LARGE ROUNDED BUTTONS</h6>
									</div>
									<!--panel-heading-title-->
									<div class="panel-heading-buttons pull-right">
										<div class="bs-example">
											<ul class="clearfix">
												<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
												<li class="btn btn-defult  fullScreen"> <i class="fa fa-expand"></i> </li>
												<li class=" btn btn-defult dropdown">
													<a id="drop5" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
														<i class="fa fa-cog"></i>
													</a>
													<ul class="dropdown-menu" aria-labelledby="drop5">
														<li><a href="#">Action</a></li>
														<li><a href="#">Another action</a></li>
														<li><a href="#">Something else here</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
									<!--panel-heading-buttons-->
								</div>
								<!--panel-->
								<div class="panel-body">
									<div class="buttonWrapper">
										<div class="fab btn-group show-on-hover dropup">
											<button type="button" class="btn btn-default buttonsRoundedLarge float-button-light" data-toggle="dropdown">
												<span class="fa-stack">
		<i class="fa fa-plus fa-stack-1x fa-inverse fab-secondary"></i>
		<i class="fa fa-clock-o fa-stack-1x fa-inverse fab-primary"></i>
		</span>
											</button>
										</div>
									</div>
									<div class="buttonWrapper">
										<div class="fab btn-group show-on-hover dropup">
											<button type="button" class="btn btn-primary buttonsRoundedLarge float-button-light" data-toggle="dropdown">
												<span class="fa-stack">
		<i class="fa fa-plus fa-stack-1x fa-inverse fab-secondary"></i>
		<i class="fa fa-phone fa-stack-1x fa-inverse fab-primary"></i>
		</span>
											</button>
										</div>
									</div>
									<div class="buttonWrapper">
										<div class="fab btn-group show-on-hover dropup">
											<button type="button" class="btn btn-success  buttonsRoundedLarge float-button-light" data-toggle="dropdown">
												<span class="fa-stack">
		<i class="fa fa-plus fa-stack-1x fa-inverse fab-secondary"></i>
		<i class="fa fa-picture-o fa-stack-1x fa-inverse fab-primary"></i>
		</span>
											</button>
										</div>
									</div>
									<div class="buttonWrapper">
										<div class="fab btn-group show-on-hover dropup">
											<button type="button" class="btn btn-info buttonsRoundedLarge float-button-light" data-toggle="dropdown">
												<span class="fa-stack">
		<i class="fa fa-plus fa-stack-1x fa-inverse fab-secondary"></i>
		<i class="fa fa-quote-right fa-stack-1x fa-inverse fab-primary"></i>
		</span>
											</button>
										</div>
									</div>
									<div class="buttonWrapper">
										<div class="fab btn-group show-on-hover dropup">
											<button type="button" class="btn btn-warning buttonsRoundedLarge float-button-light" data-toggle="dropdown">
												<span class="fa-stack">
		<i class="fa fa-plus fa-stack-1x fa-inverse fab-secondary"></i>
		<i class="fa fa-exclamation-triangle fa-stack-1x fa-inverse fab-primary"></i>
		</span>
											</button>
										</div>
									</div>
									<div class="buttonWrapper">
										<div class="fab btn-group show-on-hover dropup">
											<button type="button" class="btn btn-danger buttonsRoundedLarge float-button-light" data-toggle="dropdown">
												<span class="fa-stack">
		<i class="fa fa-plus fa-stack-1x fa-inverse fab-secondary"></i>
		<i class="fa fa-bolt fa-stack-1x fa-inverse fab-primary"></i>
		</span>
											</button>
										</div>
									</div>
								</div>
								<!--panel-body-->
							</div>
							<!--panel-->
						</div>
						<!--col-md-12-->
					</div>
					<!--row-->
					<div class="row">
						<div class="col-md-12 ">
							<div class="panel panel-default ">
								<div class="panel-heading clearfix">
									<div class="panel-heading-title pull-left">
										<h6>BUTTON GROUP</h6>
									</div>
									<!--panel-heading-title-->
									<div class="panel-heading-buttons pull-right">
										<div class="bs-example">
											<ul class="clearfix">
												<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
												<li class="btn btn-defult  fullScreen"> <i class="fa fa-expand"></i> </li>
												<li class=" btn btn-defult dropdown">
													<a id="drop6" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
														<i class="fa fa-cog"></i>
													</a>
													<ul class="dropdown-menu" aria-labelledby="drop6">
														<li><a href="#">Action</a></li>
														<li><a href="#">Another action</a></li>
														<li><a href="#">Something else here</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
									<!--panel-heading-buttons-->
								</div>
								<!--panel-->
								<div class="panel-body">
									<div class="btn-group" role="group" aria-label="...">
										<button type="button" class="btn btn-default btn-df">Left</button>
										<button type="button" class="btn btn-primary btn-df">Middle</button>
										<button type="button" class="btn btn-default btn-df">Right</button>
									</div>
									<br>
									<br>
									<br>
									<div class="btn-group" role="group" aria-label="...">
										<button type="button" class="btn btn-default btn-df float-button-dark">Left</button>
										<button type="button" class="btn btn-primary btn-df float-button-light">Middle</button>
										<button type="button" class="btn btn-default btn-df float-button-dark">Right</button>
									</div>
									<br>
									<br>
									<br>
									<div class="btn-group btn-group-justified" role="group" aria-label="...">
										<div class="btn-group" role="group" aria-label="...">
											<button type="button" class="btn btn-default float-button-dark">Left</button>
										</div>
										<div class="btn-group" role="group" aria-label="...">
											<button type="button" class="btn btn-primary  float-button-light">Middle</button>
										</div>
										<div class="btn-group" role="group" aria-label="...">
											<button type="button" class="btn btn-default  float-button-dark">Right</button>
										</div>
									</div>
								</div>
								<!--panel-body-->
							</div>
							<!--panel-->
						</div>
						<!--col-md-12-->
					</div>
					<!--row-->
					<div class="row">
						<div class="col-md-12 ">
							<div class="panel panel-default ">
								<div class="panel-heading clearfix">
									<div class="panel-heading-title pull-left">
										<h6>DROPDOWNS</h6>
									</div>
									<!--panel-heading-title-->
									<div class="panel-heading-buttons pull-right">
										<div class="bs-example">
											<ul class="clearfix">
												<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
												<li class="btn btn-defult  fullScreen"> <i class="fa fa-expand"></i> </li>
												<li class=" btn btn-defult dropdown">
													<a id="drop7" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
														<i class="fa fa-cog"></i>
													</a>
													<ul class="dropdown-menu" aria-labelledby="drop7">
														<li><a href="#">Action</a></li>
														<li><a href="#">Another action</a></li>
														<li><a href="#">Something else here</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
									<!--panel-heading-buttons-->
								</div>
								<!--panel-->
								<div class="panel-body">
									<div class="row">
										<div class="buttonWrapper">
											<div class="btn-group">
												<button type="button" class="btn btn-default btn-df dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													Action <span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
													<li role="separator" class="divider"></li>
													<li><a href="#">Separated link</a></li>
												</ul>
											</div>
										</div>
										<div class="buttonWrapper">
											<div class="btn-group">
												<button type="button" class="btn btn-primary btn-df dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													Action <span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
													<li role="separator" class="divider"></li>
													<li><a href="#">Separated link</a></li>
												</ul>
											</div>
										</div>
										<div class="buttonWrapper">
											<div class="btn-group">
												<button type="button" class="btn btn-success btn-df dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													Action <span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
													<li role="separator" class="divider"></li>
													<li><a href="#">Separated link</a></li>
												</ul>
											</div>
										</div>
										<div class="buttonWrapper">
											<div class="btn-group">
												<button type="button" class="btn btn-info btn-df dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													Action <span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
													<li role="separator" class="divider"></li>
													<li><a href="#">Separated link</a></li>
												</ul>
											</div>
										</div>
										<div class="buttonWrapper">
											<div class="btn-group">
												<button type="button" class="btn btn-warning btn-df dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													Action <span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
													<li role="separator" class="divider"></li>
													<li><a href="#">Separated link</a></li>
												</ul>
											</div>
										</div>
										<div class="buttonWrapper">
											<div class="btn-group">
												<button type="button" class="btn btn-danger btn-df dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													Action <span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
													<li role="separator" class="divider"></li>
													<li><a href="#">Separated link</a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="buttonWrapper">
											<div class="btn-group">
												<button type="button" class="btn btn-default btn-df float-button-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													Action <span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
													<li role="separator" class="divider"></li>
													<li><a href="#">Separated link</a></li>
												</ul>
											</div>
										</div>
										<div class="buttonWrapper">
											<div class="btn-group">
												<button type="button" class="btn btn-primary btn-df float-button-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													Action <span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
													<li role="separator" class="divider"></li>
													<li><a href="#">Separated link</a></li>
												</ul>
											</div>
										</div>
										<div class="buttonWrapper">
											<div class="btn-group">
												<button type="button" class="btn btn-success btn-df float-button-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													Action <span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
													<li role="separator" class="divider"></li>
													<li><a href="#">Separated link</a></li>
												</ul>
											</div>
										</div>
										<div class="buttonWrapper">
											<div class="btn-group">
												<button type="button" class="btn btn-info btn-df float-button-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													Action <span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
													<li role="separator" class="divider"></li>
													<li><a href="#">Separated link</a></li>
												</ul>
											</div>
										</div>
										<div class="buttonWrapper">
											<div class="btn-group">
												<button type="button" class="btn btn-warning btn-df float-button-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													Action <span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
													<li role="separator" class="divider"></li>
													<li><a href="#">Separated link</a></li>
												</ul>
											</div>
										</div>
										<div class="buttonWrapper">
											<div class="btn-group">
												<button type="button" class="btn btn-danger btn-df float-button-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													Action <span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
													<li role="separator" class="divider"></li>
													<li><a href="#">Separated link</a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="buttonWrapper">
											<div class="btn-group">
												<button type="button" class="btn btn-default btn-df float-button-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													<i class="fa fa-clock-o"></i> Action <span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
													<li role="separator" class="divider"></li>
													<li><a href="#">Separated link</a></li>
												</ul>
											</div>
										</div>
										<div class="buttonWrapper">
											<div class="btn-group">
												<button type="button" class="btn btn-primary btn-df float-button-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													<i class="fa fa-phone"></i>Action <span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
													<li role="separator" class="divider"></li>
													<li><a href="#">Separated link</a></li>
												</ul>
											</div>
										</div>
										<div class="buttonWrapper">
											<div class="btn-group">
												<button type="button" class="btn btn-success btn-df float-button-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													<i class="fa fa-picture-o"></i> Action <span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
													<li role="separator" class="divider"></li>
													<li><a href="#">Separated link</a></li>
												</ul>
											</div>
										</div>
										<div class="buttonWrapper">
											<div class="btn-group">
												<button type="button" class="btn btn-info btn-df float-button-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													<i class="fa fa-quote-right"></i> Action <span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
													<li role="separator" class="divider"></li>
													<li><a href="#">Separated link</a></li>
												</ul>
											</div>
										</div>
										<div class="buttonWrapper">
											<div class="btn-group">
												<button type="button" class="btn btn-warning btn-df float-button-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													<i class="fa fa-exclamation-triangle"></i>Action <span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
													<li role="separator" class="divider"></li>
													<li><a href="#">Separated link</a></li>
												</ul>
											</div>
										</div>
										<div class="buttonWrapper">
											<div class="btn-group">
												<button type="button" class="btn btn-danger btn-df float-button-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													<i class="fa fa-bolt"></i>Action <span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
													<li role="separator" class="divider"></li>
													<li><a href="#">Separated link</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<!--panel-body-->
							</div>
							<!--panel-->
						</div>
						<!--col-md-12-->
					</div>
					<!--row-->
					<div class="row">
						<div class="col-md-12 ">
							<div class="panel panel-default ">
								<div class="panel-heading clearfix">
									<div class="panel-heading-title pull-left">
										<h6>Select</h6>
									</div>
									<!--panel-heading-title-->
									<div class="panel-heading-buttons pull-right">
										<div class="bs-example">
											<ul class="clearfix">
												<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
												<li class="btn btn-defult  fullScreen"> <i class="fa fa-expand"></i> </li>
												<li class=" btn btn-defult dropdown">
													<a id="drop8" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
														<i class="fa fa-cog"></i>
													</a>
													<ul class="dropdown-menu" aria-labelledby="drop8">
														<li><a href="#">Action</a></li>
														<li><a href="#">Another action</a></li>
														<li><a href="#">Something else here</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
									<!--panel-heading-buttons-->
								</div>
								<!--panel-->
								<div class="panel-body">
									<div class="buttonWrapper">
										<span class="select-default"> 
		<select>
		<option data-display="Select">Nothing</option>
		<option value="1">Some option</option>
		<option value="2">Another option</option>
		<option value="3">Potato</option>
		</select>
		</span>
									</div>
									<div class="buttonWrapper">
										<span class="select-primary"> 
		<select>
		<option data-display="Select">Nothing</option>
		<option value="1">Some option</option>
		<option value="2">Another option</option>
		<option value="3">Potato</option>
		</select>
		</span>
									</div>
									<div class="buttonWrapper">
										<span class="select-success"> 
		<select>
		<option data-display="Select">Nothing</option>
		<option value="1">Some option</option>
		<option value="2">Another option</option>
		<option value="3">Potato</option>
		</select>
		</span>
									</div>
									<div class="buttonWrapper">
										<span class="select-info"> 
		<select>
		<option data-display="Select">Nothing</option>
		<option value="1">Some option</option>
		<option value="2">Another option</option>
		<option value="3">Potato</option>
		</select>
		</span>
									</div>
									<div class="buttonWrapper">
										<span class="select-warning"> 
		<select>
		<option data-display="Select">Nothing</option>
		<option value="1">Some option</option>
		<option value="2">Another option</option>
		<option value="3">Potato</option>
		</select>
		</span>
									</div>
									<div class="buttonWrapper">
										<span class="select-danger"> 
		<select>
		<option data-display="Select">Nothing</option>
		<option value="1">Some option</option>
		<option value="2">Another option</option>
		<option value="3">Potato</option>
		</select>
		</span>
									</div>
								</div>
								<!--panel-body-->
							</div>
							<!--panel-->
						</div>
						<!--col-md-12-->
					</div>
					<!--row-->
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<!--MEIN CONTENT-->
@@include('./_stopConteiner.html') 	
<script type="text/javascript" src="lib/niseSelect/jquery.nice-select.min.js"></script>
<script type="text/javascript" src="js/selectFunctions.js"></script>
@@include('./_footer.html') 