  @@include('./_header.html', {
    "title": "Calendar"
  })
<link href="lib/icheck/skins/all.css" rel="stylesheet">
<link href="lib/calendar/fullcalendar.css" rel="stylesheet" type="text/css">
@@include('./_startConteiner.html') 	
<div id="mainWrapper" class="mainConteiner column">
	<!--start nainconteiner-->
	<div class="mainConteinerConten">
		<div class="container-fluid footerfix">
			<div class="row firstRow">
				<!--row firstRow-->
				<div class="col-lg-9  col-md-8  col-sm-7">
					<div class="firstRowHeader">
						<h5>CALENDAR</h5>
					</div>
					<ol class="breadcrumb">
						<li><a href="index.html">Home</a></li>
						<li class="active">Calendar</li>
					</ol>
				</div>
				<!--firstRowHeader-->
				<div class="col-lg-3   col-md-4  col-sm-5">
					<div class="miniDiagramsConteiner">
						<div class="miniDiagramsContent">
							<div class="miniDiagramsContentHeader">
								1290 items
							</div>
							<!--miniDiagramsContentHeader-->
							<div class="miniDiagramsContentContent">
								<span class="inlinebar">4,3,4,5,3,5,4,3,4,5,3,5,4,5,3,5</span>
							</div>
							<!--miniDiagramsContentContent-->
						</div>
						<!--miniDiagramsContent-->
						<div class="miniDiagramsContent">
							<div class="miniDiagramsContentHeader">
								$30,00 revenue
							</div>
							<!--miniDiagramsContentHeader-->
							<div class="miniDiagramsContentContent">
								<span class="inlinebar">4,3,4,5,3,5,4,3,4,5,3,5,4,5,3,5</span>
							</div>
							<!--miniDiagramsContentContent-->
						</div>
						<!--miniDiagramsContent-->
					</div>
					<!--miniDiagramsConteiner-->
				</div>
			</div>
			<!--	MEIN CONTENT  -->
			<div class="row">
				<div class="panel panelCalendar">
					<div class="panel-body">
						<div class="col-lg-3">
							<div id="external-events">
								<div class="calendarHeader">
									<h6>Add new events</h6>
								</div>
								<!--calendarHeader-->
								<div class="calendarWrapper">
									<form id="add_event_form" class="form-inline" method="post">
										<div class="form-group">
											<div class="input-group">
												<input type="text" class="form-control new-event-form" placeholder="Add event...">
												<div class="input-group-addon">
													<button type="submit">Add</button>
												</div>
											</div>
										</div>
										<h6>Choose  events color </h6>
										<div class="form-group">
											<div class="event-tag">
												<span class="colorTheme tagSelect selected" data-tag="colorTheme"></span>
												<span class="colorPink tagSelect" data-tag="colorPink"></span>
												<span class="colorPurpule tagSelect" data-tag="colorPurpule"></span>
												<span class="colorCyan tagSelect" data-tag="colorCyan"></span>
												<span class="colorYellow" data-tag="colorYellow"></span>
											</div>
										</div>
									</form>
									<h6>Drag events to calendar</h6>
									<div class="fc-event colorTheme" data-bg="colorTheme">Sport Match<span class="fa fa-close remove-event "></span></div>
									<div class="fc-event colorPink" data-bg="colorPink">Meeting<span class="fa fa-close remove-event "></span></div>
									<div class="fc-event colorPurpule" data-bg="colorPurpule">Relax<span class="fa fa-close remove-event "></span></div>
									<div class="fc-event colorCyan" data-bg="colorCyan">Family Time<span class="fa fa-close remove-event "></span></div>
									<div class="fc-event colorYellow" data-bg="colorYellow">Coffee<span class="fa fa-close remove-event "></span></div>
									<div class="checkbox checkbox-blue">
										<input type="checkbox" id="drop-remove">
										<label for="drop-remove">
											Drop&amp;Remove
										</label>
									</div>
								</div>
								<!--calendarWrapper-->
							</div>
						</div>
						<div class="col-lg-9">
							<div id="calendar" class="size fc-calendar box-shadow"></div>
						</div>
					</div>
					<!--panel-body-->
				</div>
				<!--calendarWrapper-->
			</div>
			<!--MEIN CONTENT -->
@@include('./_stopConteiner.html') 		
<script src='lib/calendar/fullcalendar.min.js'></script>
<script type="text/javascript" src="lib/jquery-ui/jquery-ui.js"></script>
<script type="text/javascript" src="lib/icheck/icheck.js"></script>
<script type="text/javascript" src="lib/icheck/custom.js"></script>
<script type="text/javascript" src="js/buttonsFunctions.js"></script>
<script type="text/javascript" src="js/calendarFunctions.js"></script>
@@include('./_footer.html') 