  @@include('./_header.html', {
    "title": "Colors"
  })
  @@include('./_startConteiner.html') 	
	<div id="mainWrapper" class="mainConteiner column">
		<!--start nainconteiner-->
		<div class="mainConteinerConten">
			<div class="container-fluid footerfix">
				<div class="row firstRow">
					<!--row firstRow-->
					<div class="col-lg-9  col-md-8  col-sm-7">
						<div class="firstRowHeader">
							<h5>COLORS</h5>
						</div>
						<ol class="breadcrumb">
							<li><a href="index.html">Home</a></li>
							<li><a>UI Kits</a></li>
							<li class="active">Colors</li>
						</ol>
					</div>
					<!--firstRowHeader-->
					<div class="col-lg-3   col-md-4  col-sm-5">
						<div class="miniDiagramsConteiner">
							<div class="miniDiagramsContent">
								<div class="miniDiagramsContentHeader">
									1290 items
								</div>
								<!--miniDiagramsContentHeader-->
								<div class="miniDiagramsContentContent">
									<span class="inlinebar">4,3,4,5,3,5,4,3,4,5,3,5,4,5,3,5</span>
								</div>
								<!--miniDiagramsContentContent-->
							</div>
							<!--miniDiagramsContent-->
							<div class="miniDiagramsContent">
								<div class="miniDiagramsContentHeader">
									$30,00 revenue
								</div>
								<!--miniDiagramsContentHeader-->
								<div class="miniDiagramsContentContent">
									<span class="inlinebar">4,3,4,5,3,5,4,3,4,5,3,5,4,5,3,5</span>
								</div>
								<!--miniDiagramsContentContent-->
							</div>
							<!--miniDiagramsContent-->
						</div>
						<!--miniDiagramsConteiner-->
					</div>
				</div>
				<!--MEIN CONTENT-->
				<div class="row">
					<div class="col-lg-12 ">
						<div class="panel panel-default">
							<div class="panel-heading clearfix">
								<div class="panel-heading-title pull-left">
									<h6>WEBSITE COLORS</h6>
								</div>
								<!--panel-heading-title-->
								<div class="panel-heading-buttons pull-right">
									<div class="bs-example">
										<ul class="clearfix">
											<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
											<li class="btn btn-defult  fullScreen"> <i class="fa fa-expand"></i> </li>
											<li class=" btn btn-defult dropdown">
												<a id="drop" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
													<i class="fa fa-cog"></i>
												</a>
												<ul class="dropdown-menu" aria-labelledby="drop">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
								<!--panel-heading-buttons-->
							</div>
							<!--panel-->
							<div class="panel-body">
								<div class="materialColorsBox materialPink">
									<p class="colorTextWhite">Pink</p>
									<p class="colorTextWhite">#db008c</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialTheme">
									<p class="colorTextWhite">Light-Blue</p>
									<p class="colorTextWhite">#00e2f0</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialPurpule">
									<p class="colorTextWhite">Purpule</p>
									<p class="colorTextWhite">#9c27b0</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialCyan">
									<p class="colorTextWhite">Cyan</p>
									<p class="colorTextWhite">#00a2b4</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialYellow">
									<p class="colorTextDarkOrange">Yellow</p>
									<p class="colorTextDarkOrange">#ffeb3b</p>
								</div>
								<!-- materialColorsBox-->
							</div>
						</div>
						<!--panel-body-->
					</div>
				</div>
				<!--row-->
				<div class="row">
					<div class="col-lg-12 ">
						<div class="panel panel-default">
							<div class="panel-heading clearfix">
								<div class="panel-heading-title pull-left">
									<h6>MATERIAL PINK</h6>
								</div>
								<!--panel-heading-title-->
								<div class="panel-heading-buttons pull-right">
									<div class="bs-example">
										<ul class="clearfix">
											<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
											<li class="btn btn-defult  fullScreen"> <i class="fa fa-expand"></i> </li>
											<li class=" btn btn-defult dropdown">
												<a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
													<i class="fa fa-cog"></i>
												</a>
												<ul class="dropdown-menu" aria-labelledby="drop1">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
								<!--panel-heading-buttons-->
							</div>
							<!--panel-->
							<div class="panel-body">
								<div class="materialColorsBox materialPink-A700">
									<p class="colorTextWhite">Pink-A700</p>
									<p class="colorTextWhite">#c51162</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialPink-A400">
									<p class="colorTextWhite">Pink-A400</p>
									<p class="colorTextWhite">#f50057</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialPink-A200">
									<p class="colorTextWhite">Pink-A200</p>
									<p class="colorTextWhite">#ff4081</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialPink-A100">
									<p class="colorTextWhite">Pink-A100</p>
									<p class="colorTextWhite">#ff80ab</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialPink-900">
									<p class="colorTextWhite">Pink-900</p>
									<p class="colorTextWhite">#880e4f</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialPink-800">
									<p class="colorTextWhite">Pink-800</p>
									<p class="colorTextWhite">#ad1457</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialPink-700">
									<p class="colorTextWhite">Pink-700</p>
									<p class="colorTextWhite">#c2185b</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialPink-600">
									<p class="colorTextWhite">Pink-600</p>
									<p class="colorTextWhite">#d81b60</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialPink-500">
									<p class="colorTextWhite">Pink-500</p>
									<p class="colorTextWhite">#e91e63</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialPink-400">
									<p class="colorTextWhite">Pink-400</p>
									<p class="colorTextWhite">#ec407a</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialPink-300">
									<p class="colorTextWhite">Pink-300</p>
									<p class="colorTextWhite">#f06292</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialPink-200">
									<p class="colorTextWhite">Pink-200</p>
									<p class="colorTextWhite">#f48fb1</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialPink-100">
									<p class="colorTextDarkOrange">Pink-100</p>
									<p class="colorTextDarkOrange">#f8bbd0</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialPink-50">
									<p class="colorTextDarkOrange">Pink-50</p>
									<p class="colorTextDarkOrange">#fce4ec</p>
								</div>
								<!-- materialColorsBox-->
							</div>
						</div>
						<!--panel-body-->
					</div>
				</div>
				<!--row-->
				<div class="row">
					<div class="col-lg-12 ">
						<div class="panel panel-default">
							<div class="panel-heading clearfix">
								<div class="panel-heading-title pull-left">
									<h6>MATERIAL LIGHT-BLUE</h6>
								</div>
								<!--panel-heading-title-->
								<div class="panel-heading-buttons pull-right">
									<div class="bs-example">
										<ul class="clearfix">
											<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
											<li class="btn btn-defult  fullScreen"> <i class="fa fa-expand"></i> </li>
											<li class=" btn btn-defult dropdown">
												<a id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
													<i class="fa fa-cog"></i>
												</a>
												<ul class="dropdown-menu" aria-labelledby="drop2">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
								<!--panel-heading-buttons-->
							</div>
							<!--panel-->
							<div class="panel-body">
								<div class="materialColorsBox materialLight-Blue-A700">
									<p class="colorTextWhite">Light-Blue-A700</p>
									<p class="colorTextWhite">#0091ea</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialLight-Blue-A400">
									<p class="colorTextWhite">Light-Blue-A400</p>
									<p class="colorTextWhite">#0091ea</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialLight-Blue-A200">
									<p class="colorTextWhite">Light-Blue-A200</p>
									<p class="colorTextWhite">#40c4ff</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialLight-Blue-A100">
									<p class="colorTextWhite">Light-Blue-A100</p>
									<p class="colorTextWhite">#80d8ff</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialLight-Blue-900">
									<p class="colorTextWhite">Light-Blue-900</p>
									<p class="colorTextWhite">#880e4f</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialLight-Blue-800">
									<p class="colorTextWhite">Light-Blue-800</p>
									<p class="colorTextWhite">#ad1457</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialLight-Blue-700">
									<p class="colorTextWhite">Light-Blue-700</p>
									<p class="colorTextWhite">#c2185b</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialLight-Blue-600">
									<p class="colorTextWhite">Light-Blue-600</p>
									<p class="colorTextWhite">#d81b60</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialLight-Blue-500">
									<p class="colorTextWhite">Light-Blue-500</p>
									<p class="colorTextWhite">#e91e63</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialLight-Blue-400">
									<p class="colorTextWhite">Light-Blue-400</p>
									<p class="colorTextWhite">#ec407a</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialLight-Blue-300">
									<p class="colorTextWhite">Blue-300</p>
									<p class="colorTextWhite">#f06292</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialLight-Blue-200">
									<p class="colorTextWhite">Light-Blue-200</p>
									<p class="colorTextWhite">#f48fb1</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialLight-Blue-100">
									<p class="colorTextDarkOrange">Light-Blue-100</p>
									<p class="colorTextDarkOrange">#f8bbd0</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialLight-Blue-50">
									<p class="colorTextDarkOrange">Light-Blue-50</p>
									<p class="colorTextDarkOrange">#fce4ec</p>
								</div>
								<!-- materialColorsBox-->
							</div>
						</div>
						<!--panel-body-->
					</div>
				</div>
				<!--row-->
				<div class="row">
					<div class="col-lg-12 ">
						<div class="panel panel-default">
							<div class="panel-heading clearfix">
								<div class="panel-heading-title pull-left">
									<h6>MATERIAL PURPLE</h6>
								</div>
								<!--panel-heading-title-->
								<div class="panel-heading-buttons pull-right">
									<div class="bs-example">
										<ul class="clearfix">
											<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
											<li class="btn btn-defult  fullScreen"> <i class="fa fa-expand"></i> </li>
											<li class=" btn btn-defult dropdown">
												<a id="drop3" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
													<i class="fa fa-cog"></i>
												</a>
												<ul class="dropdown-menu" aria-labelledby="drop3">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
								<!--panel-heading-buttons-->
							</div>
							<!--panel-->
							<div class="panel-body">
								<div class="materialColorsBox materialPurple-A700">
									<p class="colorTextWhite">Purple-A700</p>
									<p class="colorTextWhite">#a0f</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialPurple-A400">
									<p class="colorTextWhite">Purple-A400</p>
									<p class="colorTextWhite">#d500f9</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialPurple-A200">
									<p class="colorTextWhite">Purple-A200</p>
									<p class="colorTextWhite">#e040fb</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialPurple-A100">
									<p class="colorTextWhite">Purple-A100</p>
									<p class="colorTextWhite">#ea80fc</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialPurple-900">
									<p class="colorTextWhite">Purple-900</p>
									<p class="colorTextWhite">#4a148c</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialPurple-800">
									<p class="colorTextWhite">Purple-800</p>
									<p class="colorTextWhite">#6a1b9a</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialPurple-700">
									<p class="colorTextWhite">Purple-700</p>
									<p class="colorTextWhite">#7b1fa2</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialPurple-600">
									<p class="colorTextWhite">Purple-600</p>
									<p class="colorTextWhite">#8e24aa</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialPurple-500">
									<p class="colorTextWhite">Purple-500</p>
									<p class="colorTextWhite">#9c27b0</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialPurple-400">
									<p class="colorTextWhite">Purple-400</p>
									<p class="colorTextWhite">#ab47bc</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialPurple-300">
									<p class="colorTextWhite">Purple-300</p>
									<p class="colorTextWhite">#ba68c8</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialPurple-200">
									<p class="colorTextWhite">Purple-200</p>
									<p class="colorTextWhite">#ce93d8</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialPurple-100">
									<p class="colorTextDarkOrange">Purple-100</p>
									<p class="colorTextDarkOrange">#e1bee7</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialPurple-50">
									<p class="colorTextDarkOrange">Purple-50</p>
									<p class="colorTextDarkOrange">#f3e5f5</p>
								</div>
								<!-- materialColorsBox-->
							</div>
						</div>
						<!--panel-body-->
					</div>
				</div>
				<!--row-->
				<div class="row">
					<div class="col-lg-12 ">
						<div class="panel panel-default">
							<div class="panel-heading clearfix">
								<div class="panel-heading-title pull-left">
									<h6>MATERIAL CYAN</h6>
								</div>
								<!--panel-heading-title-->
								<div class="panel-heading-buttons pull-right">
									<div class="bs-example">
										<ul class="clearfix">
											<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
											<li class="btn btn-defult  fullScreen"> <i class="fa fa-expand"></i> </li>
											<li class=" btn btn-defult dropdown">
												<a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
													<i class="fa fa-cog"></i>
												</a>
												<ul class="dropdown-menu" aria-labelledby="drop4">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
								<!--panel-heading-buttons-->
							</div>
							<!--panel-->
							<div class="panel-body">
								<div class="materialColorsBox materialCyan-A700">
									<p class="colorTextWhite">Cyan-A700</p>
									<p class="colorTextWhite">#00b8d4</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialCyan-A400">
									<p class="colorTextWhite">Cyan-A400</p>
									<p class="colorTextWhite">#00e5ff</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialCyan-A200">
									<p class="colorTextWhite">Cyan-A200</p>
									<p class="colorTextWhite">#18ffff</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialCyan-A100">
									<p class="colorTextWhite">Cyan-A100</p>
									<p class="colorTextWhite">#84ffff</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialCyan-900">
									<p class="colorTextWhite">Cyan-900</p>
									<p class="colorTextWhite">#006064</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialCyan-800">
									<p class="colorTextWhite">Cyan-800</p>
									<p class="colorTextWhite">#00838f</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialCyan-700">
									<p class="colorTextWhite">Cyan-700</p>
									<p class="colorTextWhite">#0097a7</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialCyan-600">
									<p class="colorTextWhite">Cyan-600</p>
									<p class="colorTextWhite">#00acc1</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialCyan-500">
									<p class="colorTextWhite">Cyan-500</p>
									<p class="colorTextWhite">#00bcd4</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialCyan-400">
									<p class="colorTextWhite">Cyan-400</p>
									<p class="colorTextWhite">#26c6da</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialCyan-300">
									<p class="colorTextWhite">Cyan-300</p>
									<p class="colorTextWhite">#4dd0e1</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialCyan-200">
									<p class="colorTextWhite">Cyan-200</p>
									<p class="colorTextWhite">#80deea</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialCyan-100">
									<p class="colorTextDarkOrange">Cyan-100</p>
									<p class="colorTextDarkOrange">#b2ebf2</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialCyan-50">
									<p class="colorTextDarkOrange">Cyan-50</p>
									<p class="colorTextDarkOrange">#e0f7fa</p>
								</div>
								<!-- materialColorsBox-->
							</div>
						</div>
						<!--panel-body-->
					</div>
				</div>
				<!--row-->
				<div class="row">
					<div class="col-lg-12 ">
						<div class="panel panel-default">
							<div class="panel-heading clearfix">
								<div class="panel-heading-title pull-left">
									<h6>MATERIAL CYAN</h6>
								</div>
								<!--panel-heading-title-->
								<div class="panel-heading-buttons pull-right">
									<div class="bs-example">
										<ul class="clearfix">
											<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
											<li class="btn btn-defult  fullScreen"> <i class="fa fa-expand"></i> </li>
											<li class=" btn btn-defult dropdown">
												<a id="drop5" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
													<i class="fa fa-cog"></i>
												</a>
												<ul class="dropdown-menu" aria-labelledby="drop5">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
								<!--panel-heading-buttons-->
							</div>
							<!--panel-->
							<div class="panel-body">
								<div class="materialColorsBox materialCyan-A700">
									<p class="colorTextWhite">Cyan-A700</p>
									<p class="colorTextWhite">#00b8d4</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialCyan-A400">
									<p class="colorTextWhite">Cyan-A400</p>
									<p class="colorTextWhite">#00e5ff</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialCyan-A200">
									<p class="colorTextWhite">Cyan-A200</p>
									<p class="colorTextWhite">#18ffff</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialCyan-A100">
									<p class="colorTextWhite">Cyan-A100</p>
									<p class="colorTextWhite">#84ffff</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialCyan-900">
									<p class="colorTextWhite">Cyan-900</p>
									<p class="colorTextWhite">#006064</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialCyan-800">
									<p class="colorTextWhite">Cyan-800</p>
									<p class="colorTextWhite">#00838f</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialCyan-700">
									<p class="colorTextWhite">Cyan-700</p>
									<p class="colorTextWhite">#0097a7</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialCyan-600">
									<p class="colorTextWhite">Cyan-600</p>
									<p class="colorTextWhite">#00acc1</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialCyan-500">
									<p class="colorTextWhite">Cyan-500</p>
									<p class="colorTextWhite">#00bcd4</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialCyan-400">
									<p class="colorTextWhite">Cyan-400</p>
									<p class="colorTextWhite">#26c6da</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialCyan-300">
									<p class="colorTextWhite">Cyan-300</p>
									<p class="colorTextWhite">#4dd0e1</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialCyan-200">
									<p class="colorTextWhite">Cyan-200</p>
									<p class="colorTextWhite">#80deea</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialCyan-100">
									<p class="colorTextDarkOrange">Cyan-100</p>
									<p class="colorTextDarkOrange">#b2ebf2</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialCyan-50">
									<p class="colorTextDarkOrange">Cyan-50</p>
									<p class="colorTextDarkOrange">#e0f7fa</p>
								</div>
								<!-- materialColorsBox-->
							</div>
						</div>
						<!--panel-body-->
					</div>
				</div>
				<!--row-->
				<div class="row">
					<div class="col-lg-12 ">
						<div class="panel panel-default">
							<div class="panel-heading clearfix">
								<div class="panel-heading-title pull-left">
									<h6>MATERIAL YELLOW</h6>
								</div>
								<!--panel-heading-title-->
								<div class="panel-heading-buttons pull-right">
									<div class="bs-example">
										<ul class="clearfix">
											<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
											<li class="btn btn-defult  fullScreen"> <i class="fa fa-expand"></i> </li>
											<li class=" btn btn-defult dropdown">
												<a id="drop6" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
													<i class="fa fa-cog"></i>
												</a>
												<ul class="dropdown-menu" aria-labelledby="drop6">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
								<!--panel-heading-buttons-->
							</div>
							<!--panel-->
							<div class="panel-body">
								<div class="materialColorsBox materialYellow-A700">
									<p class="colorTextDarkOrange">Yellow-A700</p>
									<p class="colorTextDarkOrange">#ffd600</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialYellow-A400">
									<p class="colorTextDarkOrange">Yellow-A400</p>
									<p class="colorTextDarkOrange">#ffea00</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialYellow-A200">
									<p class="colorTextDarkOrange">Yellow-A200</p>
									<p class="colorTextDarkOrange">#ff0</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialYellow-A100">
									<p class="colorTextDarkOrange">Yellow-A100</p>
									<p class="colorTextDarkOrange">#ffff8d</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialYellow-900">
									<p class="colorTextDarkOrange">Yellow-900</p>
									<p class="colorTextDarkOrange">#f57f17</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialYellow-800">
									<p class="colorTextDarkOrange">Yellow-800</p>
									<p class="colorTextDarkOrange">#f9a825</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialYellow-700">
									<p class="colorTextDarkOrange">Yellow-700</p>
									<p class="colorTextDarkOrange">#fbc02d</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialYellow-600">
									<p class="colorTextDarkOrange">Yellow-600</p>
									<p class="colorTextDarkOrange">#fdd835</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialYellow-500">
									<p class="colorTextDarkOrange">Yellow-500</p>
									<p class="colorTextDarkOrange">#ffeb3b</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialYellow-400">
									<p class="colorTextDarkOrange">Yellow-400</p>
									<p class="colorTextDarkOrange">#ffee58</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialYellow-300">
									<p class="colorTextDarkOrange">Yellow-300</p>
									<p class="colorTextDarkOrange">#fff176</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialYellow-200">
									<p class="colorTextDarkOrange">Yellow-200</p>
									<p class="colorTextDarkOrange">#fff59d</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialYellow-100">
									<p class="colorTextDarkOrange">Yellow-100</p>
									<p class="colorTextDarkOrange">#fff9c4</p>
								</div>
								<!-- materialColorsBox-->
								<div class="materialColorsBox materialYellow-50">
									<p class="colorTextDarkOrange">Yellow-50</p>
									<p class="colorTextDarkOrange">#fffde7</p>
								</div>
								<!-- materialColorsBox-->
							</div>
						</div>
						<!--panel-body-->
					</div>
				</div>
				<!--row-->
				<!--MEIN CONTENT-->
@@include('./_stopConteiner.html') 		
@@include('./_footer.html') 