  @@include('./_header.html', {
    "title": "FlotChart"
  })
@@include('./_startConteiner.html') 	
		<div id="mainWrapper" class="mainConteiner column">
			<!--start nainconteiner-->
			<div class="mainConteinerConten">
				<div class="container-fluid footerfix">
					<div class="row firstRow">
						<!--row firstRow-->
						<div class="col-lg-9  col-md-8  col-sm-7">
							<div class="firstRowHeader">
								<h5>FLOTCHART</h5>
							</div>
							<ol class="breadcrumb">
								<li><a href="index.html">Home</a></li>
								<li><a>Charts</a></li>
								<li class="active">FlotChart</li>
							</ol>
						</div>
						<!--firstRowHeader-->
						<div class="col-lg-3   col-md-4  col-sm-5">
							<div class="miniDiagramsConteiner">
								<div class="miniDiagramsContent">
									<div class="miniDiagramsContentHeader">
										1290 items
									</div>
									<!--miniDiagramsContentHeader-->
									<div class="miniDiagramsContentContent">
										<span class="inlinebar">4,3,4,5,3,5,4,3,4,5,3,5,4,5,3,5</span>
									</div>
									<!--miniDiagramsContentContent-->
								</div>
								<!--miniDiagramsContent-->
								<div class="miniDiagramsContent">
									<div class="miniDiagramsContentHeader">
										$30,00 revenue

									</div>
									<!--miniDiagramsContentHeader-->
									<div class="miniDiagramsContentContent">
										<span class="inlinebar">4,3,4,5,3,5,4,3,4,5,3,5,4,5,3,5</span>
									</div>
									<!--miniDiagramsContentContent-->
								</div>
								<!--miniDiagramsContent-->
							</div>
							<!--miniDiagramsConteiner-->
						</div>
					</div>
					<!--MEIN CONTENT -->
					<div class="row">
						<div class="col-lg-6 ">
							<div class="panel panel-default">
								<div class="panel-heading clearfix">
									<div class="panel-heading-title pull-left">
										<h6>Panel title</h6>
									</div>
									<!--panel-heading-title-->
									<div class="panel-heading-buttons pull-right">
										<div class="bs-example">
											<ul class="clearfix">
												<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
												<li class=" btn btn-defult dropdown">
													<a id="drop" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
														<i class="fa fa-cog"></i>
													</a>
													<ul class="dropdown-menu" aria-labelledby="drop">
														<li><a href="#">Action</a></li>
														<li><a href="#">Another action</a></li>
														<li><a href="#">Something else here</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
									<!--panel-heading-buttons-->
								</div>
								<!--panel-->
								<div class="panel-body">
									<div class="flotChartsWrapper">
										<div id="placeholder"></div>
									</div>
									<!--flotChartsWrapper-->
								</div>
							</div>
							<!--panel-body-->
						</div>
						<div class="col-lg-6 ">
							<div class="panel panel-default">
								<div class="panel-heading clearfix">
									<div class="panel-heading-title pull-left">
										<h6>LINE DIAGRAM with fill</h6>
									</div>
									<!--panel-heading-title-->
									<div class="panel-heading-buttons pull-right">
										<div class="bs-example">
											<ul class="clearfix">
												<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
												<li class=" btn btn-defult dropdown">
													<a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
														<i class="fa fa-cog"></i>
													</a>
													<ul class="dropdown-menu" aria-labelledby="drop1">
														<li><a href="#">Action</a></li>
														<li><a href="#">Another action</a></li>
														<li><a href="#">Something else here</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
									<!--panel-heading-buttons-->
								</div>
								<!--panel-->
								<div class="panel-body">

									<div class="flotChartsWrapper">
										<div id="placeholder2"></div>
									</div>
									<!--flotChartsWrapper-->
								</div>
							</div>
							<!--panel-body-->
						</div>
					</div>
					<!--row-->
					<div class="row">
						<div class="col-lg-6 ">
							<div class="panel panel-default">
								<div class="panel-heading clearfix">
									<div class="panel-heading-title pull-left">
										<h6>LINE DIAGRAM with points</h6>
									</div>
									<!--panel-heading-title-->
									<div class="panel-heading-buttons pull-right">
										<div class="bs-example">
											<ul class="clearfix">
												<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
												<li class=" btn btn-defult dropdown">
													<a id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
														<i class="fa fa-cog"></i>
													</a>
													<ul class="dropdown-menu" aria-labelledby="drop2">
														<li><a href="#">Action</a></li>
														<li><a href="#">Another action</a></li>
														<li><a href="#">Something else here</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
									<!--panel-heading-buttons-->
								</div>
								<!--panel-->
								<div class="panel-body">
									<div class="flotChartsWrapper">
										<div id="placeholder3"></div>
									</div>
									<!--flotChartsWrapper-->
								</div>
							</div>
							<!--panel-body-->
						</div>
						<div class="col-lg-6 ">
							<div class="panel panel-default">
								<div class="panel-heading clearfix">
									<div class="panel-heading-title pull-left">
										<h6>LINE DIAGRAM with legend</h6>
									</div>
									<!--panel-heading-title-->
									<div class="panel-heading-buttons pull-right">
										<div class="bs-example">
											<ul class="clearfix">
												<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
												<li class=" btn btn-defult dropdown">
													<a id="drop3" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
														<i class="fa fa-cog"></i>
													</a>
													<ul class="dropdown-menu" aria-labelledby="drop3">
														<li><a href="#">Action</a></li>
														<li><a href="#">Another action</a></li>
														<li><a href="#">Something else here</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
									<!--panel-heading-buttons-->
								</div>
								<!--panel-->
								<div class="panel-body">
									<div class="flotChartsWrapper">
										<div id="placeholder4"></div>
									</div>
									<!--flotChartsWrapper-->
								</div>
							</div>
							<!--panel-body-->
						</div>
					</div>
					<!--row-->
					<div class="row">
						<div class="col-lg-6 ">
							<div class="panel panel-default">
								<div class="panel-heading clearfix">
									<div class="panel-heading-title pull-left">
										<h6>BAR DIAGRAM</h6>
									</div>
									<!--panel-heading-title-->
									<div class="panel-heading-buttons pull-right">
										<div class="bs-example">
											<ul class="clearfix">
												<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
												<li class=" btn btn-defult dropdown">
													<a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
														<i class="fa fa-cog"></i>
													</a>
													<ul class="dropdown-menu" aria-labelledby="drop4">
														<li><a href="#">Action</a></li>
														<li><a href="#">Another action</a></li>
														<li><a href="#">Something else here</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
									<!--panel-heading-buttons-->
								</div>
								<!--panel-->
								<div class="panel-body">
									<div class="flotChartsWrapper">
										<div id="placeholder5"></div>
									</div>
									<!--flotChartsWrapper-->
								</div>
							</div>
							<!--panel-body-->
						</div>
						<div class="col-lg-6 ">
							<div class="panel panel-default">
								<div class="panel-heading clearfix">
									<div class="panel-heading-title pull-left">
										<h6>BAR DIAGRAM with fill</h6>
									</div>
									<!--panel-heading-title-->
									<div class="panel-heading-buttons pull-right">
										<div class="bs-example">
											<ul class="clearfix">
												<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
												<li class=" btn btn-defult dropdown">
													<a id="drop5" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
														<i class="fa fa-cog"></i>
													</a>
													<ul class="dropdown-menu" aria-labelledby="drop5">
														<li><a href="#">Action</a></li>
														<li><a href="#">Another action</a></li>
														<li><a href="#">Something else here</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
									<!--panel-heading-buttons-->
								</div>
								<!--panel-->
								<div class="panel-body">
									<div class="flotChartsWrapper">
										<div id="placeholder6"></div>
									</div>
									<!--flotChartsWrapper-->
								</div>
							</div>
							<!--panel-body-->
						</div>
					</div>
					<!--row-->
					<div class="row">
						<div class="col-lg-6 ">
							<div class="panel panel-default">
								<div class="panel-heading clearfix">
									<div class="panel-heading-title pull-left">
										<h6>DEFAULT PIE CHART</h6>
									</div>
									<!--panel-heading-title-->
									<div class="panel-heading-buttons pull-right">
										<div class="bs-example">
											<ul class="clearfix">
												<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
												<li class=" btn btn-defult dropdown">
													<a id="drop6" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
														<i class="fa fa-cog"></i>
													</a>
													<ul class="dropdown-menu" aria-labelledby="drop6">
														<li><a href="#">Action</a></li>
														<li><a href="#">Another action</a></li>
														<li><a href="#">Something else here</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
									<!--panel-heading-buttons-->
								</div>
								<!--panel-->
								<div class="panel-body">
									<div class="flotChartsWrapper">
										<div id="placeholder7"></div>
									</div>
									<!--flotChartsWrapper-->
								</div>
							</div>
							<!--panel-body-->
						</div>
						<div class="col-lg-6 ">
							<div class="panel panel-default">
								<div class="panel-heading clearfix">
									<div class="panel-heading-title pull-left">
										<h6>PIE CHART without legend</h6>
									</div>
									<!--panel-heading-title-->
									<div class="panel-heading-buttons pull-right">
										<div class="bs-example">
											<ul class="clearfix">
												<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
												<li class=" btn btn-defult dropdown">
													<a id="drop7" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
														<i class="fa fa-cog"></i>
													</a>
													<ul class="dropdown-menu" aria-labelledby="drop7">
														<li><a href="#">Action</a></li>
														<li><a href="#">Another action</a></li>
														<li><a href="#">Something else here</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
									<!--panel-heading-buttons-->
								</div>
								<!--panel-->
								<div class="panel-body">
									<div class="flotChartsWrapper">
										<div id="placeholder8"></div>
									</div>
									<!--flotChartsWrapper-->
								</div>
							</div>
							<!--panel-body-->
						</div>
					</div>
					<!--row-->
					<div class="row">
						<div class="col-lg-6 ">
							<div class="panel panel-default">
								<div class="panel-heading clearfix">
									<div class="panel-heading-title pull-left">
										<h6>DONUT HOLE</h6>
									</div>
									<!--panel-heading-title-->
									<div class="panel-heading-buttons pull-right">
										<div class="bs-example">
											<ul class="clearfix">
												<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
												<li class=" btn btn-defult dropdown">
													<a id="drop8" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
														<i class="fa fa-cog"></i>
													</a>
													<ul class="dropdown-menu" aria-labelledby="drop8">
														<li><a href="#">Action</a></li>
														<li><a href="#">Another action</a></li>
														<li><a href="#">Something else here</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
									<!--panel-heading-buttons-->
								</div>
								<!--panel-->
								<div class="panel-body">
									<div class="flotChartsWrapper">
										<div id="placeholder9"></div>
									</div>
									<!--flotChartsWrapper-->
								</div>
							</div>
							<!--panel-body-->
						</div>
						<div class="col-lg-6 ">
							<div class="panel panel-default">
								<div class="panel-heading clearfix">
									<div class="panel-heading-title pull-left">
										<h6>INTERACTIVITY PIE CHART</h6>
									</div>
									<!--panel-heading-title-->
									<div class="panel-heading-buttons pull-right">
										<div class="bs-example">
											<ul class="clearfix">
												<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
												<li class=" btn btn-defult dropdown">
													<a id="drop9" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
														<i class="fa fa-cog"></i>
													</a>
													<ul class="dropdown-menu" aria-labelledby="drop9">
														<li><a href="#">Action</a></li>
														<li><a href="#">Another action</a></li>
														<li><a href="#">Something else here</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
									<!--panel-heading-buttons-->
								</div>
								<!--panel-->
								<div class="panel-body">
									<div class="flotChartsWrapper">
										<div id="placeholder10"></div>
									</div>
									<!--flotChartsWrapper-->
								</div>
							</div>
							<!--panel-body-->
						</div>
					</div>
					<!--row-->
					<!--MEIN CONTENT -->
@@include('./_stopConteiner.html')
 <script type="text/javascript" src="lib/flotChart/jquery.flot.js"></script>
<script type="text/javascript" src="lib/flotChart/jquery.flot.pie.js"></script>
<script type="text/javascript" src="lib/flotChart/jquery.flot.resize.js"></script>
<script type="text/javascript" src="js/flotchartsExample.js"></script>
@@include('./_footer.html') 