  @@include('./_header.html', {
    "title": "Gallery"
  })
   <link href="lib/lightbox/imagelightbox.css" rel="stylesheet" type="text/css">		
@@include('./_startConteiner.html') 	
		<div id="mainWrapper" class="mainConteiner column">
			<!--start nainconteiner-->
			<div class="mainConteinerConten">
				<div class="container-fluid footerfix">
					<div class="row firstRow">
						<!--row firstRow-->
						<div class="col-lg-9  col-md-8  col-sm-7">
							<div class="firstRowHeader">
								<h5>GALLERY</h5>
							</div>
							<ol class="breadcrumb">
								<li><a href="index.html">Home</a></li>
								<li><a>Gallery</a></li>
								<li class="active">Gallery</li>
							</ol>
						</div>
						<!--firstRowHeader-->
						<div class="col-lg-3   col-md-4  col-sm-5">
							<div class="miniDiagramsConteiner">
								<div class="miniDiagramsContent">
									<div class="miniDiagramsContentHeader">
										1290 items
									</div>
									<!--miniDiagramsContentHeader-->
									<div class="miniDiagramsContentContent">
										<span class="inlinebar">4,3,4,5,3,5,4,3,4,5,3,5,4,5,3,5</span>
									</div>
									<!--miniDiagramsContentContent-->
								</div>
								<!--miniDiagramsContent-->
								<div class="miniDiagramsContent">
									<div class="miniDiagramsContentHeader">
										$30,00 revenue

									</div>
									<!--miniDiagramsContentHeader-->
									<div class="miniDiagramsContentContent">
										<span class="inlinebar">4,3,4,5,3,5,4,3,4,5,3,5,4,5,3,5</span>
									</div>
									<!--miniDiagramsContentContent-->
								</div>
								<!--miniDiagramsContent-->
							</div>
							<!--miniDiagramsConteiner-->
						</div>
					</div>
					<!--	MEIN CONTENT  -->
					<div class="row">
						<div class="col-lg-12 ">
							<div class="panel panel-default">
								<div class="panel-heading clearfix">
									<div class="panel-heading-title pull-left">
										<h6>Lightbox gallery</h6>
									</div>
									<!--panel-heading-title-->
									<div class="panel-heading-buttons pull-right">
										<div class="bs-example">
											<p class="clearfix">
												<button class="btn btn-defult remove"> <i class="fa fa-times"></i></button>
										</div>
									</div>
									<!--panel-heading-buttons-->
								</div>
								<!--panel-->
								<div class="panel-body">
									<div id="container">
										<ul>
											<li>
												<a href="img/full/1.jpg" data-imagelightbox="f"><img src="img/thumb/1.jpg" alt="Storm in Klaipeda" /></a>
											</li>
											<li>
												<a href="img/full/2.jpg" data-imagelightbox="f"><img src="img/thumb/2.jpg" alt="Storm in Klaipeda" /></a>
											</li>
											<li>
												<a href="img/full/3.jpg" data-imagelightbox="f"><img src="img/thumb/3.jpg" alt="Storm in Klaipeda" /></a>
											</li>
											<li>
												<a href="img/full/4.jpg" data-imagelightbox="f"><img src="img/thumb/4.jpg" alt="Storm in Klaipeda" /></a>
											</li>
											<li>
												<a href="img/full/5.jpg" data-imagelightbox="f"><img src="img/thumb/5.jpg" alt="Storm in Klaipeda" /></a>
											</li>
											<li>
												<a href="img/full/6.jpg" data-imagelightbox="f"><img src="img/thumb/6.jpg" alt="Storm in Klaipeda" /></a>
											</li>
											<li>
												<a href="img/full/7.jpg" data-imagelightbox="f"><img src="img/thumb/7.jpg" alt="Storm in Klaipeda" /></a>
											</li>
											<li>
												<a href="img/full/8.jpg" data-imagelightbox="f"><img src="img/thumb/8.jpg" alt="Storm in Klaipeda" /></a>
											</li>
											<li>
												<a href="img/full/9.jpg" data-imagelightbox="f"><img src="img/thumb/9.jpg" alt="Storm in Klaipeda" /></a>
											</li>
											<li>
												<a href="img/full/10.jpg" data-imagelightbox="f"><img src="img/thumb/10.jpg" alt="Storm in Klaipeda" /></a>
											</li>
											<li>
												<a href="img/full/11.jpg" data-imagelightbox="f"><img src="img/thumb/11.jpg" alt="Storm in Klaipeda" /></a>
											</li>
											<li>
												<a href="img/full/12.jpg" data-imagelightbox="f"><img src="img/thumb/12.jpg" alt="Storm in Klaipeda" /></a>
											</li>
										</ul>
									</div>
								</div>
								<!--panel-body-->
							</div>
						</div>
					</div>
					<!--row-->
					<!--MEIN CONTENT-->
@@include('./_stopConteiner.html') 		
<script src="lib/lightbox/imagelightbox.js"></script>
<script src="js/galleryFunctions.js"></script>    
@@include('./_footer.html') 