  @@include('./_header.html', {
    "title": "Mailbox"
  })
 <link href="lib/icheck/skins/all.css" rel="stylesheet">
  @@include('./_startConteiner.html') 	
 <div id="mainWrapper" class="mainConteiner column">
	<!--start nainconteiner-->
	<div class="mainConteinerConten">
		<div class="container-fluid footerfix">
			<div class="row mailBoxHeader">
				<div class="col-lg-8 col-md-2 col-sm-4">
					<div class="firstRowHeader">
						<h5>MAILBOX</h5>
					</div>
				</div>
				<div class="col-lg-4 col-md-10 col-sm-8">
					<ul class="mailBoxHeader">
						<li>
							<button class="btn buttonsRectangular buttonsColorWhite float-button-light waves-effect waves-button waves-float waves-light"><i class="fa fa-retweet"></i></button>
						</li>
						<li>
							<button type="button" class="btn buttonsRectangular buttonsColorYellow float-button-light waves-effect waves-button waves-float waves-light"><i class="fa fa-exclamation-triangle"></i></button>
						</li>
						<li>
							<button type="button" class="btn buttonsRectangular buttonsColorPink float-button-light waves-effect waves-button waves-float waves-light"><i class="fa fa-trash-o"></i></button>
						</li>
						<li>
					</ul>
				</div>
			</div>
			<!--mailBoxHeaderWrapper-->
			<!--MEIN CONTENT-->
			<div class="row">
				<div class="col-lg-4  clearfix">
					<div class="mailBoxContent">
						<div class="mailBoxMenuItem waves-effect waves-dark">
							<div class="mailBoxMenuItemIcon">
								<div class="mailIconHolderMenu sotialColor">
									<i class="fa fa-inbox"></i>
								</div>
								<!--mailIconHolder-->
							</div>
							<!--mailBoxMenuItemIcon-->
							<div class="mailBoxMenuItemName">
								<span>INBOX</span>
							</div>
							<!--mailBoxMenuItemName-->
							<span class="newMail sotialColor"><a href="">25 new</a></span>
						</div>
						<!--mailBoxContentAnt-->
						<div class="mailBoxMenuItem waves-effect waves-dark">
							<div class="mailBoxMenuItemIcon">
								<div class="mailIconHolderMenu promotionsColor">
									<i class="fa fa-tag"></i>
								</div>
								<!--mailIconHolder-->
							</div>
							<!--mailBoxMenuItemIcon-->
							<div class="mailBoxMenuItemName">
								<span>NOTED</span>
							</div>
							<!--mailBoxMenuItemName-->
						</div>
						<!--mailBoxContentAnt-->
						<div class="mailBoxMenuItem waves-effect waves-dark">
							<div class="mailBoxMenuItemIcon">
								<div class="mailIconHolderMenu updatesColor">
									<i class="fa fa-exclamation-circle"></i>
								</div>
								<!--mailIconHolder-->
							</div>
							<!--mailBoxMenuItemIcon-->
							<div class="mailBoxMenuItemName">
								<span>IMPORTANT</span>
							</div>
							<!--mailBoxMenuItemName-->
						</div>
						<div class="mailBoxMenuItem waves-effect waves-dark">
							<div class="mailBoxMenuItemIcon">
								<div class="mailIconHolderMenu updatesColor">
									<i class="fa fa-trash"></i>
								</div>
								<!--mailIconHolder-->
							</div>
							<!--mailBoxMenuItemIcon-->
							<div class="mailBoxMenuItemName">
								<span>TRASH</span>
							</div>
							<!--mailBoxMenuItemName-->
						</div>
						<!--mailBoxContentAnt-->
						<!--mailBoxContentAnt-->
						<div class="mailboxGroupName">
							<h6>SOCIAL</h6></div>
						<div class="mailBoxMenuItem waves-effect waves-dark">
							<div class="mailBoxMenuItemIcon">
								<div class="mailIconHolderMenu faceboockColor">
									<i class="fa fa-facebook"></i>
								</div>
								<!--mailIconHolder-->
							</div>
							<!--mailBoxMenuItemIcon-->
							<div class="mailBoxMenuItemName">
								<span>Faceboock.com</span>
							</div>
							<!--mailBoxMenuItemName-->
						</div>
						<!--mailBoxContentAnt-->
						<div class="mailBoxMenuItem waves-effect waves-dark">
							<div class="mailBoxMenuItemIcon">
								<div class="mailIconHolderMenu twitterColor">
									<i class="fa fa-twitter"></i>
								</div>
								<!--mailIconHolder-->
							</div>
							<!--mailBoxMenuItemIcon-->
							<div class="mailBoxMenuItemName">
								<span>Twitter</span>
							</div>
							<span class="newMail twitterColor"><a href="">2 new</a></span>
							<!--mailBoxMenuItemName-->
						</div>
						<!--mailBoxContentAnt-->
						<div class="mailBoxMenuItem waves-effect waves-dark">
							<div class="mailBoxMenuItemIcon">
								<div class="mailIconHolderMenu googleColor">
									<i class="fa fa-google-plus"></i>
								</div>
								<!--mailIconHolder-->
							</div>
							<!--mailBoxMenuItemIcon-->
							<div class="mailBoxMenuItemName">
								<span>Google +</span>
							</div>
							<!--mailBoxMenuItemName-->
						</div>
						<!--mailBoxContentAnt-->
						<div class="mailboxGroupName">
							<h6>CONTACTS</h6></div>
						<div class="mailBoxMenuItem waves-effect waves-dark">
							<div class="mailBoxMenuItemIcon">
								<div class="mailIconHolderMenu ">
									<img src="img/user3.jpg" alt="user1" class="img-circle">
								</div>
								<!--mailIconHolder-->
							</div>
							<!--mailBoxMenuItemIcon-->
							<div class="mailBoxMenuItemName">
								<span>Amily Opaits</span>
							</div>
							<span class="newMail updatesColor"><a href="">ONLINE</a></span>
							<!--mailBoxMenuItemName-->
						</div>
						<!--mailBoxContentAnt-->
						<div class="mailBoxMenuItem waves-effect waves-dark">
							<div class="mailBoxMenuItemIcon">
								<div class="mailIconHolderMenu ">
									<img src="img/user2.jpg" alt="user1" class="img-circle">
								</div>
								<!--mailIconHolder-->
							</div>
							<!--mailBoxMenuItemIcon-->
							<div class="mailBoxMenuItemName">
								<span>Andy Opaits</span>
							</div>
							<span class="newMail updatesColor"><a href="">ONLINE</a></span>
							<!--mailBoxMenuItemName-->
						</div>
						<!--mailBoxContentAnt-->
						<div class="mailBoxMenuItem waves-effect waves-dark">
							<div class="mailBoxMenuItemIcon">
								<div class="mailIconHolderMenu ">
									<img src="img/user1.jpg" alt="user1" class="img-circle">
								</div>
								<!--mailIconHolder-->
							</div>
							<!--mailBoxMenuItemIcon-->
							<div class="mailBoxMenuItemName">
								<span>Peter Greenberg</span>
							</div>
							<span class="newMail sotialColor"><a href="">OFFLINE</a></span>
							<!--mailBoxMenuItemName-->
						</div>
						<!--mailBoxButtonPlaceholder-->
					</div>
					<!--MainWrapper-->
				</div>
				<div class="col-lg-8  clearfix">
					<div class="mailBoxContent">
						<div class="mailBoxContentAnt  newMailIncome">
							<div class="mailBoxContentAntIcon">
								<div class="mailIconHolder sotialColor">
									<i class="fa fa-users"></i>
								</div>
								<!--mailIconHolder-->
							</div>
							<!--mailBoxContentAntIcon-->
							<div class="mailBoxContentAntContent">
								<span>Social</span> &nbsp;/&nbsp; <span class="mailTime mainMailColor">Today 16:40 <a href=""><i class="fa fa-thumb-tack"></i></a></span>
								<a href="mail_detail.html" class="mailboxWatch ">
									<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
								</a>
							</div>
							<!--mailBoxContentAntContent-->
							<div class="mailBoxContenChek">
								<span class="inbox-checkbox">
	<span class="checkbox checkbox-blue">
	<input type="checkbox" class="mail-checkbox">
	<label></label>
	</span>
								</span>
							</div>
							<!--mailBoxContenChek-->
						</div>
						<!--mailBoxContentAnt-->
						<div class="mailBoxContentAnt ">
							<div class="mailBoxContentAntIcon">
								<div class="mailIconHolder promotionsColor">
									<i class="fa fa-tag"></i>
								</div>
								<!--mailIconHolder-->
							</div>
							<!--mailBoxContentAntIcon-->
							<div class="mailBoxContentAntContent">
								<span>Promotions</span> &nbsp;/&nbsp; <span class="mailTime mainMailColor">Today 16:10 <a href=""><i class="fa fa-thumb-tack"></i></a></span>
								<a href="mail_detail.html" class="mailboxWatch ">
									<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
								</a>
							</div>
							<!--mailBoxContentAntContent-->
							<div class="mailBoxContenChek">
								<span class="inbox-checkbox">
	<span class="checkbox checkbox-blue">
	<input type="checkbox" class="mail-checkbox">
	<label></label>
	</span>
								</span>
							</div>
							<!--mailBoxContenChek-->
						</div>
						<!--mailBoxContentAnt-->
						<div class="mailBoxContentAnt ">
							<div class="mailBoxContentAntIcon">
								<div class="mailIconHolder updatesColor">
									<i class="fa fa-exclamation-circle"></i>
								</div>
								<!--mailIconHolder-->
							</div>
							<!--mailBoxContentAntIcon-->
							<div class="mailBoxContentAntContent">
								<span>Updates</span>&nbsp;/&nbsp; <span class="mailTime mainMailColor">Today 15:35 <a href=""><i class="fa fa-thumb-tack"></i></a></span>
								<a href="mail_detail.html" class="mailboxWatch ">
									<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
								</a>
							</div>
							<!--mailBoxContentAntContent-->
							<div class="mailBoxContenChek">
								<span class="inbox-checkbox">
	<span class="checkbox checkbox-blue">
	<input type="checkbox" class="mail-checkbox">
	<label></label>
	</span>
								</span>
							</div>
							<!--mailBoxContenChek-->
						</div>
						<!--mailBoxContentAnt-->
						<div class="mailBoxContentAnt">
							<div class="mailBoxContentAntIcon">
								<div class="mailIconHolder ">
									<img src="img/user1.jpg" alt="user1" class="img-circle">
								</div>
								<!--mailIconHolder-->
							</div>
							<!--mailBoxContentAntIcon-->
							<div class="mailBoxContentAntContent">
								<span>Peter Greenberg</span>&nbsp;/&nbsp; <span class="mailTime mainMailColor">Today 15:20 <a href=""><i class="fa fa-thumb-tack"></i></a></span>
								<a href="mail_detail.html" class="mailboxWatch ">
									<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
								</a>
							</div>
							<!--mailBoxContentAntContent-->
							<div class="mailBoxContenChek">
								<span class="inbox-checkbox">
	<span class="checkbox checkbox-blue">
	<input type="checkbox" class="mail-checkbox">
	<label></label>
	</span>
								</span>
							</div>
							<!--mailBoxContenChek-->

						</div>
						<!--mailBoxContentAnt-->
						<div class="mailBoxContentAnt">
							<div class="mailBoxContentAntIcon">
								<div class="mailIconHolder ">
									<img src="img/user2.jpg" alt="user1" class="img-circle">
								</div>
								<!--mailIconHolder-->
							</div>
							<!--mailBoxContentAntIcon-->
							<div class="mailBoxContentAntContent">
								<span>Andy Opaits</span>&nbsp;/&nbsp; <span class="mailTime mainMailColor">Today 14:50 <a href=""><i class="fa fa-thumb-tack"></i></a></span>
								<a href="mail_detail.html" class="mailboxWatch ">
									<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
								</a>
							</div>
							<!--mailBoxContentAntContent-->
							<div class="mailBoxContenChek">
								<span class="inbox-checkbox">
	<span class="checkbox checkbox-blue">
	<input type="checkbox" class="mail-checkbox">
	<label></label>
	</span>
								</span>
							</div>
							<!--mailBoxContenChek-->
						</div>
						<!--mailBoxContentAnt-->
						<div class="mailBoxContentAnt">
							<div class="mailBoxContentAntIcon">
								<div class="mailIconHolder ">
									<img src="img/user3.jpg" alt="user1" class="img-circle">
								</div>
								<!--mailIconHolder-->
							</div>
							<!--mailBoxContentAntIcon-->
							<div class="mailBoxContentAntContent">
								<span>Amily Opaits</span>&nbsp;/&nbsp; <span class="mailTime mainMailColor">Today 13:40 <a href=""><i class="fa fa-thumb-tack"></i></a></span>
								<a href="mail_detail.html" class="mailboxWatch ">
									<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
								</a>
							</div>
							<!--mailBoxContentAntContent-->
							<div class="mailBoxContenChek">
								<span class="inbox-checkbox">
	<span class="checkbox checkbox-blue">
	<input type="checkbox" class="mail-checkbox">
	<label></label>
	</span>
								</span>
							</div>
							<!--mailBoxContenChek-->
						</div>
						<!--mailBoxContentAnt-->
						<div class="mailBoxContentAnt">
							<div class="mailBoxContentAntIcon">
								<div class="mailIconHolder faceboockColor">
									<i class="fa fa-facebook"></i>
								</div>
								<!--mailIconHolder-->
							</div>
							<!--mailBoxContentAntIcon-->
							<div class="mailBoxContentAntContent">
								<span>Faceboock.com</span>&nbsp;/&nbsp; <span class="mailTime mainMailColor">Today 13:10 <a href=""><i class="fa fa-thumb-tack"></i></a></span>
								<a href="mail_detail.html" class="mailboxWatch ">
									<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
								</a>
							</div>
							<!--mailBoxContentAntContent-->
							<div class="mailBoxContenChek">
								<span class="inbox-checkbox">
	<span class="checkbox checkbox-blue">
	<input type="checkbox" class="mail-checkbox">
	<label></label>
	</span>
								</span>
							</div>
							<!--mailBoxContenChek-->
						</div>
						<!--mailBoxContentAnt-->
						<div class="mailBoxContentAnt">
							<div class="mailBoxContentAntIcon">
								<div class="mailIconHolder twitterColor">
									<i class="fa fa-twitter"></i>
								</div>
								<!--mailIconHolder-->
							</div>
							<!--mailBoxContentAntIcon-->
							<div class="mailBoxContentAntContent">
								<span>Twitter</span>&nbsp;/&nbsp; <span class="mailTime mainMailColor">Today 12:30 <a href=""><i class="fa fa-thumb-tack"></i></a></span>
								<a href="mail_detail.html" class="mailboxWatch ">
									<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
								</a>
							</div>
							<!--mailBoxContentAntContent-->
							<div class="mailBoxContenChek">
								<span class="inbox-checkbox">
	<span class="checkbox checkbox-blue">
	<input type="checkbox" class="mail-checkbox">
	<label></label>
	</span>
								</span>
							</div>
							<!--mailBoxContenChek-->
						</div>
						<!--mailBoxContentAnt-->
						<div class="mailBoxContentAnt">
							<div class="mailBoxContentAntIcon">
								<div class="mailIconHolder googleColor">
									<i class="fa fa-google-plus"></i>
								</div>
								<!--mailIconHolder-->
							</div>
							<!--mailBoxContentAntIcon-->
							<div class="mailBoxContentAntContent">
								<span>Google +</span>&nbsp;/&nbsp; <span class="mailTime mainMailColor">Today 11:35 <a href=""><i class="fa fa-thumb-tack"></i></a></span>
								<a href="mail_detail.html" class="mailboxWatch ">
									<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
								</a>
							</div>
							<!--mailBoxContentAntContent-->
							<div class="mailBoxContenChek">
								<span class="inbox-checkbox">
	<span class="checkbox checkbox-blue">
	<input type="checkbox" class="mail-checkbox">
	<label></label>
	</span>
								</span>
							</div>
							<!--mailBoxContenChek-->
						</div>
						<!--mailBoxContentAnt-->
					</div>
					<!--MainWrapper-->
				</div>
				<!--	mailBoxContent-->
			</div>
			<!--	MEIN CONTENT  -->
@@include('./_stopConteiner.html') 		
<script type="text/javascript" src="js/buttonsFunctions.js"></script>
<script type="text/javascript" src="lib/icheck/icheck.js"></script>
<script type="text/javascript" src="lib/icheck/custom.js"></script>
<script type="text/javascript" src="js/mailboxFunctions.js"></script>
@@include('./_footer.html') 