  @@include('./_header.html', {
    "title": "Modals"
  })
 <link href="lib/modalWindow/component.css" rel="stylesheet">  
 @@include('./_startConteiner.html') 	
 <div id="mainWrapper" class="mainConteiner column">
	<!--start nainconteiner-->
	<div class="mainConteinerConten">
		<div class="container-fluid footerfix">
			<div class="row firstRow">
				<!--row firstRow-->
				<div class="col-lg-9  col-md-8  col-sm-7">
					<div class="firstRowHeader">
						<h5>MODAL</h5>
					</div>
					<ol class="breadcrumb">
						<li><a href="index.html">Home</a></li>
						<li><a>UI Kits</a></li>
						<li class="active">Modal</li>
					</ol>
				</div>
				<!--firstRowHeader-->
				<div class="col-lg-3   col-md-4  col-sm-5">
					<div class="miniDiagramsConteiner">
						<div class="miniDiagramsContent">
							<div class="miniDiagramsContentHeader">
								1290 items
							</div>
							<!--miniDiagramsContentHeader-->
							<div class="miniDiagramsContentContent">
								<span class="inlinebar">4,3,4,5,3,5,4,3,4,5,3,5,4,5,3,5</span>
							</div>
							<!--miniDiagramsContentContent-->
						</div>
						<!--miniDiagramsContent-->
						<div class="miniDiagramsContent">
							<div class="miniDiagramsContentHeader">
								$30,00 revenue

							</div>
							<!--miniDiagramsContentHeader-->
							<div class="miniDiagramsContentContent">
								<span class="inlinebar">4,3,4,5,3,5,4,3,4,5,3,5,4,5,3,5</span>
							</div>
							<!--miniDiagramsContentContent-->
						</div>
						<!--miniDiagramsContent-->
					</div>
					<!--miniDiagramsConteiner-->
				</div>
			</div>
			<!--MEIN CONTENT -->
			<div class="md-modal md-effect-1" id="modal-1">
				<div class="md-content">
					<h3>Modal Dialog</h3>
					<div>
						<p>This is a modal window. You can do the following things with it:</p>
						<ul>
							<li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
							<li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
							<li><strong>Close:</strong> click on the button below to close the modal.</li>
						</ul>
						<button class="btn btn-default md-close">Close me!</button>
					</div>
				</div>
			</div>
			<div class="md-modal md-effect-2" id="modal-2">
				<div class="md-content">
					<h3>Modal Dialog</h3>
					<div>
						<p>This is a modal window. You can do the following things with it:</p>
						<ul>
							<li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
							<li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
							<li><strong>Close:</strong> click on the button below to close the modal.</li>
						</ul>
						<button class="btn btn-default md-close">Close me!</button>
					</div>
				</div>
			</div>
			<div class="md-modal md-effect-3" id="modal-3">
				<div class="md-content">
					<h3>Modal Dialog</h3>
					<div>
						<p>This is a modal window. You can do the following things with it:</p>
						<ul>
							<li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
							<li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
							<li><strong>Close:</strong> click on the button below to close the modal.</li>
						</ul>
						<button class="btn btn-default md-close">Close me!</button>
					</div>
				</div>
			</div>
			<div class="md-modal md-effect-4" id="modal-4">
				<div class="md-content">
					<h3>Modal Dialog</h3>
					<div>
						<p>This is a modal window. You can do the following things with it:</p>
						<ul>
							<li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
							<li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
							<li><strong>Close:</strong> click on the button below to close the modal.</li>
						</ul>
						<button class="btn btn-default md-close">Close me!</button>
					</div>
				</div>
			</div>
			<div class="md-modal md-effect-5" id="modal-5">
				<div class="md-content">
					<h3>Modal Dialog</h3>
					<div>
						<p>This is a modal window. You can do the following things with it:</p>
						<ul>
							<li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
							<li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
							<li><strong>Close:</strong> click on the button below to close the modal.</li>
						</ul>
						<button class="btn btn-default md-close">Close me!</button>
					</div>
				</div>
			</div>
			<div class="md-modal md-effect-6" id="modal-6">
				<div class="md-content">
					<h3>Modal Dialog</h3>
					<div>
						<p>This is a modal window. You can do the following things with it:</p>
						<ul>
							<li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
							<li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
							<li><strong>Close:</strong> click on the button below to close the modal.</li>
						</ul>
						<button class="btn btn-default md-close">Close me!</button>
					</div>
				</div>
			</div>
			<div class="md-modal md-effect-7" id="modal-7">
				<div class="md-content">
					<h3>Modal Dialog</h3>
					<div>
						<p>This is a modal window. You can do the following things with it:</p>
						<ul>
							<li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
							<li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
							<li><strong>Close:</strong> click on the button below to close the modal.</li>
						</ul>
						<button class="btn btn-default md-close">Close me!</button>
					</div>
				</div>
			</div>
			<div class="md-modal md-effect-8" id="modal-8">
				<div class="md-content">
					<h3>Modal Dialog</h3>
					<div>
						<p>This is a modal window. You can do the following things with it:</p>
						<ul>
							<li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
							<li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
							<li><strong>Close:</strong> click on the button below to close the modal.</li>
						</ul>
						<button class="btn btn-default md-close">Close me!</button>
					</div>
				</div>
			</div>
			<div class="md-modal md-effect-9" id="modal-9">
				<div class="md-content">
					<h3>Modal Dialog</h3>
					<div>
						<p>This is a modal window. You can do the following things with it:</p>
						<ul>
							<li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
							<li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
							<li><strong>Close:</strong> click on the button below to close the modal.</li>
						</ul>
						<button class="btn btn-default md-close">Close me!</button>
					</div>
				</div>
			</div>
			<div class="md-modal md-effect-10" id="modal-10">
				<div class="md-content">
					<h3>Modal Dialog</h3>
					<div>
						<p>This is a modal window. You can do the following things with it:</p>
						<ul>
							<li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
							<li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
							<li><strong>Close:</strong> click on the button below to close the modal.</li>
						</ul>
						<button class="btn btn-default md-close">Close me!</button>
					</div>
				</div>
			</div>
			<div class="md-modal md-effect-11" id="modal-11">
				<div class="md-content">
					<h3>Modal Dialog</h3>
					<div>
						<p>This is a modal window. You can do the following things with it:</p>
						<ul>
							<li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
							<li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
							<li><strong>Close:</strong> click on the button below to close the modal.</li>
						</ul>
						<button class="btn btn-default md-close">Close me!</button>
					</div>
				</div>
			</div>
			<div class="md-modal md-effect-12" id="modal-12">
				<div class="md-content">
					<h3>Modal Dialog</h3>
					<div>
						<p>This is a modal window. You can do the following things with it:</p>
						<ul>
							<li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
							<li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
							<li><strong>Close:</strong> click on the button below to close the modal.</li>
						</ul>
						<button class="btn btn-default md-close">Close me!</button>
					</div>
				</div>
			</div>
			<div class="md-modal md-effect-13" id="modal-13">
				<div class="md-content">
					<h3>Modal Dialog</h3>
					<div>
						<p>This is a modal window. You can do the following things with it:</p>
						<ul>
							<li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
							<li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
							<li><strong>Close:</strong> click on the button below to close the modal.</li>
						</ul>
						<button class="btn btn-default md-close">Close me!</button>
					</div>
				</div>
			</div>
			<div class="md-modal md-effect-14" id="modal-14">
				<div class="md-content">
					<h3>Modal Dialog</h3>
					<div>
						<p>This is a modal window. You can do the following things with it:</p>
						<ul>
							<li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
							<li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
							<li><strong>Close:</strong> click on the button below to close the modal.</li>
						</ul>
						<button class="btn btn-default md-close">Close me!</button>
					</div>
				</div>
			</div>
			<div class="md-modal md-effect-15" id="modal-15">
				<div class="md-content">
					<h3>Modal Dialog</h3>
					<div>
						<p>This is a modal window. You can do the following things with it:</p>
						<ul>
							<li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
							<li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
							<li><strong>Close:</strong> click on the button below to close the modal.</li>
						</ul>
						<button class="btn btn-default md-close">Close me!</button>
					</div>
				</div>
			</div>
			<div class="md-modal md-effect-16" id="modal-16">
				<div class="md-content">
					<h3>Modal Dialog</h3>
					<div>
						<p>This is a modal window. You can do the following things with it:</p>
						<ul>
							<li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
							<li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
							<li><strong>Close:</strong> click on the button below to close the modal.</li>
						</ul>
						<button class="btn btn-default md-close">Close me!</button>
					</div>
				</div>
			</div>
			<div class="md-modal md-effect-17" id="modal-17">
				<div class="md-content">
					<h3>Modal Dialog</h3>
					<div>
						<p>This is a modal window. You can do the following things with it:</p>
						<ul>
							<li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
							<li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
							<li><strong>Close:</strong> click on the button below to close the modal.</li>
						</ul>
						<button class="btn btn-default md-close">Close me!</button>
					</div>
				</div>
			</div>
			<div class="md-modal md-effect-18" id="modal-18">
				<div class="md-content">
					<h3>Modal Dialog</h3>
					<div>
						<p>This is a modal window. You can do the following things with it:</p>
						<ul>
							<li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
							<li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
							<li><strong>Close:</strong> click on the button below to close the modal.</li>
						</ul>
						<button class="btn btn-default md-close">Close me!</button>
					</div>
				</div>
			</div>
			<div class="md-modal md-effect-19" id="modal-19">
				<div class="md-content">
					<h3>Modal Dialog</h3>
					<div>
						<p>This is a modal window. You can do the following things with it:</p>
						<ul>
							<li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
							<li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
							<li><strong>Close:</strong> click on the button below to close the modal.</li>
						</ul>
						<button class="btn btn-default md-close">Close me!</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 ">
					<div class="panel panel-default">
						<div class="panel-heading clearfix">
							<div class="panel-heading-title pull-left">
								<h6>ModalWindowEffects</h6>
							</div>
							<!--panel-heading-title-->
							<div class="panel-heading-buttons pull-right">
								<div class="bs-example">
									<ul class="clearfix">
										<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
										<li class="btn btn-defult  fullScreen"> <i class="fa fa-expand"></i> </li>
										<li class=" btn btn-defult dropdown">
											<a id="drop" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
												<i class="fa fa-cog"></i>
											</a>
											<ul class="dropdown-menu" aria-labelledby="drop">
												<li><a href="#">Action</a></li>
												<li><a href="#">Another action</a></li>
												<li><a href="#">Something else here</a></li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
							<!--panel-heading-buttons-->
						</div>
						<!--panel-->
						<div class="panel-body">

							<div class="panel-body">
								<div class="row">
									<div class="col-lg-3 modelsWrapper clerfix">

										<button class="btn btn-default btn-df float-button-light md-trigger waves-effect waves-button waves-float waves-light waves-effect waves-button waves-float waves-light" data-modal="modal-1">Fade in Scale</button>
									</div>
									<div class="col-lg-3 modelsWrapper">

										<button class="btn btn-default btn-df float-button-light md-trigger waves-effect waves-button waves-float waves-light waves-effect waves-button waves-float waves-light" data-modal="modal-2">Slide in (right)</button>
									</div>
									<div class="col-lg-3 modelsWrapper">

										<button class="btn btn-default btn-df float-button-light md-trigger waves-effect waves-button waves-float waves-light waves-effect waves-button waves-float waves-light" data-modal="modal-3">Slide in (bottom)</button>
									</div>
									<div class="col-lg-3 modelsWrapper">

										<button class="btn btn-default btn-df float-button-light md-trigger waves-effect waves-button waves-float waves-light waves-effect waves-button waves-float waves-light" data-modal="modal-4">Newspaper</button>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-3 modelsWrapper clerfix">

										<button class="btn btn-default btn-df float-button-light md-trigger waves-effect waves-button waves-float waves-light waves-effect waves-button waves-float waves-light" data-modal="modal-5">Fall</button>
									</div>
									<div class="col-lg-3 modelsWrapper">

										<button class="btn btn-default btn-df float-button-light md-trigger waves-effect waves-button waves-float waves-light waves-effect waves-button waves-float waves-light" data-modal="modal-6">Side Fall</button>
									</div>
									<div class="col-lg-3 modelsWrapper">

										<button class="btn btn-default btn-df float-button-light md-trigger waves-effect waves-button waves-float waves-light waves-effect waves-button waves-float waves-light" data-modal="modal-7">Sticky Up</button>
									</div>
									<div class="col-lg-3 modelsWrapper">

										<button class="btn btn-default btn-df float-button-light md-trigger waves-effect waves-button waves-float waves-light waves-effect waves-button waves-float waves-light" data-modal="modal-8">3D Flip (horizontal)</button>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-3 modelsWrapper clerfix">

										<button class="btn btn-default btn-df float-button-light md-trigger waves-effect waves-button waves-float waves-light waves-effect waves-button waves-float waves-light" data-modal="modal-9">3D Flip (vertical)</button>
									</div>
									<div class="col-lg-3 modelsWrapper">

										<button class="btn btn-default btn-df float-button-light md-trigger waves-effect waves-button waves-float waves-light waves-effect waves-button waves-float waves-light" data-modal="modal-10">3D Sign</button>
									</div>
									<div class="col-lg-3 modelsWrapper">

										<button class="btn btn-default btn-df float-button-light md-trigger waves-effect waves-button waves-float waves-light waves-effect waves-button waves-float waves-light" data-modal="modal-11">Super Scaled</button>
									</div>
									<div class="col-lg-3 modelsWrapper">

										<button class="btn btn-default btn-df float-button-light md-trigger waves-effect waves-button waves-float waves-light waves-effect waves-button waves-float waves-light" data-modal="modal-12">Just Me</button>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-3 modelsWrapper clerfix">

										<button class="btn btn-default btn-df float-button-light md-trigger waves-effect waves-button waves-float waves-light waves-effect waves-button waves-float waves-light" data-modal="modal-13">3D Slit</button>
									</div>
									<div class="col-lg-3 modelsWrapper">

										<button class="btn btn-default btn-df float-button-light md-trigger waves-effect waves-button waves-float waves-light waves-effect waves-button waves-float waves-light" data-modal="modal-14">3D Rotate Bottom</button>
									</div>
									<div class="col-lg-3 modelsWrapper">

										<button class="btn btn-default btn-df float-button-light md-trigger waves-effect waves-button waves-float waves-light waves-effect waves-button waves-float waves-light" data-modal="modal-15">3D Rotate In Left</button>
									</div>
									<div class="col-lg-3 modelsWrapper">

										<button class="btn btn-default btn-df float-button-light md-trigger waves-effect waves-button waves-float waves-light waves-effect waves-button waves-float waves-light" data-modal="modal-16">Blur</button>
									</div>
								</div>
							</div>

						</div>
					</div>
					<!--panel-body-->
				</div>
			</div>
			<!--row-->
			<div class="row">
				<div class="col-lg-12 ">
					<div class="panel panel-default">
						<div class="panel-heading clearfix">
							<div class="panel-heading-title pull-left">
								<h6>Modal</h6>
							</div>
							<!--panel-heading-title-->
							<div class="panel-heading-buttons pull-right">
								<div class="bs-example">
									<ul class="clearfix">
										<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
										<li class="btn btn-defult  fullScreen"> <i class="fa fa-expand"></i> </li>
										<li class=" btn btn-defult dropdown">
											<a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
												<i class="fa fa-cog"></i>
											</a>
											<ul class="dropdown-menu" aria-labelledby="drop1">
												<li><a href="#">Action</a></li>
												<li><a href="#">Another action</a></li>
												<li><a href="#">Something else here</a></li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
							<!--panel-heading-buttons-->
						</div>
						<!--panel-->
						<div class="panel-body">
							<div class="buttonWrapper">
								<button type="button" class="btn btn-default btn-df float-button-dark waves-effect" data-toggle="modal" data-target="#myModal">Default</button>
							</div>
							<!--buttonWrapper-->
							<div class="buttonWrapper">
								<button type="button" class="btn btn-primary btn-df float-button-dark waves-effect" data-toggle="modal" data-target="#myModal1">Primary</button>
							</div>
							<!--buttonWrapper-->
							<div class="buttonWrapper">
								<button type="button" class="btn btn-success btn-df float-button-dark waves-effect" data-toggle="modal" data-target="#myModal2">Primary</button>
							</div>
							<!--buttonWrapper-->
							<div class="buttonWrapper">
								<button type="button" class="btn btn-info btn-df float-button-dark waves-effect" data-toggle="modal" data-target="#myModal3">Primary</button>
							</div>
							<!--buttonWrapper-->
							<div class="buttonWrapper">
								<button type="button" class="btn btn-warning btn-df float-button-dark waves-effect" data-toggle="modal" data-target="#myModal4">Primary</button>
							</div>
							<!--buttonWrapper-->
							<div class="buttonWrapper">
								<button type="button" class="btn btn-danger btn-df float-button-dark waves-effect" data-toggle="modal" data-target="#myModal5">Primary</button>
							</div>
							<!--buttonWrapper-->
							<div class="modal modal-default fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title" id="myModalLabel1">Modal title</h4>
										</div>
										<div class="modal-body">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta dolorum nisi voluptate nesciunt praesentium architecto, laborum aperiam, omnis obcaecati aliquam ratione quia explicabo sit accusantium doloremque beatae quae quas maiores molestias impedit delectus exercitationem? Totam, facilis mollitia, eius esse rem exercitationem qui dicta consectetur, impedit, aliquam ea vero laborum repellat.
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											<button type="button" class="btn btn-default">Save changes</button>
										</div>
									</div>
								</div>
							</div>
							<div class="modal modal-primary fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title">Modal title</h4>
										</div>
										<div class="modal-body">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta dolorum nisi voluptate nesciunt praesentium architecto, laborum aperiam, omnis obcaecati aliquam ratione quia explicabo sit accusantium doloremque beatae quae quas maiores molestias impedit delectus exercitationem? Totam, facilis mollitia, eius esse rem exercitationem qui dicta consectetur, impedit, aliquam ea vero laborum repellat.
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											<button type="button" class="btn btn-default">Save changes</button>
										</div>
									</div>
								</div>
							</div>
							<div class="modal modal-success fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title">Modal title</h4>
										</div>
										<div class="modal-body">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta dolorum nisi voluptate nesciunt praesentium architecto, laborum aperiam, omnis obcaecati aliquam ratione quia explicabo sit accusantium doloremque beatae quae quas maiores molestias impedit delectus exercitationem? Totam, facilis mollitia, eius esse rem exercitationem qui dicta consectetur, impedit, aliquam ea vero laborum repellat.
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											<button type="button" class="btn btn-default">Save changes</button>
										</div>
									</div>
								</div>
							</div>
							<div class="modal modal-info fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title">Modal title</h4>
										</div>
										<div class="modal-body">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta dolorum nisi voluptate nesciunt praesentium architecto, laborum aperiam, omnis obcaecati aliquam ratione quia explicabo sit accusantium doloremque beatae quae quas maiores molestias impedit delectus exercitationem? Totam, facilis mollitia, eius esse rem exercitationem qui dicta consectetur, impedit, aliquam ea vero laborum repellat.
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											<button type="button" class="btn btn-default">Save changes</button>
										</div>
									</div>
								</div>
							</div>
							<div class="modal modal-warning fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title">Modal title</h4>
										</div>
										<div class="modal-body">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta dolorum nisi voluptate nesciunt praesentium architecto, laborum aperiam, omnis obcaecati aliquam ratione quia explicabo sit accusantium doloremque beatae quae quas maiores molestias impedit delectus exercitationem? Totam, facilis mollitia, eius esse rem exercitationem qui dicta consectetur, impedit, aliquam ea vero laborum repellat.
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											<button type="button" class="btn btn-default">Save changes</button>
										</div>
									</div>
								</div>
							</div>
							<div class="modal modal-danger fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title">Modal title</h4>
										</div>
										<div class="modal-body">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta dolorum nisi voluptate nesciunt praesentium architecto, laborum aperiam, omnis obcaecati aliquam ratione quia explicabo sit accusantium doloremque beatae quae quas maiores molestias impedit delectus exercitationem? Totam, facilis mollitia, eius esse rem exercitationem qui dicta consectetur, impedit, aliquam ea vero laborum repellat.
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											<button type="button" class="btn btn-default">Save changes</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--panel-body-->
				</div>
			</div>
			<!--row-->
			<div class="row">
				<div class="col-lg-12 ">
					<div class="panel panel-default">
						<div class="panel-heading clearfix">
							<div class="panel-heading-title pull-left">
								<h6>Modal Large</h6>
							</div>
							<!--panel-heading-title-->
							<div class="panel-heading-buttons pull-right">
								<div class="bs-example">
									<ul class="clearfix">
										<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
										<li class="btn btn-defult  fullScreen"> <i class="fa fa-expand"></i> </li>
										<li class=" btn btn-defult dropdown">
											<a id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
												<i class="fa fa-cog"></i>
											</a>
											<ul class="dropdown-menu" aria-labelledby="drop2">
												<li><a href="#">Action</a></li>
												<li><a href="#">Another action</a></li>
												<li><a href="#">Something else here</a></li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
							<!--panel-heading-buttons-->
						</div>
						<!--panel-->
						<div class="panel-body">
							<div class="buttonWrapper">
								<button type="button" class="btn btn-default btn-df float-button-dark waves-effect" data-toggle="modal" data-target="#myModal6">Default</button>
							</div>
							<!--buttonWrapper-->
							<div class="buttonWrapper">
								<button type="button" class="btn btn-primary btn-df float-button-dark waves-effect" data-toggle="modal" data-target="#myModal7">Primary</button>
							</div>
							<!--buttonWrapper-->
							<div class="buttonWrapper">
								<button type="button" class="btn btn-success btn-df float-button-dark waves-effect" data-toggle="modal" data-target="#myModal8">Primary</button>
							</div>
							<!--buttonWrapper-->
							<div class="buttonWrapper">
								<button type="button" class="btn btn-info btn-df float-button-dark waves-effect" data-toggle="modal" data-target="#myModal9">Primary</button>
							</div>
							<!--buttonWrapper-->
							<div class="buttonWrapper">
								<button type="button" class="btn btn-warning btn-df float-button-dark waves-effect" data-toggle="modal" data-target="#myModal10">Primary</button>
							</div>
							<!--buttonWrapper-->
							<div class="buttonWrapper">
								<button type="button" class="btn btn-danger btn-df float-button-dark waves-effect" data-toggle="modal" data-target="#myModal11">Primary</button>
							</div>
							<!--buttonWrapper-->
							<div class="modal modal-default fade bs-example-modal-lg" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog modal-lg" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title">Modal title</h4>
										</div>
										<div class="modal-body">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta dolorum nisi voluptate nesciunt praesentium architecto, laborum aperiam, omnis obcaecati aliquam ratione quia explicabo sit accusantium doloremque beatae quae quas maiores molestias impedit delectus exercitationem? Totam, facilis mollitia, eius esse rem exercitationem qui dicta consectetur, impedit, aliquam ea vero laborum repellat.
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											<button type="button" class="btn btn-default">Save changes</button>
										</div>
									</div>
								</div>
							</div>
							<div class="modal modal-primary fade bs-example-modal-lg" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog modal-lg" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title">Modal title</h4>
										</div>
										<div class="modal-body">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta dolorum nisi voluptate nesciunt praesentium architecto, laborum aperiam, omnis obcaecati aliquam ratione quia explicabo sit accusantium doloremque beatae quae quas maiores molestias impedit delectus exercitationem? Totam, facilis mollitia, eius esse rem exercitationem qui dicta consectetur, impedit, aliquam ea vero laborum repellat.
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											<button type="button" class="btn btn-default">Save changes</button>
										</div>
									</div>
								</div>
							</div>
							<div class="modal modal-success fade bs-example-modal-lg" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog modal-lg" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title">Modal title</h4>
										</div>
										<div class="modal-body">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta dolorum nisi voluptate nesciunt praesentium architecto, laborum aperiam, omnis obcaecati aliquam ratione quia explicabo sit accusantium doloremque beatae quae quas maiores molestias impedit delectus exercitationem? Totam, facilis mollitia, eius esse rem exercitationem qui dicta consectetur, impedit, aliquam ea vero laborum repellat.
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											<button type="button" class="btn btn-default">Save changes</button>
										</div>
									</div>
								</div>
							</div>
							<div class="modal modal-info fade bs-example-modal-lg" id="myModal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog modal-lg" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title">Modal title</h4>
										</div>
										<div class="modal-body">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta dolorum nisi voluptate nesciunt praesentium architecto, laborum aperiam, omnis obcaecati aliquam ratione quia explicabo sit accusantium doloremque beatae quae quas maiores molestias impedit delectus exercitationem? Totam, facilis mollitia, eius esse rem exercitationem qui dicta consectetur, impedit, aliquam ea vero laborum repellat.
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											<button type="button" class="btn btn-default">Save changes</button>
										</div>
									</div>
								</div>
							</div>
							<div class="modal modal-warning fade bs-example-modal-lg" id="myModal10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog modal-lg" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title">Modal title</h4>
										</div>
										<div class="modal-body">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta dolorum nisi voluptate nesciunt praesentium architecto, laborum aperiam, omnis obcaecati aliquam ratione quia explicabo sit accusantium doloremque beatae quae quas maiores molestias impedit delectus exercitationem? Totam, facilis mollitia, eius esse rem exercitationem qui dicta consectetur, impedit, aliquam ea vero laborum repellat.
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											<button type="button" class="btn btn-default">Save changes</button>
										</div>
									</div>
								</div>
							</div>
							<div class="modal modal-danger fade bs-example-modal-lg" id="myModal11" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog modal-lg" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title">Modal title</h4>
										</div>
										<div class="modal-body">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta dolorum nisi voluptate nesciunt praesentium architecto, laborum aperiam, omnis obcaecati aliquam ratione quia explicabo sit accusantium doloremque beatae quae quas maiores molestias impedit delectus exercitationem? Totam, facilis mollitia, eius esse rem exercitationem qui dicta consectetur, impedit, aliquam ea vero laborum repellat.
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											<button type="button" class="btn btn-default">Save changes</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--panel-body-->
				</div>
			</div>

			<!--row-->
			<div class="row">
				<div class="col-lg-12 ">
					<div class="panel panel-default">
						<div class="panel-heading clearfix">
							<div class="panel-heading-title pull-left">
								<h6>Modal Small</h6>
							</div>
							<!--panel-heading-title-->
							<div class="panel-heading-buttons pull-right">
								<div class="bs-example">
									<ul class="clearfix">
										<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
										<li class="btn btn-defult  fullScreen"> <i class="fa fa-expand"></i> </li>
										<li class=" btn btn-defult dropdown">
											<a id="drop3" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
												<i class="fa fa-cog"></i>
											</a>
											<ul class="dropdown-menu" aria-labelledby="drop3">
												<li><a href="#">Action</a></li>
												<li><a href="#">Another action</a></li>
												<li><a href="#">Something else here</a></li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
							<!--panel-heading-buttons-->
						</div>
						<!--panel-->
						<div class="panel-body">
							<div class="buttonWrapper">
								<button type="button" class="btn btn-default btn-df float-button-dark waves-effect" data-toggle="modal" data-target="#myModal12">Default</button>
							</div>
							<!--buttonWrapper-->
							<div class="buttonWrapper">
								<button type="button" class="btn btn-primary btn-df float-button-dark waves-effect" data-toggle="modal" data-target="#myModal13">Primary</button>
							</div>
							<!--buttonWrapper-->
							<div class="buttonWrapper">
								<button type="button" class="btn btn-success btn-df float-button-dark waves-effect" data-toggle="modal" data-target="#myModal14">Primary</button>
							</div>
							<!--buttonWrapper-->
							<div class="buttonWrapper">
								<button type="button" class="btn btn-info btn-df float-button-dark waves-effect" data-toggle="modal" data-target="#myModal15">Primary</button>
							</div>
							<!--buttonWrapper-->
							<div class="buttonWrapper">
								<button type="button" class="btn btn-warning btn-df float-button-dark waves-effect" data-toggle="modal" data-target="#myModal16">Primary</button>
							</div>
							<!--buttonWrapper-->
							<div class="buttonWrapper">
								<button type="button" class="btn btn-danger btn-df float-button-dark waves-effect" data-toggle="modal" data-target="#myModal17">Primary</button>
							</div>
							<!--buttonWrapper-->
							<div class="modal modal-default fade bs-example-modal-sm" id="myModal12" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog modal-sm" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title">Modal title</h4>
										</div>
										<div class="modal-body">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta dolorum nisi voluptate nesciunt praesentium architecto, laborum aperiam, omnis obcaecati aliquam ratione quia explicabo sit accusantium doloremque beatae quae quas maiores molestias impedit delectus exercitationem? Totam, facilis mollitia, eius esse rem exercitationem qui dicta consectetur, impedit, aliquam ea vero laborum repellat.
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											<button type="button" class="btn btn-default">Save changes</button>
										</div>
									</div>
								</div>
							</div>
							<div class="modal modal-primary fade bs-example-modal-sm" id="myModal13" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog modal-sm" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title">Modal title</h4>
										</div>
										<div class="modal-body">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta dolorum nisi voluptate nesciunt praesentium architecto, laborum aperiam, omnis obcaecati aliquam ratione quia explicabo sit accusantium doloremque beatae quae quas maiores molestias impedit delectus exercitationem? Totam, facilis mollitia, eius esse rem exercitationem qui dicta consectetur, impedit, aliquam ea vero laborum repellat.
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											<button type="button" class="btn btn-default">Save changes</button>
										</div>
									</div>
								</div>
							</div>
							<div class="modal modal-success fade bs-example-modal-sm" id="myModal14" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog modal-sm" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title">Modal title</h4>
										</div>
										<div class="modal-body">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta dolorum nisi voluptate nesciunt praesentium architecto, laborum aperiam, omnis obcaecati aliquam ratione quia explicabo sit accusantium doloremque beatae quae quas maiores molestias impedit delectus exercitationem? Totam, facilis mollitia, eius esse rem exercitationem qui dicta consectetur, impedit, aliquam ea vero laborum repellat.
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											<button type="button" class="btn btn-default">Save changes</button>
										</div>
									</div>
								</div>
							</div>
							<div class="modal modal-info fade bs-example-modal-sm" id="myModal15" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog modal-sm" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title">Modal title</h4>
										</div>
										<div class="modal-body">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta dolorum nisi voluptate nesciunt praesentium architecto, laborum aperiam, omnis obcaecati aliquam ratione quia explicabo sit accusantium doloremque beatae quae quas maiores molestias impedit delectus exercitationem? Totam, facilis mollitia, eius esse rem exercitationem qui dicta consectetur, impedit, aliquam ea vero laborum repellat.
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											<button type="button" class="btn btn-default">Save changes</button>
										</div>
									</div>
								</div>
							</div>
							<div class="modal modal-warning fade bs-example-modal-sm" id="myModal16" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog modal-sm" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title">Modal title</h4>
										</div>
										<div class="modal-body">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta dolorum nisi voluptate nesciunt praesentium architecto, laborum aperiam, omnis obcaecati aliquam ratione quia explicabo sit accusantium doloremque beatae quae quas maiores molestias impedit delectus exercitationem? Totam, facilis mollitia, eius esse rem exercitationem qui dicta consectetur, impedit, aliquam ea vero laborum repellat.
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											<button type="button" class="btn btn-default">Save changes</button>
										</div>
									</div>
								</div>
							</div>
							<div class="modal modal-danger fade bs-example-modal-sm" id="myModal17" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog modal-sm" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title" id="myModalLabel">Modal title</h4>
										</div>
										<div class="modal-body">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta dolorum nisi voluptate nesciunt praesentium architecto, laborum aperiam, omnis obcaecati aliquam ratione quia explicabo sit accusantium doloremque beatae quae quas maiores molestias impedit delectus exercitationem? Totam, facilis mollitia, eius esse rem exercitationem qui dicta consectetur, impedit, aliquam ea vero laborum repellat.
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											<button type="button" class="btn btn-default">Save changes</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--panel-body-->
				</div>
			</div>
			<!--row-->
			<!--MEIN CONTENT -->
@@include('./_stopConteiner.html') 		
<script type="text/javascript" src="lib/modalWindow/classie.js"></script>
<script type="text/javascript" src="lib/modalWindow/modalEffects.js"></script>
<script type="text/javascript" src="lib/modalWindow/cssParser.js"></script>
@@include('./_footer.html') 