  @@include('./_header.html', {
    "title": "Sparklines"
  })
@@include('./_startConteiner.html') 	
		<div id="mainWrapper" class="mainConteiner column">
			<!--start nainconteiner-->
			<div class="mainConteinerConten">
				<div class="container-fluid footerfix">
					<div class="row firstRow">
						<!--row firstRow-->
						<div class="col-lg-9  col-md-8  col-sm-7">
							<div class="firstRowHeader">
								<h5>SPARKLINES CHART</h5>
							</div>
							<ol class="breadcrumb">
								<li><a href="index.html">Home</a></li>
								<li><a>Charts</a></li>
								<li class="active">Sparklines Chart</li>
							</ol>
						</div>
						<!--firstRowHeader-->
						<div class="col-lg-3   col-md-4  col-sm-5">
							<div class="miniDiagramsConteiner">
								<div class="miniDiagramsContent">
									<div class="miniDiagramsContentHeader">
										1290 items
									</div>
									<!--miniDiagramsContentHeader-->
									<div class="miniDiagramsContentContent">
										<span class="inlinebar">4,3,4,5,3,5,4,3,4,5,3,5,4,5,3,5</span>
									</div>
									<!--miniDiagramsContentContent-->
								</div>
								<!--miniDiagramsContent-->
								<div class="miniDiagramsContent">
									<div class="miniDiagramsContentHeader">
										$30,00 revenue

									</div>
									<!--miniDiagramsContentHeader-->
									<div class="miniDiagramsContentContent">
										<span class="inlinebar">4,3,4,5,3,5,4,3,4,5,3,5,4,5,3,5</span>
									</div>
									<!--miniDiagramsContentContent-->
								</div>
								<!--miniDiagramsContent-->
							</div>
							<!--miniDiagramsConteiner-->
						</div>
					</div>
					<!--	MEIN CONTENT  -->
					<div class="row">
						<div class="col-lg-6 ">
							<div class="panel panel-default">
								<div class="panel-heading clearfix">
									<div class="panel-heading-title pull-left">
										<h6>LINE CHART</h6>
									</div>
									<!--panel-heading-title-->
									<div class="panel-heading-buttons pull-right">
										<div class="bs-example">
											<ul class="clearfix">
												<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
												<li class=" btn btn-defult dropdown">
													<a id="drop" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
														<i class="fa fa-cog"></i>
													</a>
													<ul class="dropdown-menu" aria-labelledby="drop">
														<li><a href="#">Action</a></li>
														<li><a href="#">Another action</a></li>
														<li><a href="#">Something else here</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
									<!--panel-heading-buttons-->
								</div>
								<!--panel-->
								<div class="panel-body">
									<div class="sparklineChartWrapper">
										<div class="sparkline"></div>
										<br>
										<div class="sparkline1"></div>
										<br>
										<div class="sparkline2"></div>
										<br>
										<div class="sparkline3"></div>
									</div>
									<!--sparklineChartWrapper-->
								</div>
							</div>
							<!--panel-body-->
						</div>
						<div class="col-lg-6 ">
							<div class="panel panel-default">
								<div class="panel-heading clearfix">
									<div class="panel-heading-title pull-left">
										<h6>BAR CHART</h6>
									</div>
									<!--panel-heading-title-->
									<div class="panel-heading-buttons pull-right">
										<div class="bs-example">
											<ul class="clearfix">
												<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
												<li class=" btn btn-defult dropdown">
													<a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
														<i class="fa fa-cog"></i>
													</a>
													<ul class="dropdown-menu" aria-labelledby="drop1">
														<li><a href="#">Action</a></li>
														<li><a href="#">Another action</a></li>
														<li><a href="#">Something else here</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
									<!--panel-heading-buttons-->
								</div>
								<!--panel-->
								<div class="panel-body">
									<div class="sparklineChartWrapper">
										<div class="sparkline4"></div>
										<br>
										<div class="sparkline5"></div>
										<br>
										<div class="sparkline6"></div>
										<br>
										<div class="sparkline7"></div>
									</div>
									<!--sparklineChartWrapper-->
								</div>
							</div>
							<!--panel-body-->
						</div>
					</div>
					<!--row-->
					<div class="row">
						<div class="col-lg-6 ">
							<div class="panel panel-default">
								<div class="panel-heading clearfix">
									<div class="panel-heading-title pull-left">
										<h6>DISCRETE CHART</h6>
									</div>
									<!--panel-heading-title-->
									<div class="panel-heading-buttons pull-right">
										<div class="bs-example">
											<ul class="clearfix">
												<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
												<li class=" btn btn-defult dropdown">
													<a id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
														<i class="fa fa-cog"></i>
													</a>
													<ul class="dropdown-menu" aria-labelledby="drop2">
														<li><a href="#">Action</a></li>
														<li><a href="#">Another action</a></li>
														<li><a href="#">Something else here</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
									<!--panel-heading-buttons-->
								</div>
								<!--panel-->
								<div class="panel-body">
									<div class="sparklineChartWrapper">
										<div class="sparkline8"></div>
										<br>
										<div class="sparkline9"></div>
										<br>
										<div class="sparkline10"></div>
										<br>
										<div class="sparkline11"></div>
									</div>
									<!--sparklineChartWrapper-->
								</div>
							</div>
							<!--panel-body-->
						</div>
						<div class="col-lg-6 ">
							<div class="panel panel-default">
								<div class="panel-heading clearfix">
									<div class="panel-heading-title pull-left">
										<h6>BULLET CHART</h6>
									</div>
									<!--panel-heading-title-->
									<div class="panel-heading-buttons pull-right">
										<div class="bs-example">
											<ul class="clearfix">
												<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
												<li class=" btn btn-defult dropdown">
													<a id="drop3" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
														<i class="fa fa-cog"></i>
													</a>
													<ul class="dropdown-menu" aria-labelledby="drop3">
														<li><a href="#">Action</a></li>
														<li><a href="#">Another action</a></li>
														<li><a href="#">Something else here</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
									<!--panel-heading-buttons-->
								</div>
								<!--panel-->
								<div class="panel-body">
									<div class="sparklineChartWrapper">
										<div class="sparkline12"></div>
										<br>
										<div class="sparkline13"></div>
										<br>
										<div class="sparkline14"></div>
										<br>
										<div class="sparkline15"></div>
									</div>
									<!--sparklineChartWrapper-->
								</div>
							</div>
							<!--panel-body-->
						</div>
					</div>
					<!--row-->
					<div class="row">
						<div class="col-lg-6 ">
							<div class="panel panel-default">
								<div class="panel-heading clearfix">
									<div class="panel-heading-title pull-left">
										<h6>PIE CHART</h6>
									</div>
									<!--panel-heading-title-->
									<div class="panel-heading-buttons pull-right">
										<div class="bs-example">
											<ul class="clearfix">
												<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
												<li class=" btn btn-defult dropdown">
													<a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
														<i class="fa fa-cog"></i>
													</a>
													<ul class="dropdown-menu" aria-labelledby="drop4">
														<li><a href="#">Action</a></li>
														<li><a href="#">Another action</a></li>
														<li><a href="#">Something else here</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
									<!--panel-heading-buttons-->
								</div>
								<!--panel-->
								<div class="panel-body">
									<div class="sparklineChartWrapper">
										<div class="sparkline16"></div>
										<br>
										<div class="sparkline17"></div>
										<br>
										<div class="sparkline18"></div>
										<br>
										<div class="sparkline19"></div>
									</div>
									<!--sparklineChartWrapper-->
								</div>
							</div>
							<!--panel-body-->
						</div>
						<div class="col-lg-6 ">
							<div class="panel panel-default">
								<div class="panel-heading clearfix">
									<div class="panel-heading-title pull-left">
										<h6>DISCRETE CHART</h6>
									</div>
									<!--panel-heading-title-->
									<div class="panel-heading-buttons pull-right">
										<div class="bs-example">
											<ul class="clearfix">
												<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
												<li class=" btn btn-defult dropdown">
													<a id="drop5" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
														<i class="fa fa-cog"></i>
													</a>
													<ul class="dropdown-menu" aria-labelledby="drop5">
														<li><a href="#">Action</a></li>
														<li><a href="#">Another action</a></li>
														<li><a href="#">Something else here</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
									<!--panel-heading-buttons-->
								</div>
								<!--panel-->
								<div class="panel-body">
									<div class="sparklineChartWrapper">
										<div class="sparkline20"></div>
										<br>
										<div class="sparkline21"></div>
										<br>
										<div class="sparkline22"></div>
										<br>
										<div class="sparkline23"></div>
									</div>
									<!--sparklineChartWrapper-->
								</div>
							</div>
							<!--panel-body-->
						</div>
					</div>
					<!--row-->
					<!--MEIN CONTENT -->
@@include('./_stopConteiner.html') 		
<script type="text/javascript" src="js/SparklinesChartExample.js"></script>
@@include('./_footer.html') 