@@include('./_header.html', 
{ "title": 
"Typography" 
}) 
@@include('./_startConteiner.html')
	<div id="mainWrapper" class="mainConteiner column">
		<!--start nainconteiner-->
		<div class="mainConteinerConten">
			<div class="container-fluid footerfix">
				<div class="row firstRow">
					<!--row firstRow-->
					<div class="col-lg-9  col-md-8  col-sm-7">
						<div class="firstRowHeader">
							<h5>TYPOGRAPHY</h5>
						</div>
						<ol class="breadcrumb">
							<li><a href="index.html">Home</a></li>
							<li><a>UI Kits</a></li>
							<li class="active">Typography</li>
						</ol>
					</div>
					<!--firstRowHeader-->
					<div class="col-lg-3   col-md-4  col-sm-5">
						<div class="miniDiagramsConteiner">
							<div class="miniDiagramsContent">
								<div class="miniDiagramsContentHeader">
									1290 items
								</div>
								<!--miniDiagramsContentHeader-->
								<div class="miniDiagramsContentContent">
									<span class="inlinebar">4,3,4,5,3,5,4,3,4,5,3,5,4,5,3,5</span>
								</div>
								<!--miniDiagramsContentContent-->
							</div>
							<!--miniDiagramsContent-->
							<div class="miniDiagramsContent">
								<div class="miniDiagramsContentHeader">
									$30,00 revenue

								</div>
								<!--miniDiagramsContentHeader-->
								<div class="miniDiagramsContentContent">
									<span class="inlinebar">4,3,4,5,3,5,4,3,4,5,3,5,4,5,3,5</span>
								</div>
								<!--miniDiagramsContentContent-->
							</div>
							<!--miniDiagramsContent-->
						</div>
						<!--miniDiagramsConteiner-->
					</div>
				</div>

				<!--	MEIN CONTENT  -->

				<div class="row">
					<div class="col-lg-6 ">
						<div class="panel panel-default">
							<div class="panel-heading clearfix">
								<div class="panel-heading-title pull-left">
									<h6>Typography</h6>
								</div>
								<!--panel-heading-title-->
								<div class="panel-heading-buttons pull-right">
									<div class="bs-example">
										<ul class="clearfix">
											<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
											<li class="btn btn-defult  fullScreen"> <i class="fa fa-expand"></i> </li>
											<li class=" btn btn-defult dropdown">
												<a id="drop" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
													<i class="fa fa-cog"></i>
												</a>
												<ul class="dropdown-menu" aria-labelledby="drop">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
								<!--panel-heading-buttons-->
							</div>
							<!--panel-->
							<div class="panel-body">
								<p class="regularStyle">Lorem ipsum dolor<span class="description pull-right">regular</span></p>
								<p class="thinStyle">154626-821+f55=7*76<span class="description pull-right">thin</span></p>
								<p class="bolditalicStyle">Lorem ipsum dolor<span class="description pull-right">bold italic</span></p>
								<p class="boldStyle">Lorem ipsum dolor<span class="description pull-right">bold</span></p>
								<p class="condesendStyle">Lorem ipsum dolor<span class="description pull-right">condesend</span></p>
								<p class="lightitalicStyle">Lorem ipsum dolor<span class="description pull-right">light italic</span></p>
							</div>
						</div>
						<!--panel-body-->
					</div>
					<div class="col-lg-6 ">
						<div class="panel panel-default">
							<div class="panel-heading clearfix">
								<div class="panel-heading-title pull-left">
									<h6>Typography</h6>
								</div>
								<!--panel-heading-title-->
								<div class="panel-heading-buttons pull-right">
									<div class="bs-example">
										<ul class="clearfix">
											<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
											<li class="btn btn-defult  fullScreen"> <i class="fa fa-expand"></i> </li>
											<li class=" btn btn-defult dropdown">
												<a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
													<i class="fa fa-cog"></i>
												</a>
												<ul class="dropdown-menu" aria-labelledby="drop1">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
								<!--panel-heading-buttons-->
							</div>
							<!--panel-->
							<div class="panel-body">
								<p class="mediumitalicStyle">Lorem ipsum dolor<span class="description pull-right">medium italic</span></p>
								<p class="blackStyle">Lorem ipsum dolor<span class="description pull-right">black</span></p>
								<p class="mediumStyle">Lorem ipsum dolor<span class="description pull-right">medium</span></p>
								<p class="lightStyle">Lorem ipsum dolor<span class="description pull-right">light</span></p>
								<p class="blackitalicStyle">Lorem ipsum dolor<span class="description pull-right">bold italic</span></p>
								<p class="bolditalicStyle">Lorem ipsum dolor<span class="description pull-right">black italic</span></p>
							</div>
						</div>
						<!--panel-body-->
					</div>
				</div>
				<!--row-->
				<div class="row">
					<div class="col-lg-6 ">
						<div class="panel panel-default">
							<div class="panel-heading clearfix">
								<div class="panel-heading-title pull-left">
									<h6>HEADERS</h6>
								</div>
								<!--panel-heading-title-->
								<div class="panel-heading-buttons pull-right">
									<div class="bs-example">
										<ul class="clearfix">
											<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
											<li class="btn btn-defult  fullScreen"> <i class="fa fa-expand"></i> </li>
											<li class=" btn btn-defult dropdown">
												<a id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
													<i class="fa fa-cog"></i>
												</a>
												<ul class="dropdown-menu" aria-labelledby="drop2">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
								<!--panel-heading-buttons-->
							</div>
							<!--panel-->
							<div class="panel-body">
								<h1>Heading h1</h1>
								<h2>Heading h2</h2>
								<h3>Heading h3</h3>
								<h4>Heading h4</h4>
								<h5>Heading h5</h5>
								<h6>Heading h6</h6>
							</div>
						</div>
						<!--panel-body-->
					</div>
					<div class="col-lg-6 ">
						<div class="panel panel-default">
							<div class="panel-heading clearfix">
								<div class="panel-heading-title pull-left">
									<h6>FLOW TEXT</h6>
								</div>
								<!--panel-heading-title-->
								<div class="panel-heading-buttons pull-right">
									<div class="bs-example">
										<ul class="clearfix">
											<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
											<li class="btn btn-defult  fullScreen"> <i class="fa fa-expand"></i> </li>
											<li class=" btn btn-defult dropdown">
												<a id="drop3" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
													<i class="fa fa-cog"></i>
												</a>
												<ul class="dropdown-menu" aria-labelledby="drop3">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
								<!--panel-heading-buttons-->
							</div>
							<!--panel-->

							<div class="panel-body">
								<p class="flow-text-off">To use flow-text on a body of text, simply just add the
									<mark>class="flow-text"</mark> to a tag, see the code blow.</p>
								<br/>
								<button type="button" class="btn btn-danger btn-df float-button-light flowTextButton">FLOW TEXT</button>
								<br/>
								<br/>
								<br/>
								<p class="flowTextAction">To see Flow Text in action, slowly resize your browser and watch the size of this text body change! Use the button above to toggle off/on flow-text to see the difference!</p>
							</div>
						</div>
						<!--panel-body-->
					</div>
				</div>
				<!--row-->
				<div class="row">
					<div class="col-lg-6 ">
						<div class="panel panel-default">
							<div class="panel-heading clearfix">
								<div class="panel-heading-title pull-left">
									<h6>BLOCKQUOTES</h6>
								</div>
								<!--panel-heading-title-->
								<div class="panel-heading-buttons pull-right">
									<div class="bs-example">
										<ul class="clearfix">
											<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
											<li class="btn btn-defult  fullScreen"> <i class="fa fa-expand"></i> </li>
											<li class=" btn btn-defult dropdown">
												<a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
													<i class="fa fa-cog"></i>
												</a>
												<ul class="dropdown-menu" aria-labelledby="drop4">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
								<!--panel-heading-buttons-->
							</div>
							<!--panel-->
							<div class="panel-body">
								<blockquote>
									<p>The people who are crazy enough to think they can change the world Are the ones who do</p>
									<footer>Steve Jobs</footer>
								</blockquote>
							</div>
						</div>
						<!--panel-body-->
					</div>
					<div class="col-lg-6 ">
						<div class="panel panel-default">
							<div class="panel-heading clearfix">
								<div class="panel-heading-title pull-left">
									<h6>PARAGRAPH</h6>
								</div>
								<!--panel-heading-title-->
								<div class="panel-heading-buttons pull-right">
									<div class="bs-example">
										<ul class="clearfix">
											<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
											<li class="btn btn-defult  fullScreen"> <i class="fa fa-expand"></i> </li>
											<li class=" btn btn-defult dropdown">
												<a id="drop5" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
													<i class="fa fa-cog"></i>
												</a>
												<ul class="dropdown-menu" aria-labelledby="drop5">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
								<!--panel-heading-buttons-->
							</div>
							<!--panel-->
							<div class="panel-body">
								<p>This is a paragraph. Paragraphs are preset with a font size, line height and spacing to match the overall vertical rhythm. To show what a paragraph looks like this needs a little more content so, did you know that there are storms occurring on Jupiter that are larger than the Earth? Pretty cool. Wrap strong around type to make it bold!. You can also use em to italicize your words.</p>
							</div>
						</div>
						<!--panel-body-->
					</div>
				</div>
				<!--row-->
				<div class="row">
					<div class="col-lg-4 ">
						<div class="panel panel-default">
							<div class="panel-heading clearfix">
								<div class="panel-heading-title pull-left">
									<h6>UNORDERED LIST</h6>
								</div>
								<!--panel-heading-title-->
								<div class="panel-heading-buttons pull-right">
									<div class="bs-example">
										<ul class="clearfix">
											<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
											<li class="btn btn-defult  fullScreen"> <i class="fa fa-expand"></i> </li>
											<li class=" btn btn-defult dropdown">
												<a id="drop6" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
													<i class="fa fa-cog"></i>
												</a>
												<ul class="dropdown-menu" aria-labelledby="drop6">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
								<!--panel-heading-buttons-->
							</div>
							<!--panel-->
							<div class="panel-body">
								<p>A list of items in which the order does not explicitly matter.</p>
								<ul>
									<li>Lorem ipsum dolor sit amet</li>
									<li>Facilisis in pretium nisl aliquet</li>
									<li>Nulla volutpat aliquam velit
										<ul>
											<li>Phasellus iaculis neque</li>
											<li>Purus sodales ultricies</li>
											<li>Vestibulum laoreet porttitor sem</li>
											<li>Ac tristique libero volutpat at</li>
										</ul>
									</li>
									<li>Faucibus porta lacus fringilla vel</li>
									<li>Aenean sit amet erat nunc</li>
									<li>Eget porttitor lorem</li>
								</ul>
							</div>
						</div>
						<!--panel-body-->
					</div>
					<div class="col-lg-4 ">
						<div class="panel panel-default">
							<div class="panel-heading clearfix">
								<div class="panel-heading-title pull-left">
									<h6>ORDERED LIST</h6>
								</div>
								<!--panel-heading-title-->
								<div class="panel-heading-buttons pull-right">
									<div class="bs-example">
										<ul class="clearfix">
											<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
											<li class="btn btn-defult  fullScreen"> <i class="fa fa-expand"></i> </li>
											<li class=" btn btn-defult dropdown">
												<a id="drop7" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
													<i class="fa fa-cog"></i>
												</a>
												<ul class="dropdown-menu" aria-labelledby="drop7">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
								<!--panel-heading-buttons-->
							</div>
							<!--panel-->
							<div class="panel-body">
								<p>A list of items in which the order does explicitly matter.</p>
								<ol>
									<li>Lorem ipsum dolor sit amet</li>
									<li>Consectetur adipiscing elit</li>
									<li>Integer molestie lorem at massa</li>
									<li>Facilisis in pretium nisl aliquet</li>
									<li>Nulla volutpat aliquam velit</li>
									<li>Faucibus porta lacus fringilla vel</li>
									<li>Aenean sit amet erat nunc</li>
									<li>Eget porttitor lorem</li>
									<li>Integer molestie lorem at massa</li>
									<li>Facilisis in pretium nisl aliquet</li>
								</ol>
							</div>
						</div>
						<!--panel-body-->
					</div>
					<div class="col-lg-4 ">
						<div class="panel panel-default">
							<div class="panel-heading clearfix">
								<div class="panel-heading-title pull-left">
									<h6>UNLISTED LIST</h6>
								</div>
								<!--panel-heading-title-->
								<div class="panel-heading-buttons pull-right">
									<div class="bs-example">
										<ul class="clearfix">
											<li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
											<li class="btn btn-defult  fullScreen"> <i class="fa fa-expand"></i> </li>
											<li class=" btn btn-defult dropdown">
												<a id="drop8" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
													<i class="fa fa-cog"></i>
												</a>
												<ul class="dropdown-menu" aria-labelledby="drop8">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
								<!--panel-heading-buttons-->
							</div>
							<!--panel-->
							<div class="panel-body">
								<p>Remove the default <code>list-style</code> and left margin on list items (immediate children only). </p>
								<ul class="list-unstyled">
									<li>Lorem ipsum dolor sit amet</li>
									<li>Facilisis in pretium nisl aliquet</li>
									<li>Nulla volutpat aliquam velit
										<ul>
											<li>Phasellus iaculis neque</li>
											<li>Purus sodales ultricies</li>
											<li>Vestibulum laoreet porttitor sem</li>
											<li>Ac tristique libero volutpat at</li>
										</ul>
									</li>
									<li>Faucibus porta lacus fringilla vel</li>
									<li>Eget porttitor lorem</li>
								</ul>

							</div>
						</div>
						<!--panel-body-->
					</div>
				</div>
				<!--row-->
				<!--MEIN CONTENT -->
@@include('./_stopConteiner.html')
<script>
$(document).ready(function () {
	$(".flowTextButton").click(function () {
		$(".flowTextAction").toggleClass("flow-text");
	});
});
</script>
@@include('./_footer.html')