  @@include('./_header.html', {
    "title": "User"
  })
 <link href="lib/icheck/skins/all.css" rel="stylesheet">
@@include('./_startConteiner.html') 	
 <div id="mainWrapper" class="mainConteiner column">
    <!--start nainconteiner-->
    <div class="mainConteinerConten">
        <div class="container-fluid footerfix">
            <div class="row firstRow">
                <!--row firstRow-->
                <div class="col-lg-9  col-md-8  col-sm-7">
                    <div class="firstRowHeader">
                        <h5>USER INFORMATION</h5>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">User information</li>
                    </ol>
                </div>
                <!--firstRowHeader-->
                <div class="col-lg-3   col-md-4  col-sm-5">
                    <div class="miniDiagramsConteiner">
                        <div class="miniDiagramsContent">
                            <div class="miniDiagramsContentHeader">
                                1290 items
                            </div>
                            <!--miniDiagramsContentHeader-->
                            <div class="miniDiagramsContentContent">
                                <span class="inlinebar">4,3,4,5,3,5,4,3,4,5,3,5,4,5,3,5</span>
                            </div>
                            <!--miniDiagramsContentContent-->
                        </div>
                        <!--miniDiagramsContent-->
                        <div class="miniDiagramsContent">
                            <div class="miniDiagramsContentHeader">
                                $30,00 revenue
                            </div>
                            <!--miniDiagramsContentHeader-->
                            <div class="miniDiagramsContentContent">
                                <span class="inlinebar">4,3,4,5,3,5,4,3,4,5,3,5,4,5,3,5</span>
                            </div>
                            <!--miniDiagramsContentContent-->
                        </div>
                        <!--miniDiagramsContent-->
                    </div>
                    <!--miniDiagramsConteiner-->
                </div>
            </div>
            <!--	MEIN CONTENT  -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="userNameWrapper">
                        <div class="userNameWrapperHeader">
                            <img src="img/userBgHuge.jpg" class="img-responsive" alt="userBg">
                        </div>
                        <!-- userNameWrapperHeader-->
                        <div class="userNameWrapperFotter">
                            <div class="row">
                                <div class="col-lg-6  col-md-5 userNameWrapperFotterUserInfo">
                                    <div class="userNameWrapperFotterUserInfoUser">
                                        <img src="img/userProfilLarge.jpg" alt="UserInfo" class="img-circle img-responsive">
                                    </div>
                                    <!--userNameWrapperFotterUserInfoUser-->
                                    <div class="userNameWrapperFotterUserContent">
                                        <span class="userName">Olga Lutskova</span>
                                        <br/>
                                        <span class="userlocation">Puerto Cortes, Honduras</span>
                                    </div>
                                    <!--userNameWrapperFotterUserContent-->
                                </div>
                                <!--userNameWrapperFotterUserInfo-->
                                <div class="col-lg-6 col-md-7 userNameWrapperFotterUserIcons">
                                    <ul>
                                        <li><a href=""><i class="fa fa-heart"></i><br/><span>25,498</span></a></li>
                                        <li><a href=""><i class="fa fa-thumb-tack"></i><br/><span>145,36</span></a></li>
                                        <li><a href=""><i class="fa fa-comment"></i><br/><span>2,487</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--userNameWrapperFotter-->
                    </div>
                    <!--userNameWrapper-->
                </div>
                <!--col-lg-12-->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-danger  float-button-light waves-effect">Middle</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-danger  float-button-light waves-effect">Middle</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-danger  float-button-light waves-effect">Middle</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="userContent">
                        <div class="headerPost">
                            <div class="headerPostIcon">
                                <img src="img/UseFoto.jpg" alt="headerPostIcon" class="img-circle">
                            </div>
                            <!--headerPostIcon-->
                            <div class="headerPostUserName">
                                Olga Lutskova
                            </div>
                            <!--headerPostUserName-->
                        </div>
                        <!--headerPost-->
                        <div class="postMainImg">
                            <img src="img/postMainImg.jpg" alt="amsterdam" class="img-responsive">
                        </div>
                        <!--postMainImg-->
                        <div class="postMainComent clearfix">
                            <div class="postMainComentContent">
                                <h6>Amsterdam</h6>
                                <p> Amsterdam is the capital city of and the most populous within the Kingdom of the Netherlands. Amsterdam's name derives from Amstelredamme. Amsterdam is located in the western... Netherlands</p>
                                <br>
                            </div>
                            <!--postMainComentContent-->
                            <div class="postMainComentContentButtons">
                                <a href="">like</a>
                                <a href="">Share</a>
                            </div>
                            <!--postMainComentContentButtons-->
                        </div>
                        <!--postMainComent-->
                        <div class="row inputWrapper postText">
                            <div class="col-md-12">
                                <div class="form-group input-primary">
                                    <label for="comment">Comment:</label>
                                    <textarea class="form-control" rows="2" id="comment"></textarea>
                                    
                        
                                        </div>
                                <br>
                                <button type="button" class="btn btn-danger btn-df float-button-light pull-right">Send</button>
                            </div>
                        </div>
                    </div>
                    <!--col-md-12 formAnt-->
                </div>
            </div>
            <!--row-->
            <div class="row">
                <div class="col-lg-4 ">
                    <div class="row noP">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading clearfix">
                                    <div class="panel-heading-title pull-left">
                                        <h6> About Me!</h6>
                                    </div>
                                    <!--panel-heading-title-->
                                    <div class="panel-heading-buttons pull-right">
                                        <div class="bs-example">
                                            <p class="clearfix">
                                                <button class="btn remove"> <i class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                    <!--panel-heading-buttons-->
                                </div>
                                <!--panel-->
                                
                                <div class="panel-body">
                                    <div class="aboutMe">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        <ul>
<li><i class="fa fa-code"></i><span>150 000+ lines of code</span></li>
<li><i class="fa fa-users"></i><span>900 friends in the 

community</span></li>
<li><i class="fa fa-clock-o"></i><span>5000 hours of 

development</span></li>
<li><i class="fa fa-picture-o"></i><span>800 pictures</span></li>
</ul>
                                    </div>
                                    
                                </div>
                            </div>
                            <!--panel-body-->
                        </div>
                        <div class="col-lg-12">
                            <div class="panel panel-widgets">
                                <div class="panel-body">
                                    <div class="downloadFoto" style="background-image: url(img/downloadFoto.jpg)">
                                       
                                    </div>
                                    <!--downloadFoto-->
                                </div>
                                <div class="panel-footer colorTheme">
                                    <div class="downloadFotoFooter">

                                        <div class="row">
                                            <div class="col-xs-6 left"><i class="fa fa-heart"></i>25,498</div>
                                            <div class="col-xs-6 right"><i class="fa fa-cloud-download"></i>25,498</div>
                                        </div>
                                    </div>
                                    <!--downloadFotoFooter-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <div class="panel-heading-title pull-left">
                                <h6>DRAGABLE TASK AND MEETING</h6>
                            </div>
                            <!--panel-heading-title-->
                            <div class="panel-heading-buttons pull-right">
                                <div class="bs-example">
                                    <p class="clearfix">
                                        <button class="btn remove"> <i class="fa fa-times"></i></button>
                                    </p>
                                </div>
                            </div>
                            <!--panel-heading-buttons-->
                        </div>
                        <!--panel-->
                        <div class="panel-body">
                            
                 <div class="row">
                                <div class="col-lg-12">
                                    <div class="todoWrapper">
                                        <div class="sort-todo">
                                            <a class="all-todo" href="#">All</a>
                                            <a class="active-todo" href="#">Active </a>
                                            <a class="complete-todo" href="#">Complete </a>
                                            <a class="archive-todo" href="#">Archive </a>
                                        </div>
                                        <br>
                                        <form id="add_todo" method="post">
                                            <div class="form-group add-todo">
                                                <div class="input-group input-group-lg input-primary">
                                                    <input type="text" class="form-control name-of-todo" placeholder="Write  your tasks">
                                                    <span class="input-group-addon border-right" id="basic-addon2"><i class="fa fa-pencil"></i></span>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="panel">
                                            <div class="panel-body todo">
                                                <ul class="list-group">
                                                    <li class="list-group-item">
                                                        <div class="checkbox">
                                                            <input id="checkbox" class="styled" type="checkbox">
                                                            <label for="checkbox">
                                                                Meeting with friends
                                                            </label>
                                                        </div>
                                                        <div class="pull-right action-btns">
                                                            <a href="#" class="archive"><span class="fa fa-archive"></span></a>
                                                            <a href="#" class="trash"><span class="fa fa-close"></span></a>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="checkbox1" />
                                                            <label for="checkbox1">
                                                                Update design
                                                            </label>
                                                        </div>
                                                        <div class="pull-right action-btns">
                                                            <a href="#" class="archive"><span class="fa fa-archive"></span></a>
                                                            <a href="#" class="trash"><span class="fa fa-close"></span></a>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item checked-todo">
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="checkbox2" checked/>
                                                            <label for="checkbox2">
                                                                Call manager
                                                            </label>
                                                        </div>
                                                        <div class="pull-right action-btns">
                                                            <a href="#" class="archive"><span class="fa fa-archive"></span></a>
                                                            <a href="#" class="trash"><span class="fa fa-close"></span></a>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="checkbox3" />
                                                            <label for="checkbox3">
                                                                Business lunch with Mr. Thompson
                                                            </label>
                                                        </div>
                                                        <div class="pull-right action-btns">
                                                            <a href="#" class="archive"><span class="fa fa-archive"></span></a>
                                                            <a href="#" class="trash"><span class="fa fa-close"></span></a>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="checkbox4" />
                                                            <label for="checkbox4">
                                                                Сontrol sales
                                                            </label>
                                                        </div>
                                                        <div class="pull-right action-btns">
                                                            <a href="#" class="archive"><span class="fa fa-archive"></span></a>
                                                            <a href="#" class="trash"><span class="fa fa-close"></span></a>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="checkbox5" />
                                                            <label for="checkbox5">
                                                                Write a letter to Ms. Gareth
                                                            </label>
                                                        </div>
                                                        <div class="pull-right action-btns">
                                                            <a href="#" class="archive"><span class="fa fa-archive"></span></a>
                                                            <a href="#" class="trash"><span class="fa fa-close"></span></a>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="checkbox6" />
                                                            <label for="checkbox6">
                                                                Сall parents
                                                            </label>
                                                        </div>
                                                        <div class="pull-right action-btns">
                                                            <a href="#" class="archive"><span class="fa fa-archive"></span></a>
                                                            <a href="#" class="trash"><span class="fa fa-close"></span></a>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="checkbox7" />
                                                            <label for="checkbox7">
                                                                Find information on the pattern
                                                            </label>
                                                        </div>
                                                        <div class="pull-right action-btns">
                                                            <a href="#" class="archive"><span class="fa fa-archive"></span></a>
                                                            <a href="#" class="trash"><span class="fa fa-close"></span></a>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="checkbox8" />
                                                            <label for="checkbox8">
                                                                Accurate prices for works
                                                            </label>
                                                        </div>
                                                        <div class="pull-right action-btns">
                                                            <a href="#" class="archive"><span class="fa fa-archive"></span></a>
                                                            <a href="#" class="trash"><span class="fa fa-close"></span></a>
                                                        </div>
                                                    </li>
                                  
                                                </ul>
                                            </div>
                                        </div>
										<div class="checkbox clear-todo pull-left">
											<input type="checkbox" id="clear" />
											<label for="clear">
												Mark all as complete
											</label>
										</div>
										<button id="clear-comp" class="btn btn-danger btn-df float-button-light   pull-right m-5-0">CLEAR </button>
                                    </div>
                                </div>
                                <!--todoWrapper-->
                            </div>           
                         </div>
                    </div>
                </div>
            </div>
            <!--row-->
            <div class="row">
                <div class="col-lg-12 ">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <div class="panel-heading-title pull-left">
                                <h6>MAP</h6>
                            </div>
                            <!--panel-heading-title-->
                            <div class="panel-heading-buttons pull-right">
                                <div class="bs-example">
                                    <p class="clearfix">
                                        <button class="btn remove"> <i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <!--panel-heading-buttons-->
                        </div>
                        <!--panel-->
                        <div class="panel-body">
                            <div class="mapWrapper">
                                <div class="mapConteiner">
                                    <div id="map"></div>
                                </div>
                                <!--mapWrapper-->
                                <div class="mapConteinerFooter clearfix">
                                    <span class="marker"><i class="fa fa-map-marker"></i></span>
                                    <span class="address">RIDS<br/>2 College St,  Providence, RI 02903, United States</span>
                                    <div class="mapButtons">
                                        <button type="button" class="btn btn-danger btn-df float-button-light pull-right">PRINT</button>
                                        <button type="button" class="btn btn-danger btn-df float-button-light pull-right">SHARE</button>
                                    </div>
                                </div>
                                <!--mapConteinerFooter-->
                            </div>
                            <!--antConteinerFooter-->
                        </div>
                    </div>
                    <!--panel-body-->
                </div>
            </div>
            <!--row-->
            <!--MEIN CONTENT-->
				
								
@@include('./_stopConteiner.html') 		
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="lib/snazzymaps/snazzymaps.js"></script>
	<script type="text/javascript" src="lib/jquery-ui/jquery-ui.js"></script>
	<script type="text/javascript" src="lib/icheck/icheck.js"></script>
    <script type="text/javascript" src="lib/icheck/custom.js"></script>
	<script type="text/javascript" src="js/userFunctions.js"></script>
	<script type="text/javascript" src="js/buttonsFunctions.js"></script>
@@include('./_footer.html') 