/*  PANEL BACKGROUND COLORS */

.colorTransparent {
	background-color: transparent !important;
	border: 0 !important;
	box-shadow: none !important;
}

.colorWhite {
	background-color: $mainColorWhite !important;
	h6,
	i {
		color: $mainColorDark !important;
	}
}

.colorTheme {
	background-color: $mainColorTheme !important;
	color: $mainColorWhite;
	.nawbarMainMenu a {
		color: $mainColorWhite !important;
	}
	h6,
	i {
		color: $mainColorWhite !important;
	}
}

.colorCyan {
	background-color: $mainColorCyan !important;
	color: $mainColorWhite !important;
	.nawbarMainMenu a {
		color: $mainColorWhite;
	}
	h6,
	i {
		color: $mainColorWhite !important;
	}
}

.colorPink {
	background-color: $mainColorPink!important;
	color: $mainColorWhite;
	.nawbarMainMenu a {
		color: $mainColorWhite;
	}
	h6,
	i {
		color: $mainColorWhite !important;
	}
}

.colorPurpule {
	background-color: $mainColorPurpule !important;
	color: $mainColorWhite;
	.nawbarMainMenu a {
		color: $mainColorWhite;
	}
	h6,
	i {
		color: $mainColorWhite !important;
	}
}

.colorCyan {
	background-color: $mainColorCyan !important;
}

.colorYellow {
	background-color: $mainColorYellow !important;
	color: #b98b2a;
	.nawbarMainMenu a {
		color: #b98b2a;
	}
	h6,
	i {
		color: $mainColorWhite !important;
	}
}

.colPink {
	background-color: $mainColorPink !important;
}

.colWhite {
	background-color: $mainColorWhite !important;
	border: 1px solid $mainColorGray!important;
}

.colCyan {
	background-color: $mainColorCyan !important;
}

.colPurpule {
	background-color: $mainColorPurpule !important;
}

.colYellow {
	background-color: $mainColorYellow !important;
}


/*  TEXT COLORS */

.colorTextPink {
	color: $mainColorPink !important;
}

.colorTextDark {
	color: $mainColorDark!important;
}

.colorTextTheme {
	color: $mainColorTheme !important;
}

.colorTextPurpule {
	color: $mainColorPurpule !important;
}

.colorTextCyan {
	color: $mainColorCyan !important;
}

.colorTextYellow {
	color: $mainColorYellow !important;
}

.colorTextWhite {
	color: $mainColorWhite !important;
	opacity: 1;
}

.colorTextDarkOrange {
	color: $mainColorDarkOrange !important;
	opacity: 1;
}


/* MATERIAL COLORS */

.materialColorsBox {
	width: 250px;
	height: 100px;
	text-align: center;
	border: 1px solid $mainColorWhite;
	float: left;
	padding: 25px 0;
	p {
		font-size: $middleTextSize;
		font-weight: 600;
	}
}

.materialPink {
	background-color: $mainColorPink;
}

.materialTheme {
	background-color: $mainColorTheme;
}

.materialPurpule {
	background-color: $mainColorPurpule;
}

.materialCyan {
	background-color: $mainColorCyan;
}

.materialYellow {
	background-color: $mainColorYellow;
}

.materialPink-50 {
	background-color: #fce4ec;
}

.materialPink-100 {
	background-color: #f8bbd0;
}

.materialPink-200 {
	background-color: #f48fb1;
}

.materialPink-300 {
	background-color: #f06292;
}

.materialPink-400 {
	background-color: #ec407a;
}

.materialPink-500 {
	background-color: #e91e63;
}

.materialPink-600 {
	background-color: #d81b60;
}

.materialPink-700 {
	background-color: #c2185b;
}

.materialPink-800 {
	background-color: #ad1457;
}

.materialPink-900 {
	background-color: #880e4f;
}

.materialPink-A100 {
	background-color: #ff80ab;
}

.materialPink-A200 {
	background-color: #ff4081;
}

.materialPink-A400 {
	background-color: #f50057;
}

.materialPink-A700 {
	background-color: #c51162;
}

.materialLight-Blue {
	background-color: #03a9f4;
}

.materialLight-Blue-50 {
	background-color: #e1f5fe;
}

.materialLight-Blue-100 {
	background-color: #b3e5fc;
}

.materialLight-Blue-200 {
	background-color: #81d4fa;
}

.materialLight-Blue-300 {
	background-color: #4fc3f7;
}

.materialLight-Blue-400 {
	background-color: #29b6f6;
}

.materialLight-Blue-500 {
	background-color: #03a9f4;
}

.materialLight-Blue-600 {
	background-color: #039be5;
}

.materialLight-Blue-700 {
	background-color: #0288d1;
}

.materialLight-Blue-800 {
	background-color: #0277bd;
}

.materialLight-Blue-900 {
	background-color: #01579b;
}

.materialLight-Blue-A100 {
	background-color: #80d8ff;
}

.materialLight-Blue-A200 {
	background-color: #40c4ff;
}

.materialLight-Blue-A400 {
	background-color: #0091ea;
}

.materialLight-Blue-A700 {
	background-color: #0091ea;
}

.materialPurple-50 {
	background-color: #f3e5f5;
}

.materialPurple-100 {
	background-color: #e1bee7;
}

.materialPurple-200 {
	background-color: #ce93d8;
}

.materialPurple-300 {
	background-color: #ba68c8;
}

.materialPurple-400 {
	background-color: #ab47bc;
}

.materialPurple-500 {
	background-color: #9c27b0;
}

.materialPurple-600 {
	background-color: #8e24aa;
}

.materialPurple-700 {
	background-color: #7b1fa2;
}

.materialPurple-800 {
	background-color: #6a1b9a;
}

.materialPurple-900 {
	background-color: #4a148c;
}

.materialPurple-A100 {
	background-color: #ea80fc;
}

.materialPurple-A200 {
	background-color: #e040fb;
}

.materialPurple-A400 {
	background-color: #d500f9;
}

.materialPurple-A700 {
	background-color: #a0f;
}

.materialCyan-50 {
	background-color: #e0f7fa;
}

.materialCyan-100 {
	background-color: #b2ebf2;
}

.materialCyan-200 {
	background-color: #80deea;
}

.materialCyan-300 {
	background-color: #4dd0e1;
}

.materialCyan-400 {
	background-color: #26c6da;
}

.materialCyan-500 {
	background-color: #00bcd4;
}

.materialCyan-600 {
	background-color: #00acc1;
}

.materialCyan-700 {
	background-color: #0097a7;
}

.materialCyan-800 {
	background-color: #00838f;
}

.materialCyan-900 {
	background-color: #006064;
}

.materialCyan-A100 {
	background-color: #84ffff;
}

.materialCyan-A200 {
	background-color: #18ffff;
}

.materialCyan-A400 {
	background-color: #00e5ff;
}

.materialCyan-A700 {
	background-color: #00b8d4;
}

.materialYellow-50 {
	background-color: #fffde7;
}

.materialYellow-100 {
	background-color: #fff9c4;
}

.materialYellow-200 {
	background-color: #fff59d;
}

.materialYellow-300 {
	background-color: #fff176;
}

.materialYellow-400 {
	background-color: #ffee58;
}

.materialYellow-500 {
	background-color: #ffeb3b;
}

.materialYellow-600 {
	background-color: #fdd835;
}

.materialYellow-700 {
	background-color: #fbc02d;
}

.materialYellow-800 {
	background-color: #f9a825;
}

.materialYellow-900 {
	background-color: #f57f17;
}

.materialYellow-A100 {
	background-color: #ffff8d;
}

.materialYellow-A200 {
	background-color: #ff0;
}

.materialYellow-A400 {
	background-color: #ffea00;
}

.materialYellow-A700 {
	background-color: #ffd600;
}

.pink,
.theme,
.purpule,
.white,
.cyan,
.yellow {
	display: block;
	float: left;
	margin: 10px;
}

.pink > .cs-skin-elastic > span {
	background-color: $mainColorPink!important;
	z-index: 100;
	width: 150px;
	height: 44px;
	color: $mainColorWhite;
	font-size: $mainTextSize;
}

.theme > .cs-skin-elastic > span {
	background-color: $mainColorTheme!important;
	width: 150px;
	height: 44px;
	color: $mainColorWhite;
	font-size: $mainTextSize;
}

.purpule > .cs-skin-elastic > span {
	background-color: $mainColorPurpule!important;
	z-index: 100;
	width: 150px;
	height: 44px;
	color: $mainColorWhite;
	font-size: $mainTextSize;
}

.white > .cs-skin-elastic > span {
	background-color: $mainColorWhite!important;
	z-index: 100;
	width: 150px;
	height: 44px;
	color: $mainColorDark;
	font-size: $mainTextSize;
}

.cyan > .cs-skin-elastic > span {
	background-color: $mainColorCyan!important;
	z-index: 100;
	width: 150px;
	height: 44px;
	color: $mainColorWhite;
	font-size: $mainTextSize;
}

.yellow > .cs-skin-elastic > span {
	background-color: $mainColorYellow!important;
	z-index: 100;
	width: 150px;
	height: 44px;
	color: #b98b2a;
	font-size: $mainTextSize;
}

.cs-skin-elastic .cs-options {
	width: 150px !important;
	span {
		width: 150px !important;
		height: 44px;
		font-size: $mainTextSize;
		color: $mainColorDark;
		font-weight: 300;
		padding-left: 20px !important;
	}
}

.cs-skin-elastic.cs-active .cs-options ul li {
	border-left: $mainBorder;
	border-right: $mainBorder;
	border-bottom: $mainBorder;
	background-color: $mainColorWhite!important;
}

.cs-skin-elastic .cs-options > ul::before {
	background-color: transparent !important;
}