<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="bootstrap admin template">
	<meta name="author" content="">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>BookStore | Admin</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/scss/style.css" rel="stylesheet" type="text/css">
	<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<!-- BUTTONS EFFECT -->
	<link href="lib/waves/waves.css" rel="stylesheet" type="text/css">
	<link rel="icon" href="img/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
	<!-- Bootstrap -->
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="lib/html5shiv/html5shiv.min.js"></script>
		<script src="lib/respondjs/respond.min.js"></script>
	<![endif]-->

</head>

<body>
	<div class="registrationWrapper clearfix">
		<div class="registrationContent">
			<div class="registrationHeader">
				<h1>Login</h1>
			</div>
			<!--registrationHeader-->
			<br>
			<div class="row inputWrapper ">
				<div class="col-md-12">
					<div class="left-inner-addon ">
						<i class="fa fa-envelope"></i>
						<input type="text" class="form-control" placeholder="E-mail">
					</div>
				</div>
				<br>
				<br>
				<br>
				<div class="col-md-12 ">
					<div class="left-inner-addon ">
						<i class="fa fa-key"></i>
						<input type="text" class="form-control" placeholder="Password">
					</div>
				</div>
				<br>
				<br>
				<br>

			</div>
			<div class="registrationButtonPlaseholder">
				<button type="button" class="btn btn-info btn-df float-button-light">Login</button>
			</div>
			<!--registrationButtonPlaseholder-->
		</div>
		<!--registrationContent-->
	</div>
	<!--registrationWrapper-->

	<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="lib/waves/waves.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script>
		Waves.attach('.float-button-light', ['waves-button', 'waves-float', 'waves-light']);
		Waves.init();
	</script>
</body>

</html>