{% extends "admin/base.html" %}
{% load staticfiles %}
{% block title %}
Quản lý tài khoản
{% endblock %}
{% block header %}
<div class="col-lg-9  col-md-8  col-sm-7">
    <div class="firstRowHeader">
        <h5>Quản lý tài khoản</h5>
    </div>
    <ol class="breadcrumb">
        <li><a href="/admin">Trang chủ</a></li>
        <li class="active">Tài khoản</li>
    </ol>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12 ">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="panel-heading-title pull-left">
                    <h6>Quản lý tài khoản</h6>
                </div>
                <!--panel-heading-title-->
                <div class="panel-heading-buttons pull-right">
                    <div class="bs-example">
                        <ul class="clearfix">
                            <li class="btn btn-defult remove"> <i class="fa fa-times"></i></li>
                            <li class="btn btn-defult  fullScreen"> <i class="fa fa-expand"></i> </li>
                            <li class=" btn btn-defult dropdown">
                                <a id="drop" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-cog"></i>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="drop">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--panel-heading-buttons-->
            </div>
            <!--panel-->
            <div class="panel-body">
                <div class="dataTableWrapper">
                    <table id="example1" class="display tableWrapper">
                        <thead>
                            <tr>
                                <th>Email</th>
                                <th>Điện thoại</th>
                                <th>Loại tài khoản</th>
                                <th>Trạng thái</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Email</th>
                                <th>Điện thoại</th>
                                <th>Loại tài khoản</th>
                                <th>Trạng thái</th>
                                <th>Hành động</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for item in data %}
                            <tr>
                                <td>{{ item.email }}</td>
                                <td>{{ item.phone }}</td>

                                {% if item.accountType == 1 %}
                                <td><label class="label label-info">Admin</label></td>
                                {% else %}
                                <td><label class="label label-warning">Khách hàng</label></td>
                                {% endif %}

                                {% if item.lock == 0 %}
                                <td><label class="label label-success">Hoạt động</label></td>
                                {% else %}
                                <td><label class="label label-danger">Khóa</label></td>
                                {% endif %}
                                <td><a href="/admin/see_account/{{ item.id }}" class="btn btn-info">Xem chi tiết</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--panel-body-->
    </div>
</div>
{% endblock %}

{% block link_css %}
<link href="{% static 'admin/lib/dataTable/css/jquery.dataTables.css' %}" rel="stylesheet">
{% endblock %}
{% block js %}
<script type="text/javascript" src="{% static 'admin/lib/dataTable/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/dataTableFunctions.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/functions.js' %}"></script>
{% endblock %}