{% extends "admin/base.html" %}
{% load staticfiles %}
{% block title %}
Xem tài khoản
{% endblock %}
{% block header %}
<div class="col-lg-9  col-md-8  col-sm-7">
    <div class="firstRowHeader">
        <h5>Xem tài khoản</h5>
    </div>
    <ol class="breadcrumb">
        <li><a href="index.html">Trang chủ</a></li>
        <li><a>Quản lý tài khoản</a></li>
        <li class="active">Xem tài khoản</li>
    </ol>
</div>
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-lg-12 ">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="panel-heading-title pull-left">
                    <h6>Sửa thể loại</h6>
                </div>
                <!--panel-heading-title-->
                <div class="panel-heading-buttons pull-right">
                    <div class="bs-example">
                        
                    </div>
                </div>
                <!--panel-heading-buttons-->
            </div>
            <!--panel-->
            <div class="panel-body">
                <div class="row inputWrapper ">
                    <label>Tên tài khoản:</label>
                    <br/>
                    <div class="col-md-12 bold">
                        <input type="text" class="form-control" >
                    </div>
                </div>
                <div class="row inputWrapper ">
                    <label>Email:</label>
                    <br/>
                    <div class="col-md-12 bold">
                        <input type="text" class="form-control" >
                    </div>
                </div>
                <div class="row inputWrapper ">
                    <label>Địa chỉ</label>
                    <br/>
                    <div class="col-md-12 bold">
                        <input type="text" class="form-control" >
                    </div>
                </div>
                <div class="row inputWrapper ">
                    <label>Điện thoại</label>
                    <br/>
                    <div class="col-md-12 bold">
                        <input type="text" class="form-control" >
                    </div>
                </div>
                <div class="row inputWrapper ">
                    <label>Loại tài khoản</label>
                    <br/>
                    <div class="col-md-12 bold">
                        <input type="text" class="form-control" >
                    </div>
                </div>
            </div>
        </div>
        <br />
        <a class="btn btn-primary">Trở về</a>
        <!--panel-body-->
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'admin/js/functions.js' %}"></script>
{% endblock %}