<!doctype html>
<html lang="en">
	<head>
		<title>Title</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet"href="./vendor/style.css"/>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="./css/bootstrap.min.css" >
		<script src="js/jquery.js"></script>
		<script src="main.js"></script>
		<link rel="stylesheet" href="./css/font-awesome.min.css">
	</head>
	<body>
		<div class="header">
			<div class="top-header">
				<h3>BOOKSTORE</h3>
				<ul>
					<li>Thoát</li>
					<li>Đăng nhập</li>
				</ul>
			</div>
			<div class="content-header">
				<div class="container">
					<div class="search">
						<input type="text" name="search" id="" size="100"/>
						<button type="button" class="btn btn"><i class="fa fa-search"></i></button>
						<button type="button" class="btn btn left-20"><i class="fa fa-cart-arrow-down">    Giỏ hàng</i></button>
					</div>
					<div class="menu">
						<div class="main-menu">
							<ul>
								<li>Sách trong nước <i class="fa fa-plus"></i></li>
								<li>Sách ngoại văn <i class="fa fa-plus"></i></li>
								<li>Đồ chơi <i class="fa fa-plus"></i></li>
								<li>Tuyển tập <i class="fa fa-plus"></i></li>
								<li>Bán chạy <i class="fa fa-plus"></i></li>
								<li>Sách học ngoại Ngữ <i class="fa fa-plus"></i></li>
							</ul>
						</div>
						<div class="extra-menu">
							<div class="sachtrongnuoc">
								<ul>
									<li>Nuôi dạy con</li>
									<li>Kinh tế</li>
									<li>Thiếu nhi</li>
									<li>Khoa học kĩ thuật</li>
								</ul>
							</div>
							<div class="sachngoaivan">
								<ul>
									<li>Hàn Quốc</li>
									<li>New York</li>
									<li>Nhật Bản</li>
								</ul>
							</div>
							<div class="dochoi">
								<ul>
									<li>Đồ chơi cho bé gái</li>
									<li>Đồ chơi cho bé trai</li>
									<li>Đồ chơi theo thương hiệu</li>
									<li>Quà lưu niệm</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="banner">
						<img src="img/1.jpg"/>
						<img src="img/2.jpg"/>
						<img src="img/3.jpg"/>
					</div>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="container">
                
				<div class="toplq">
						<p>	<i class="fa fa-angle-right"></i>
					Chi tiết sách</p>
				</div>
                <div class="chitiet">
					<div class="row">
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
							<div class="img-dt-left">
								<button type="button" class="btn btn-default btnnext" ><i class="fa fa-angle-left"></i></button>
								<img class="anhsp" src="./img/product/1.jpg" alt="">
								<img class="anhsp" src="./img/product/2.jpg" alt="">
								<img class="anhsp" src="./img/product/3.jpg" alt="">
								<button type="button" class="btn btn-default btnnext"><i class="fa fa-angle-right"></i></button>
							</div>
						</div>
						<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
							<ul>
								<li><div class="toplq" style="color:red;text-align: inherit">
										<p>Tuổi 20</p>
									</div></li>
								<li>Giới thiệu:</li>
								<li>Tác giả:</li>
								<li>Nhà xuất bản:</li>
								<li>Giá:</li>
								<li>
									Số lượng
									<input type="text" name="" id="" size="5">
								</li>
								<li>
									<button type="button" class="btn btn-warning">Thêm vào giỏ hàng</button>
									<button type="button" class="btn btn-danger">Mua ngay</button>
								</li>
							</ul>
						</div>
					</div>
					
				</div>
				
				<div class="toplq">
					<p><i class="fa fa-angle-right"></i>
						Review của độc giả</p>
				</div>
                <div class="motachitet">
                    <pre>
Nếu chọn một quyển sách nhỏ gọn nhẹ nhàng nhưng đầy triết lý để thường xuyên đọc lại, tôi sẽ chọn Nhà Giả Kim của Paulo Coelho. Quyển sách là một câu chuyện về hành trình chinh phục giấc mơ của một chàng trai trẻ, những triết lý về lẽ sống, về ước mơ, về sự vận hành của vũ trụ nhưng không giáo điều, không cứng nhắc, lên gân mà lại rất thi vị, sinh động vô cùng.

Những điểm cộng vô cùng đặc sắc của “Nhà Giả Kim”:

Giá trị nhân văn sâu sắc

Ta có thể tìm thấy trong tác phẩm này một số hình mẫu của con người thời đó: những người quen sống một cuộc đời tẻ nhạt, ổn định, ngày qua ngày không gì mới mẻ (cha mẹ chàng Santiago, cô con gái ông chủ cửa hàng vải, chủ cửa hàng pha lê..); những người khao khát khám phá thế giới nhưng lạc lối trong kiến thức (chàng người Anh luôn mang theo một vali sách đầy nhưng chìm đắm và lạc lối trong mê cung kiến thức); những người khám phá thế giới chỉ bằng tất cả sự “dấn thân”, lòng “hiếu tri” và óc quan sát nhạy bén (chàng Santiago, một nhân vật đọc rất ít sách nhưng lại có con mắt và trái tim quan sát vô cùng nhạy bén). Và có lẽ những hình mẫu đó cũng không thay đổi gì nhiều trong xã hội hiện đại ngày nay. Những hình mẫu ấy, với những suy nghĩ, băn khoăn, tâm tư, tình cảm  phản ánh chân thật đời sống nội tâm con người.

Câu chuyện ước mơ

Câu chuyện như một tiếng nói khe khẽ, dễ thương nhưng cũng văng vẳng bên tai chúng ta về ước mơ. Trong mỗi chúng ta đều có những ước mơ của riêng mình. Những ước mơ ngày bé đến thật tự nhiên, thật dễ dàng, thật mạnh mẽ. Nhưng dần dà, với những khắt nghiệt của cuộc đời đã bị vùi dập, bị quên lãng. Và giờ đây, chúng ta có còn dám ước mơ? Chúng ta có băn khoăn về cuộc đời mình? Chúng ta có dám đối mặt với chính mình để tìm ra mục đích sống của cuộc đời và sẵn sàng đánh đổi nhiều thứ để thực hiện nó?

Sức mạnh của niềm tin

Qua cuộc hành trình của chàng Santiago, giữa những lúc khó khăn nhất luôn có lẽ như chàng ta đều nhận được sự trợ giúp từ một sức mạnh vô hình nào đó – “vũ trụ”- bằng các “dấu hiệu” chỉ đường. Và nếu nhìn ở góc độ thực tế hơn, ta sẽ nhận ra rằng “vũ trụ” đó chính là “niềm tin mãnh liệt” của chàng, mỗi thời khắc đều như thì thầm chỉ bảo, hay động viên, vỗ về chàng thông qua “ngôn ngữ của trái tim”.

Trong câu chuyện, đã có ít nhất bốn lần chàng Santiago vượt qua những khó khăn trở ngại để đến với Kim Tự Tháp. Lần thứ nhất là thuyết phục bố mẹ không làm linh mục mà chọn nghề chăn cừu để thỏa ước mơ chu du khắp thế giới để mở rộng tầm mắt. Lần thứ hai là khi Santiago đến Tangiers cảm thấy mọi thứ đều xa lạ, bất đồng ngôn ngữ và bị lừa mất hết tiền bạc đi đường. Lần ba khi đến sa mạc cai quản bởi những chiến binh hung dữ, cậu phải vượt qua những cửa ải trổ tài biến thành gió, thấu hiểu ngôn ngữ của vũ trụ thì mới được phép cho qua. Và lần thứ tư là khi đã cận kề Kim Tự Tháp cậu còn gặp bọn cướp hung hãn bị cướp và đánh đập tưởng chừng như chết đi.

Và phải chăng từ câu chuyện của Santiago kết hợp với những tình tiết mang ít nhiều tính thần thoại, huyền bí, ta có được kết luận rằng “Nhiệm vụ duy nhất của mỗi chúng ta là thực hiện sứ mệnh của mình. Tất cả chỉ là một. Rồi khi anh thực sự mong muốn điều gì thì toàn vũ trụ sẽ chung sức để anh đạt được điều ấy” ( Nhà giả Kim)

Một tác phẩm đầy chất thơ

Nhà Giả Kim là một tác phẩm đầy lãng mạn, thi vị, lời lẽ giản dị nhưng súc tích và triết lý nhẹ nhàng. Chính yếu tố thần thoại đã làm cho những triết lý được gửi gắm đến độc giả một cách ly kỳ, huyền bí với những cách hiểu, cách chiêm nghiệm khác nhau mỗi người. Và theo tôi đó cũng là một yếu tố đặc biệt giúp cho tác phẩm này dễ chạm đến trái tim của độc giả và trở thành quyển sách gối đầu giường của nhiều người trẻ như vậy.

Tuy nhiên,

Về phần cuối tác phẩm, yếu tố thần thoại, tâm linh được đẩy lên cao trào qua đoạn đối thoại và tạo ra gió của chàng Santiago phần nào mất đi tính logic, tính thực tế của tác phẩm. Thiết nghĩ, nếu tác giả vẫn giữ mạch viết và cốt truyện chứa đựng những triết lý thông qua những sự việc thực tế thì sẽ đẩy tác phẩm lên một tầm triết lý phổ quát và chân thực hơn.

Và điều cuối cùng để tóm lại những gì rút ra từ cuốn sách Nhà Giả Kim, thì đó chính là: dám ước mơ và dám quyết định cuộc đời mình bằng tiếng gọi con tim!
					</pre>
				</div>
				<div class="toplq">
					<p><i class="fa fa-angle-right"></i>
						Đánh giá</p>
				</div>
                <div class="danhgia">
					<div class="dg-chitiet">
						<ul>
							<li><p style="color: lightgreen; font-family: sans-serif;font-weight: 500;font-style: italic;">Nguyễn Ngọc Bích:</p></li>
							<li><p style="color:grey;">sách rất hay</p></li>
						</ul>
					</div>
					<div class="dg-chitiet">
						<ul>
							<li><p style="color: lightgreen; font-family: sans-serif;font-weight: 500;font-style: italic;">Nguyễn Ngọc Bích:</p></li>
							<li><p style="color:grey;">sách rất hay</p></li>
						</ul>
					</div>
					<div class="dg-chitiet">
						<ul>
							<li><p style="color: lightgreen; font-family: sans-serif;font-weight: 500;font-style: italic;">Nguyễn Ngọc Bích:</p></li>
							<li><p style="color:grey;">sách rất hay</p></li>
						</ul>
					</div>
					<div class="dg-chitiet">
						<ul>
							<li><p style="color: lightgreen; font-family: sans-serif;font-weight: 500;font-style: italic;">Nguyễn Ngọc Bích:</p></li>
							<li><p style="color:grey;">sách rất hay</p></li>
						</ul>
					</div>
					<div class="nhap-dg"></div>
				</div>
                <div class="ls-splq">
					<div class="toplq">
						<p><i class="fa fa-angle-right"></i>
							Sản phẩm liên quan</p>
					</div>
					<button type="button" class="btn btn-default btnpre"><i class="fa fa-angle-left"></i></button>
						<div class="splienquan">
							<img src="./img/product/9.jpg" alt="">
							<ul>
								<li>sach</li>
								<li>gia</li>
							</ul>
						</div>
						<div class="splienquan">
							<img src="./img/product/8.jpg" alt="">
							<ul>
								<li>sach</li>
								<li>gia</li>
							</ul>
						</div>
						<div class="splienquan">
							<img src="./img/product/7.jpg" alt="">
							<ul>
								<li>sach</li>
								<li>gia</li>
							</ul>
						</div>
						<div class="splienquan">
							<img src="./img/product/6.jpg" alt="">
							<ul>
								<li>sach</li>
								<li>gia</li>
							</ul>
						</div>
						<div class="splienquan">
							<img src="./img/product/5.jpg" alt="">
							<ul>
								<li>sach</li>
								<li>gia</li>
							</ul>
						</div>
						<div class="splienquan">
							<img src="./img/product/4.jpg" alt="">
							<ul>
								<li>sach</li>
								<li>gia</li>
							</ul>
						</div>
						<div class="splienquan">
							<img src="./img/product/10.jpg" alt="">
							<ul>
								<li>sach</li>
								<li>gia</li>
							</ul>
						</div>
						<div class="splienquan">
							<img src="./img/product/10.jpg" alt="">
							<ul>
								<li>sach</li>
								<li>gia</li>
							</ul>
						</div>
						<div class="splienquan">
							<img src="./img/product/2.jpg" alt="">
							<ul>
								<li>sach</li>
								<li>gia</li>
							</ul>
						</div>
					<button type="button" class="btn btn-default btnpre"><i class="fa fa-angle-right"></i></button>
				</div>
			</div>
		</div>
		<div class="model_container_login">
			<div class="tat"></div>
			<div class="model_content">
				<div class="dangnhap">
				<form action="" method="POST" role="form">
					<legend>Đăng nhập tài khoản</legend>
					<div class="form-group">
						<label for="">Email</label>
						<input type="text" class="form-control" id="" placeholder="nguyenvana@gmail.com">
						<label for="">Mật khẩu</label>
						<input type="password" class="form-control" id="">
					</div>
					<button type="submit" class="btn btn-danger">Đăng nhập</button>
					<a href="" class="mg-20">Quên mật khẩu???</a>
					<p class="model_signin mgt-30" style="cursor: pointer;" >Bạn chưa có tài khoản???</p>
				</form>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="footer-element">
				<ul>
					<li style="text-align: center">GIỚI THIỆU</li>
					<li>Uy tín chất lượng</li>
					<li>Luôn cập nhật các đầu sách mới nhất</li>
					<li>Phục vụ tận tình</li>
				</ul>
			</div>
			<div class="footer-element">
				<ul>
					<li style="text-align: center;">LIÊN HỆ</li>
					<li>Email: bookstore@gmail.com</li>
					<li>SDT:09091275936</li>
					<li>Hotline:19006799</li>
					<li>Địa chỉ: 199 nguyễn Văn Cừ, Q1, TP. Hồ Chí Minh</li>
				</ul>
			</div>
			<div class="footer-element">
				<ul>
					<li style="text-align: center">ĐỐI TÁC</li>
					<li>Ngân hàng TechcomBank</li>
					<li>Nhà xuất bản Đồng Nai</li>
					<li>Nhà xuất bản giáo dục</li>
				</ul>
			</div>
		</div>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="./js/jquery-3.3.1.slim.min.js" ></script>
		<script src="./js/popper.min.js" ></script>
		<script src="./js/bootstrap.min.js" ></script>
	</body>
</html>