<!doctype html>
<html lang="en">
	<head>
		<title>Title</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet"href="./vendor/style.css"/>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="./css/bootstrap.min.css" >
		<script src="js/jquery.js"></script>
		<script src="main.js"></script>
		<link rel="stylesheet" href="./css/font-awesome.min.css">
	</head>
	<body>
		<div class="header">
			<div class="top-header">
				<h3>BOOKSTORE</h3>
				<ul>
					<li>Thoát</li>
					<li class="model_login">Đăng nhập</li>
					<li class="model_signin">Đăng ký</li>
				</ul>
			</div>
			<div class="content-header">
				<div class="container">
					<div class="search">
						<input type="text" name="search" id="" size="100"/>
						<button type="button" class="btn btn"><i class="fa fa-search"></i></button>
						<div class="giohang">
							<a href="Shopping_Cart.html">
							<div class="sl_giohang"><p>0</p></div>
							<img src="./img/icon/clipart-shopping-cart-256x256-9d6b.png" alt="">
							</a>
						</div>
					</div>
					<div class="menu">
						<div class="main-menu">
							<ul>
								<a href="list_product.html"><li>Sách trong nước <i class="fa fa-plus"></i></li></a>
								<a href="list_product.html"><li>Sách ngoại văn <i class="fa fa-plus"></i></li></a>
								<a href="list_product.html"><li>Đồ chơi <i class="fa fa-plus"></i></li></a>
								<a href="list_product.html"><li>Tuyển tập <i class="fa fa-plus"></i></li></a>
								<a href="list_product.html"><li>Bán chạy <i class="fa fa-plus"></i></li></a>
								<a href="list_product.html"><li>Sách học ngoại Ngữ <i class="fa fa-plus"></i></li></a>
							</ul>
						</div>
						<div class="extra-menu">
							<div class="sachtrongnuoc">
								<ul>
									<a href="list_product.html"><li>Nuôi dạy con</li></a>
									<a href="list_product.html"><li>Kinh tế</li></a>
									<a href="list_product.html"><li>Thiếu nhi</li></a>
									<a href="list_product.html"><li>Khoa học kĩ thuật</li></a>
								</ul>
							</div>
							<div class="sachngoaivan">
								<ul>
									<a href="list_product.html"><li>Hàn Quốc</li></a>
									<a href="list_product.html"><li>New York</li></a>
									<a href="list_product.html"><li>Nhật Bản</li></a>
								</ul>
							</div>
							<div class="dochoi">
								<ul>
									<a href="list_product.html"><li>Đồ chơi cho bé gái</li></a>
									<a href="list_product.html"><li>Đồ chơi cho bé trai</li></a>
									<a href="list_product.html"><li>Đồ chơi theo thương hiệu</li></a>
									<a href="list_product.html"><li>Quà lưu niệm</li></a>
								</ul>
							</div>
						</div>
					</div>
					<div class="banner">
						<img src="img/1.jpg"/>
						<img src="img/2.jpg"/>
						<img src="img/3.jpg"/>
					</div>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="container">
				<div class="khuyenmai">
					<img src="img/deal/1.png" alt="">
					<img src="img/deal/2.png" alt="">
					<img src="img/deal/3.png" alt="">
				</div>
				<div class="danhmuc" id="kmtn">
					<div class="sp-header">Khuyến mãi trong ngày</div>
					<div class="row">
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
							<div class="img-bnsp">
								<a href="#"><img src="./img/product/bn-1.jpg" alt=""></a>
							</div>
						</div>
						<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
							<div class="sp">
								<div class="sp-left">
									<a href="detail.html"><img src="./img/product/1.jpg" alt=""></a>
								</div>
								<a href="detail.html"><div class="sp-right">
									<ul>
										<li><i class="fa fa-star"></i></li>
										<li>Cố định một đám mây</li>
										<li class="giagoc">50000 VND	</li>
										<li><i class="fa fa-arrow-right"></i>36000 VND</li>
									</ul>
								</div></a>
							</div>
							<div class="sp">
								<div class="sp-left">
									<a href="detail.html"><img src="./img/product/1.jpg" alt=""></a>
								</div>
								<a href="detail.html"><div class="sp-right">
									<ul>
										<li><i class="fa fa-star"></i></li>
										<li>Cố định một đám mây</li>
										<li class="giagoc">50000 VND	</li>
										<li><i class="fa fa-arrow-right"></i>36000 VND</li>
									</ul>
								</div></a>
							</div>
							<div class="sp">
								<div class="sp-left">
									<a href="detail.html"><img src="./img/product/1.jpg" alt=""></a>
								</div>
								<a href="detail.html"><div class="sp-right">
									<ul>
										<li><i class="fa fa-star"></i></li>
										<li>Cố định một đám mây</li>
										<li class="giagoc">50000 VND	</li>
										<li><i class="fa fa-arrow-right"></i>36000 VND</li>
									</ul>
								</div></a>
							</div>
							<div class="sp">
								<div class="sp-left">
									<a href="detail.html"><img src="./img/product/1.jpg" alt=""></a>
								</div>
								<a href="detail.html"><div class="sp-right">
									<ul>
										<li><i class="fa fa-star"></i></li>
										<li>Cố định một đám mây</li>
										<li class="giagoc">50000 VND	</li>
										<li><i class="fa fa-arrow-right"></i>36000 VND</li>
									</ul>
								</div></a>
							</div>
							<div class="sp">
								<div class="sp-left">
									<a href="#"><img src="./img/product/1.jpg" alt=""></a>
								</div>
								<a href="#"><div class="sp-right">
									<ul>
										<li><i class="fa fa-star"></i></li>
										<li>Cố định một đám mây</li>
										<li class="giagoc">50000 VND	</li>
										<li><i class="fa fa-arrow-right"></i>36000 VND</li>
									</ul>
								</div></a>
							</div>
							<div class="sp">
								<div class="sp-left">
										<a href="#"><img src="./img/product/2.jpg" alt=""></a>
								</div>
								<a href="#"><div class="sp-right">
									<ul>
										<li><i class="fa fa-star"></i></li>
										<li>Cố định một đám mây</li>
										<li class="giagoc">50000 VND	</li>
										<li><i class="fa fa-arrow-right"></i>36000 VND</li>
									</ul>
								</div></a>
							</div>
							<div class="sp">
								<div class="sp-left">
									<a href="#"><img src="./img/product/3.jpg" alt=""></a>
								</div>
								<a href="#"><div class="sp-right">
									<ul>
										<li><i class="fa fa-star"></i></li>
										<li>Cố định một đám mây</li>
										<li class="giagoc">50000 VND	</li>
										<li><i class="fa fa-arrow-right"></i>36000 VND</li>
									</ul>
								</div></a>
							</div>
							<div class="sp">
								<div class="sp-left">
									<a href="#"><img src="./img/product/4.jpg" alt=""></a>
								</div>
								<a href="#"><div class="sp-right">
									<ul>
										<li><i class="fa fa-star"></i></li>
										<li>Cố định một đám mây</li>
										<li class="giagoc">50000 VND	</li>
										<li><i class="fa fa-arrow-right"></i>36000 VND</li>
									</ul>
								</div></a>
							</div>
							<div class="sp">
								<div class="sp-left">
									<a href="#"><img src="./img/product/4.jpg" alt=""></a>
								</div>
								<a href="#"><div class="sp-right">
									<ul>
										<li><i class="fa fa-star"></i></li>
										<li>Cố định một đám mây</li>
										<li class="giagoc">50000 VND	</li>
										<li><i class="fa fa-arrow-right"></i>36000 VND</li>
									</ul>
								</div></a>
							</div>
							<button type="button" class="btn btn-default btn_sp_click"><i class="fa fa-angle-right"></i></button>
						</div>
					</div>
				</div>
				<div class="danhmuc" id="spnb">
					<div class="sp-header">Sản phẩm nổi bật</div>
					<div class="row">
						<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
							<button type="button" class="btn btn-default btn_sp_click_left"><i class="fa fa-angle-left"></i></button>
							<div class="spnb_list">
								<div class="sp">
									<div class="sp-left">
										<a href="#"><img src="./img/product/5.jpg" alt=""></a>
									</div>
									<a href="#"><div class="sp-right">
										<ul>
											<li><i class="fa fa-star"></i></li>
											<li>Cố định một đám mây</li>
											<li><i class="fa fa-arrow-right"></i>36000 VND	</li>
										</ul>
									</div></a>
								</div>
								<div class="sp">
									<div class="sp-left">
										<a href="#"><img src="./img/product/6.jpg" alt=""></a>
									</div>
									<a href="#"><div class="sp-right">
										<ul>
											<li><i class="fa fa-star"></i></li>
											<li>Cố định một đám mây</li>
											<li><i class="fa fa-arrow-right"></i>36000 VND	</li>
										</ul>
									</div></a>
								</div>
								<div class="sp">
									<div class="sp-left">
										<a href="#"><img src="./img/product/7.jpg" alt=""></a>
									</div>
									<a href="#"><div class="sp-right">
										<ul>
											<li><i class="fa fa-star"></i></li>
											<li>Cố định một đám mây</li>
											<li><i class="fa fa-arrow-right"></i>36000 VND	</li>
										</ul>
									</div></a>
								</div>
								<div class="sp">
									<div class="sp-left">
										<a href="#"><img src="./img/product/8.jpg" alt=""></a>
									</div>
									<a href="#"><div class="sp-right">
										<ul>
											<li><i class="fa fa-star"></i></li>
											<li>Cố định một đám mây</li>
											<li><i class="fa fa-arrow-right"></i>36000 VND	</li>
										</ul>
									</div></a>
								</div>	
								<div class="sp">
									<div class="sp-left">
											<a href="#"><img src="./img/product/2.jpg" alt=""></a>
									</div>
									<a href="#"><div class="sp-right">
										<ul>
											<li><i class="fa fa-star"></i></li>
											<li>Cố định một đám mây</li>\
											<li><i class="fa fa-arrow-right"></i>36000 VND</li>
										</ul>
									</div></a>
								</div>
								<div class="sp">
									<div class="sp-left">
										<a href="#"><img src="./img/product/3.jpg" alt=""></a>
									</div>
									<a href="#"><div class="sp-right">
										<ul>
											<li><i class="fa fa-star"></i></li>
											<li>Cố định một đám mây</li>
											<li><i class="fa fa-arrow-right"></i>36000 VND</li>
										</ul>
									</div></a>
								</div>
								<div class="sp">
									<div class="sp-left">
										<a href="#"><img src="./img/product/4.jpg" alt=""></a>
									</div>
									<a href="#"><div class="sp-right">
										<ul>
											<li><i class="fa fa-star"></i></li>
											<li>Cố định một đám mây</li>
											<li><i class="fa fa-arrow-right"></i>36000 VND</li>
										</ul>
									</div></a>
								</div>
								<div class="sp">
									<div class="sp-left">
										<a href="#"><img src="./img/product/4.jpg" alt=""></a>
									</div>
									<a href="#"><div class="sp-right">
										<ul>
											<li><i class="fa fa-star"></i></li>
											<li>Cố định một đám mây</li>
											<li><i class="fa fa-arrow-right"></i>36000 VND</li>
										</ul>
									</div></a>
								</div>	
							</div>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
							<div class="img-bnsp">
								<img src="./img/product/bn-2.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="danhmuc" id="spm">
					<div class="sp-header">Sản Phẩm mới</div>
					<div class="row">
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
							<div class="img-bnsp">
								<img src="./img/product/bn-3.jpg" alt="">
							</div>
						</div>
						<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
							<div class="spnb_list">
								<div class="sp">
									<div class="sp-left">
										<a href="#"><img src="./img/product/9.jpg" alt=""></a>
									</div>
									<a href="#"><div class="sp-right">
										<ul>
											<li><i class="fa fa-star"></i></li>
											<li>Cố định một đám mây</li>
											<li><i class="fa fa-arrow-right"></i>36000 VND	</li>
										</ul>
									</div></a>
								</div>
								<div class="sp">
									<div class="sp-left">
										<a href="#"><img src="./img/product/13.jpg" alt=""></a>
									</div>
									<a href="#"><div class="sp-right">
										<ul>
											<li><i class="fa fa-star"></i></li>
											<li>Cố định một đám mây</li>
											<li><i class="fa fa-arrow-right"></i>36000 VND	</li>
										</ul>
									</div></a>
								</div>
								<div class="sp">
									<div class="sp-left">
										<a href="#"><img src="./img/product/10.jpg" alt=""></a>
									</div>
									<a href="#"><div class="sp-right">
										<ul>
											<li><i class="fa fa-star"></i></li>
											<li>Cố định một đám mây</li>
											<li><i class="fa fa-arrow-right"></i>36000 VND	</li>
										</ul>
									</div></a>
								</div>
								<div class="sp">
									<div class="sp-left">
										<a href="#"><img src="./img/product/12.jpg" alt=""></a>
									</div>
									<a href="#"><div class="sp-right">
										<ul>
											<li><i class="fa fa-star"></i></li>
											<li>Cố định một đám mây</li>
											<li><i class="fa fa-arrow-right"></i>36000 VND	</li>
										</ul>
									</div></a>
								</div>
								<div class="sp">
									<div class="sp-left">
										<a href="#"><img src="./img/product/12.jpg" alt=""></a>
									</div>
									<a href="#"><div class="sp-right">
										<ul>
											<li><i class="fa fa-star"></i></li>
											<li>Cố định một đám mây</li>
											<li><i class="fa fa-arrow-right"></i>36000 VND	</li>
										</ul>
									</div></a>
								</div>
								<div class="sp">
									<div class="sp-left">
										<a href="#"><img src="./img/product/5.jpg" alt=""></a>
									</div>
									<a href="#"><div class="sp-right">
										<ul>
											<li><i class="fa fa-star"></i></li>
											<li>Cố định một đám mây</li>
											<li><i class="fa fa-arrow-right"></i>36000 VND	</li>
										</ul>
									</div></a>
								</div>
								<div class="sp">
									<div class="sp-left">
										<a href="#"><img src="./img/product/6.jpg" alt=""></a>
									</div>
									<a href="#"><div class="sp-right">
										<ul>
											<li><i class="fa fa-star"></i></li>
											<li>Cố định một đám mây</li>
											<li><i class="fa fa-arrow-right"></i>36000 VND	</li>
										</ul>
									</div></a>
								</div>
								<div class="sp">
									<div class="sp-left">
										<a href="#"><img src="./img/product/7.jpg" alt=""></a>
									</div>
									<a href="#"><div class="sp-right">
										<ul>
											<li><i class="fa fa-star"></i></li>
											<li>Cố định một đám mây</li>
											<li><i class="fa fa-arrow-right"></i>36000 VND	</li>
										</ul>
									</div></a>
								</div>
								<div class="sp">
									<div class="sp-left">
										<a href="#"><img src="./img/product/8.jpg" alt=""></a>
									</div>
									<a href="#"><div class="sp-right">
										<ul>
											<li><i class="fa fa-star"></i></li>
											<li>Cố định một đám mây</li>
											<li><i class="fa fa-arrow-right"></i>36000 VND	</li>
										</ul>
									</div></a>
								</div>	
								<div class="sp">
									<div class="sp-left">
											<a href="#"><img src="./img/product/2.jpg" alt=""></a>
									</div>
									<a href="#"><div class="sp-right">
										<ul>
											<li><i class="fa fa-star"></i></li>
											<li>Cố định một đám mây</li>
											<li><i class="fa fa-arrow-right"></i>36000 VND</li>
										</ul>
									</div></a>
								</div>
								<button type="button" class="btn btn-default btn_sp_click_right"><i class="fa fa-angle-right"></i></button>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="model_container">
			<div class="tat"></div>
			<div class="model_content">
				<div class="dangky">
				<form action="" method="POST" role="form">
					<legend>Đăng ký thành viên</legend>
				
					<div class="form-group">
						<label for="">Họ và tên</label>
						<input type="text" class="form-control" id="" placeholder="Nguyen van a">
						<label for="">Email</label>
						<input type="text" class="form-control" id="" placeholder="nguyenvana@gmail.com">
						<label for="">Mật khẩu</label>
						<input type="password" class="form-control" id="">
						<label for="">Nhập lại mật khẩu</label>
						<input type="password" class="form-control" id="">
						<label for="">Số điện thoại</label>
						<input type="text" class="form-control" id="" placeholder="0972648279">
						<label for="">Địa chỉ</label>
						<input type="text" class="form-control" id="" placeholder="123 nguyen van cu, phuong 2, q1">
					</div>
					<button type="submit" class="btn btn-danger">Đăng ký</button>
				</form>
				</div>
			</div>
		</div>
		<div class="model_container_login">
			<div class="tat"></div>
			<div class="model_content">
				<div class="dangnhap">
				<form action="" method="POST" role="form">
					<legend>Đăng nhập tài khoản</legend>
					<div class="form-group">
						<label for="">Email</label>
						<input type="text" class="form-control" id="" placeholder="nguyenvana@gmail.com">
						<label for="">Mật khẩu</label>
						<input type="password" class="form-control" id="">
					</div>
					<button type="submit" class="btn btn-danger">Đăng nhập</button>
					<a href="" class="mg-20">Quên mật khẩu???</a>
					<p class="model_signin mgt-30" style="cursor: pointer;" >Bạn chưa có tài khoản???</p>
				</form>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="footer-element">
				<ul>
					<li style="text-align: center">GIỚI THIỆU</li>
					<li>Uy tín chất lượng</li>
					<li>Luôn cập nhật các đầu sách mới nhất</li>
					<li>Phục vụ tận tình</li>
				</ul>
			</div>
			<div class="footer-element">
				<ul>
					<li style="text-align: center;">LIÊN HỆ</li>
					<li>Email: bookstore@gmail.com</li>
					<li>SDT:09091275936</li>
					<li>Hotline:19006799</li>
					<li>Địa chỉ: 199 nguyễn Văn Cừ, Q1, TP. Hồ Chí Minh</li>
				</ul>
			</div>
			<div class="footer-element">
				<ul>
					<li style="text-align: center">ĐỐI TÁC</li>
					<li>Ngân hàng TechcomBank</li>
					<li>Nhà xuất bản Đồng Nai</li>
					<li>Nhà xuất bản giáo dục</li>
				</ul>
			</div>
		</div>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="./js/jquery-3.3.1.slim.min.js" ></script>
		<script src="./js/popper.min.js" ></script>
		<script src="./js/bootstrap.min.js" ></script>
	</body>
</html>