<!doctype html>
<html lang="en">
	<head>
		<title>Title</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet"href="./vendor/style.css"/>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="./css/bootstrap.min.css" >
		<script src="js/jquery.js"></script>
		<script src="main.js"></script>
		<link rel="stylesheet" href="./css/font-awesome.min.css">
	</head>
	<body>
		<div class="header">
			<div class="top-header">
				<h3>BOOKSTORE</h3>
				<ul>
					<li>Thoát</li>
					<li>Đăng nhập</li>
				</ul>
			</div>
			<div class="content-header">
				<div class="container">
					<div class="search">
						<input type="text" name="search" id="" size="100"/>
						<button type="button" class="btn btn"><i class="fa fa-search"></i></button>
    					<a>
                            <button type="button" class="btn btn left-20">
                                <i class="fa fa-cart-arrow-down">    Giỏ hàng</i>
                            </button>
                        </a>
					</div>
					<div class="menu">
						<div class="main-menu">
							<ul>
								<li>Sách trong nước <i class="fa fa-plus"></i></li>
								<li>Sách ngoại văn <i class="fa fa-plus"></i></li>
								<li>Đồ chơi <i class="fa fa-plus"></i></li>
								<li>Tuyển tập <i class="fa fa-plus"></i></li>
								<li>Bán chạy <i class="fa fa-plus"></i></li>
								<li>Sách học ngoại Ngữ <i class="fa fa-plus"></i></li>
							</ul>
						</div>
						<div class="extra-menu">
							<div class="sachtrongnuoc">
								<ul>
									<li>Nuôi dạy con</li>
									<li>Kinh tế</li>
									<li>Thiếu nhi</li>
									<li>Khoa học kĩ thuật</li>
								</ul>
							</div>
							<div class="sachngoaivan">
								<ul>
									<li>Hàn Quốc</li>
									<li>New York</li>
									<li>Nhật Bản</li>
								</ul>
							</div>
							<div class="dochoi">
								<ul>
									<li>Đồ chơi cho bé gái</li>
									<li>Đồ chơi cho bé trai</li>
									<li>Đồ chơi theo thương hiệu</li>
									<li>Quà lưu niệm</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="banner">
						<img src="img/1.jpg"/>
						<img src="img/2.jpg"/>
						<img src="img/3.jpg"/>
					</div>
				</div>
			</div>
		</div>
		<div class="content">
            <div class="top_content">
                <h5><i class="fa fa-angle-right"></i>
                    Sách văn học Việt Nam</h5>
                    <div class="search" style="width: 50%;margin-left: 200px">
                        <input type="text" name="search" id="" size="50"/>
                        <button type="button" class="btn btn"><i class="fa fa-search"></i></button>
                    </div>
            </div>
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <div class="timtheogia">
                        <span class="input-group-btn">
                            <div class="form-group">
                            <label for="">Tìm theo gía</label>
                            <select multiple class="form-control" name="" id="">
                                <option>&#60;50.000</option>
                                <option>&#60;100.000</option>
                                <option>&#62;50.000</option>
                            </select>
                            </div>
                        </span>
                    </div>
                    <div class="timtheotacgia">
                        <div class="form-group">
                          <label for="">Tác Giả</label>
                          <select class="form-control" name="" id="">
                            <option>Nhã Nam</option>
                            <option>Nhã Nam</option>
                            <option>Nhã Nam</option>
                            <option>Nhã Nam</option>
                            <option>Nhã Nam</option>
                          </select>
                        </div>
                    </div>
                    <div class="timtheoNXB">
                        <div class="form-group">
                          <label for="">Nhà xuất bản</label>
                          <select class="form-control" name="" id="">
                            <option>NXB Kim Đồng</option>
                            <option>NXB Giáo dục</option>
                            <option>NXB Đồng Nai</option>
                          </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <div class="dssp">
                        <div class="sanpham">
                            <img src="./img/product/10.jpg" alt="">
                            <ul>
                                <li>Nhà Giả Kim</li>
                                <li>78.0000 VND</li>
                                <li>
                                    <button type="button" class="btn btn-success">Mua ngay</button>
                                    <button type="button" class="btn btn-warning">Thêm vào giỏ</button>
                                </li>
                            </ul>
                        </div>
                        <div class="sanpham">
                            <img src="./img/product/10.jpg" alt="">
                            <ul>
                                <li>Nhà Giả Kim</li>
                                <li>78.0000 VND</li>
                                <li>
                                    <button type="button" class="btn btn-success">Mua ngay</button>
                                    <button type="button" class="btn btn-warning">Thêm vào giỏ</button>
                                </li>
                            </ul>
                        </div>
                        <div class="sanpham">
                            <img src="./img/product/10.jpg" alt="">
                            <ul>
                                <li>Nhà Giả Kim</li>
                                <li>78.0000 VND</li>
                                <li>
                                    <button type="button" class="btn btn-success">Mua ngay</button>
                                    <button type="button" class="btn btn-warning">Thêm vào giỏ</button>
                                </li>
                            </ul>
                        </div>
                        <div class="sanpham">
                            <img src="./img/product/10.jpg" alt="">
                            <ul>
                                <li>Nhà Giả Kim</li>
                                <li>78.0000 VND</li>
                                <li>
                                    <button type="button" class="btn btn-success">Mua ngay</button>
                                    <button type="button" class="btn btn-warning">Thêm vào giỏ</button>
                                </li>
                            </ul>
                        </div>
                        <div class="sanpham">
                            <img src="./img/product/10.jpg" alt="">
                            <ul>
                                <li>Nhà Giả Kim</li>
                                <li>78.0000 VND</li>
                                <li>
                                    <button type="button" class="btn btn-success">Mua ngay</button>
                                    <button type="button" class="btn btn-warning">Thêm vào giỏ</button>
                                </li>
                            </ul>
                        </div>
                        <div class="sanpham">
                            <img src="./img/product/10.jpg" alt="">
                            <ul>
                                <li>Nhà Giả Kim</li>
                                <li>78.0000 VND</li>
                                <li>
                                    <button type="button" class="btn btn-success">Mua ngay</button>
                                    <button type="button" class="btn btn-warning">Thêm vào giỏ</button>
                                </li>
                            </ul>
                        </div>
                        <div class="sanpham">
                            <img src="./img/product/10.jpg" alt="">
                            <ul>
                                <li>Nhà Giả Kim</li>
                                <li>78.0000 VND</li>
                                <li>
                                    <button type="button" class="btn btn-success">Mua ngay</button>
                                    <button type="button" class="btn btn-warning">Thêm vào giỏ</button>
                                </li>
                            </ul>
                        </div>
                        <div class="sanpham">
                            <img src="./img/product/10.jpg" alt="">
                            <ul>
                                <li>Nhà Giả Kim</li>
                                <li>78.0000 VND</li>
                                <li>
                                    <button type="button" class="btn btn-success">Mua ngay</button>
                                    <button type="button" class="btn btn-warning">Thêm vào giỏ</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mg-20">
                <div class="ls-splq">
                    <div class="toplq">
                        <p><i class="fa fa-angle-right"></i>
                            Sản phẩm liên quan</p>
                    </div>
                    <button type="button" class="btn btn-default btnpre"><i class="fa fa-angle-left"></i></button>
                        <div class="splienquan">
                            <img src="./img/product/9.jpg" alt="">
                            <ul>
                                <li>sach</li>
                                <li>gia</li>
                            </ul>
                        </div>
                        <div class="splienquan">
                            <img src="./img/product/8.jpg" alt="">
                            <ul>
                                <li>sach</li>
                                <li>gia</li>
                            </ul>
                        </div>
                        <div class="splienquan">
                            <img src="./img/product/7.jpg" alt="">
                            <ul>
                                <li>sach</li>
                                <li>gia</li>
                            </ul>
                        </div>
                        <div class="splienquan">
                            <img src="./img/product/6.jpg" alt="">
                            <ul>
                                <li>sach</li>
                                <li>gia</li>
                            </ul>
                        </div>
                        <div class="splienquan">
                            <img src="./img/product/5.jpg" alt="">
                            <ul>
                                <li>sach</li>
                                <li>gia</li>
                            </ul>
                        </div>
                        <div class="splienquan">
                            <img src="./img/product/4.jpg" alt="">
                            <ul>
                                <li>sach</li>
                                <li>gia</li>
                            </ul>
                        </div>
                        <div class="splienquan">
                            <img src="./img/product/10.jpg" alt="">
                            <ul>
                                <li>sach</li>
                                <li>gia</li>
                            </ul>
                        </div>
                        <div class="splienquan">
                            <img src="./img/product/10.jpg" alt="">
                            <ul>
                                <li>sach</li>
                                <li>gia</li>
                            </ul>
                        </div>
                        <div class="splienquan">
                            <img src="./img/product/2.jpg" alt="">
                            <ul>
                                <li>sach</li>
                                <li>gia</li>
                            </ul>
                        </div>
                    <button type="button" class="btn btn-default btnpre"><i class="fa fa-angle-right"></i></button>
                </div>
            </div>
		</div>
        <div class="model_container_login">
            <div class="tat"></div>
            <div class="model_content">
                <div class="dangnhap">
                <form action="" method="POST" role="form">
                    <legend>Đăng nhập tài khoản</legend>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="text" class="form-control" id="" placeholder="nguyenvana@gmail.com">
                        <label for="">Mật khẩu</label>
                        <input type="password" class="form-control" id="">
                    </div>
                    <button type="submit" class="btn btn-danger">Đăng nhập</button>
                    <a href="" class="mg-20">Quên mật khẩu???</a>
                    <p class="model_signin mgt-30" style="cursor: pointer;" >Bạn chưa có tài khoản???</p>
                </form>
                </div>
            </div>
        </div>
		<div class="footer">
			<div class="footer-element">
				<ul>
					<li style="text-align: center">GIỚI THIỆU</li>
					<li>Uy tín chất lượng</li>
					<li>Luôn cập nhật các đầu sách mới nhất</li>
					<li>Phục vụ tận tình</li>
				</ul>
			</div>
			<div class="footer-element">
				<ul>
					<li style="text-align: center;">LIÊN HỆ</li>
					<li>Email: bookstore@gmail.com</li>
					<li>SDT:09091275936</li>
					<li>Hotline:19006799</li>
					<li>Địa chỉ: 199 nguyễn Văn Cừ, Q1, TP. Hồ Chí Minh</li>
				</ul>
			</div>
			<div class="footer-element">
				<ul>
					<li style="text-align: center">ĐỐI TÁC</li>
					<li>Ngân hàng TechcomBank</li>
					<li>Nhà xuất bản Đồng Nai</li>
					<li>Nhà xuất bản giáo dục</li>
				</ul>
			</div>
		</div>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="./js/jquery-3.3.1.slim.min.js" ></script>
		<script src="./js/popper.min.js" ></script>
		<script src="./js/bootstrap.min.js" ></script>
	</body>
</html>