<!doctype html>
<html lang="en">
	<head>
		<title>Title</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet"href="./vendor/style.css"/>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="./css/bootstrap.min.css" >
		<script src="js/jquery.js"></script>
		<script src="jquery.js"></script>
		<link rel="stylesheet" href="./css/font-awesome.min.css">
	</head>
	<body>
		<div class="header">
			<div class="top-header">
				<h3>BOOKSTORE</h3>
				<ul>
					<li>Thoát</li>
					<li>Đăng nhập</li>
				</ul>
			</div>
			<div class="content-header">
				<div class="container">
					<div class="search">
						<input type="text" name="search" id="" size="100"/>
						<button type="button" class="btn btn"><i class="fa fa-search"></i></button>
						<button type="button" class="btn btn left-20"><i class="fa fa-cart-arrow-down">    Giỏ hàng</i></button>
					</div>
					<div class="menu">
						<div class="main-menu">
							<ul>
								<li>Sách trong nước <i class="fa fa-plus"></i></li>
								<li>Sách ngoại văn <i class="fa fa-plus"></i></li>
								<li>Đồ chơi <i class="fa fa-plus"></i></li>
								<li>Tuyển tập <i class="fa fa-plus"></i></li>
								<li>Bán chạy <i class="fa fa-plus"></i></li>
								<li>Sách học ngoại Ngữ <i class="fa fa-plus"></i></li>
							</ul>
						</div>
						<div class="extra-menu">
							<div class="sachtrongnuoc">
								<ul>
									<li>Nuôi dạy con</li>
									<li>Kinh tế</li>
									<li>Thiếu nhi</li>
									<li>Khoa học kĩ thuật</li>
								</ul>
							</div>
							<div class="sachngoaivan">
								<ul>
									<li>Hàn Quốc</li>
									<li>New York</li>
									<li>Nhật Bản</li>
								</ul>
							</div>
							<div class="dochoi">
								<ul>
									<li>Đồ chơi cho bé gái</li>
									<li>Đồ chơi cho bé trai</li>
									<li>Đồ chơi theo thương hiệu</li>
									<li>Quà lưu niệm</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="banner">
						<img src="img/1.jpg"/>
						<img src="img/2.jpg"/>
						<img src="img/3.jpg"/>
					</div>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="container">
                <div class="dangky">
                <form action="" method="POST" role="form">
                    <legend>Đăng ký thành viên</legend>
                
                    <div class="form-group">
                        <label for="">Họ và tên</label>
                        <input type="text" class="form-control" id="" placeholder="Input field">
                        <label for="">Email</label>
                        <input type="text" class="form-control" id="" placeholder="Input field">
                        <label for="">Số điện thoại</label>
                        <input type="text" class="form-control" id="" placeholder="Input field">
                        <label for="">Địa chỉ</label>
                        <input type="text" class="form-control" id="" placeholder="Input field">
                    </div>
                    <button type="submit" class="btn btn-primary">Đăng ký</button>
                </form>
                </div>
			</div>
		</div>
		
		<div class="footer">
			<div class="footer-element">
				<ul>
					<li style="text-align: center">GIỚI THIỆU</li>
					<li>Uy tín chất lượng</li>
					<li>Luôn cập nhật các đầu sách mới nhất</li>
					<li>Phục vụ tận tình</li>
				</ul>
			</div>
			<div class="footer-element">
				<ul>
					<li style="text-align: center;">LIÊN HỆ</li>
					<li>Email: bookstore@gmail.com</li>
					<li>SDT:09091275936</li>
					<li>Hotline:19006799</li>
					<li>Địa chỉ: 199 nguyễn Văn Cừ, Q1, TP. Hồ Chí Minh</li>
				</ul>
			</div>
			<div class="footer-element">
				<ul>
					<li style="text-align: center">ĐỐI TÁC</li>
					<li>Ngân hàng TechcomBank</li>
					<li>Nhà xuất bản Đồng Nai</li>
					<li>Nhà xuất bản giáo dục</li>
				</ul>
			</div>
		</div>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="./js/jquery-3.3.1.slim.min.js" ></script>
		<script src="./js/popper.min.js" ></script>
		<script src="./js/bootstrap.min.js" ></script>
	</body>
</html>