{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{% block title %}{% endblock %}</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicons -->
	<link rel="shortcut icon" href="{% static 'website/images/favicon.ico' %}">
	<link rel="apple-touch-icon" href="{% static 'website/images/icon.png' %}">

	<!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i,700,700i,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"> 

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'website/css/plugins.css' %}">
	<link rel="stylesheet" href="{% static 'website/style.css' %}">

	<!-- Cusom css -->
   <link rel="stylesheet" href="{% static 'website/css/custom.css' %}">

	<!-- Modernizer js -->
	<script src="{% static 'website/js/vendor/modernizr-3.5.0.min.js' %}"></script>
	{% block custom_style %}
	{% endblock %}
</head>
<body>
	<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">
		<!-- Header -->
		{%  include "website/snippets/header.html"%}
		<!-- //Header -->
		<!-- Start Search Popup -->
		{% include "website/snippets/search.html" %}
		<!-- End Search Popup -->

		<!-- Start BEst Seller Area -->

		{% block content %}
		{% endblock %}
		

		{% include "website/snippets/footer.html" %}
		<!-- //Footer Area -->
		<!-- QUICKVIEW PRODUCT -->
		{% include "website/snippets/quickview.html" %}
		<!-- END QUICKVIEW PRODUCT -->
	</div>
	<!-- //Main wrapper -->

	<!-- JS Files -->
	<script src="{% static 'website/js/vendor/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'website/js/popper.min.js' %}"></script>
	<script src="{% static 'website/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'website/js/plugins.js' %}"></script>
	<script src="{% static 'website/js/active.js' %}"></script>
	{% block custom_js %}
	{% endblock %}
</body>
</html>