<div id="menuContent">
    <div id="menuSize">
        <aside class="sidebar">
            <nav class="sidebar-nav">
                <ul class="metismenu" id="menu">
                    <li>
                        <a href="/admin" aria-expanded="true">
                            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                            <span class="sidebar-nav-item">Tổng quan</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" aria-expanded="true">
                            <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
                            <span class="sidebar-nav-item">Quản lý sản phẩm</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul aria-expanded="false" class="collapse">
                            <li>
                                <a href="/admin/manager_product">
                                    Sản phẩm
                                </a>
                            </li>
                            <li>
                                <a href="/admin/manager_category">
                                Thể loại
                                </a>
                            </li>
                            <li>
                                <a href="/admin/manager_rating">
                                Đánh giá <span class="badge colorCyan pull-right">3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/admin/manager_order"><span class="glyphicon glyphicon-camera"></span>
                        Quản lý đơn hàng
                        </a>
                    </li>
                    
                    <li>
                        <a href="#" aria-expanded="true">
                            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                            <span class="sidebar-nav-item">Quản lý kho</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul aria-expanded="false" class="collapse">
                            <li>
                                <a href="/admin/manager_stock">
                                    Kho
                                </a>
                            </li>
                            <li>
                                <a href="/admin/manager_receipt">
                                    Phiếu nhập
                                </a>
                            </li>
                        </ul>
                        <li>

                            <a href="/admin/manager_account"><span class="glyphicon glyphicon-calendar"></span>
                            Quản lý tài khoản
                        </a>
                        </li>
                        <li>
                            <a href="/admin/setup"><span class="glyphicon glyphicon-check"></span>
                            Cài đặt
                        </a>
                        </li>
                </ul>
            </nav>
        </aside>
    </div>
    <!--menuSize-->
</div>