{% extends "admin/base.html" %}
{% load staticfiles %}
{% block title %}
Thêm phiếu nhập
{% endblock %}
{% block header %}
<div class="col-lg-9  col-md-8  col-sm-7">
    <div class="firstRowHeader">
        <h5>Thêm phiếu nhập</h5>
    </div>
    <ol class="breadcrumb">
        <li><a href="index.html">Trang chủ</a></li>
        <li><a>Phiếu nhập</a></li>
        <li class="active">Thêm phiếu nhập</li>
    </ol>
</div>
{% endblock %}
{% block content %}
{% endblock %}

{% block js %}
{% endblock %}